

/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
h2 {
font-size: 200%;
}

p {
font-size: 100%;
}

h1 {
font-size: 250%;
}

h3 {
font-size: 150%; font-weight: bold;
}

sup {
vertical-align: super;
}

h3 {
font-size: 150%; font-weight: bold;
}

