#premium-self-serve #site-wrapper #content {

    header {

        h1 { 

            @include media($desktop) { width: 570px; }
        }
    }

    .body-content {

        article {

            section {
                padding-left: 340px;
                background-color: #e1ebed;
                background-image: url(../img/self-serve-body.png);
                background-repeat: no-repeat;
                background-size: 39%;
                background-position: left bottom;

                @include media($tablet) {
                    padding: 60px 20px 60px 270px;
                    background-size: 300px;
                    background-position: left bottom;
                }

                @include media($mobile) {
                    padding-left: 20px;
                    background: url(../img/self-serve-body.png) no-repeat;
                    background-position: center bottom;
                }

                @include media($big-mobile) {
                    padding-bottom: 40%;
                    background-size: 60%;
                }

                @include media($small-mobile) {
                    padding-bottom: 70%;
                    background-size: auto;
                }

                &.ca-en, &.ca-fr { height: 360px; padding-left: 360px; background-image: url(../img/wps_paper_cup_french.jpg);

                    @include media($mobile) { padding-left: 20px; height: auto; padding-bottom: 270px; }
                }
            }
        }
    }

    .support-content {
        background: #fff;

        .icup-brewers {
            background: #363640;

            section {
                padding: 80px 20px 80px 20px;
                background: url(../img/backgrounds/selfserve-support-bg.png) no-repeat;
                background-position: right center;
                color: #fff;

                @include media($sub-desktop) {
                    width: 100%;
                    padding-top: 20px;
                }

                @include media($tablet) {
                    padding-right: 200px;
                    padding-bottom: 40px;
                }

                @include media($big-mobile) {
                    padding-bottom: 10%;
                    background-size: 90%;
                    background-position: 240px 360px;
                }

                @include media($small-mobile) {
                    padding-bottom: 220px;
                    background-size: 85%;
                    background-position: 50% 136%;
                }

                &.ca-en { background-image: url(../img/backgrounds/selfserve-support-bg-ca-en.png);

                    @include media($small-mobile) { background-image: url(../img/backgrounds/selfserve-support-bg-ca-en-bil.png); background-size: auto; background-position: center bottom; }
                }
                &.ca-fr { background-image: url(../img/backgrounds/selfserve-support-bg-ca-fr.png);

                    @include media($small-mobile) { background-image: url(../img/backgrounds/selfserve-support-bg-ca-fr-bil.png); background-size: auto; background-position: center bottom; }
                }

                > h3 {
                    margin-top: 0;
                }

                .article-two-column {
                    display: inline-block;
                    margin-right: 15px;
                    vertical-align: top;
                    width: 39%;

                    @include media($mobile) { @include clearfix; width: 100%; margin-right: 0; }
                }
            }
        }
    }
}
