#licensed-stores #site-wrapper #content {

	header {

		h1 { width: 100%; }
	}
	.body-content {

		article {

			section { background-image: url(../img/licensed-stores-body.png); }
		}
	}
	.support-content { background: #fff;

		.signature { background: #4a423b;

			section { padding: 40px 20px 40px 20px; color: #fff;

				@include media($sub-desktop) { padding-top: 20px; width: 100%; }
				@include media($mobile) { padding-right: 20px; }

				.ls-img-tiles { @include clearfix; display: block; padding-left: 0; width: 830px; list-style: none;
					
					@include media($sub-desktop) { margin-top: 20px; width: 100%; }

					li { @include float(left); margin-top: 0; margin-left: 0; background-image: none;

						@include media($mobile) { display: block; float: none; margin-top: 20px; width: 100%; }

						&:before { content: none !important; }
						&:first-child { margin-left: 0;

							@include media ($mobile) { margin-top: 0; }
						}

						img { width: 259px; height: 259px;

							@include media($tablet) { width: 222px; height: 222px; }
							@include media($big-mobile) { @include blockcenter;	}
						}

					}
				}
			}
		}
	}
}