#tazo #site-wrapper #content {

	header {

		h1, h3, p { color: $med-gray; }
		p {

			@include media($big-mobile) { width: 80%; }
		}
	}

	.body-content {

		article { background: #bab0a5 url(../img/backgrounds/tazo-body.png) no-repeat; background-position: center center;

			@include media($tablet) { background-position: 45% center; }
			@include media($mobile) { background-image: none; }

			section { padding-left: 400px;

				@include media($tablet) { padding-left: 55%; }
				@include media($mobile) { padding-left: 20px; background-position: center bottom; background-size: 100%; background-repeat: no-repeat; }
				@include media($big-mobile) { padding-top: 50px; padding-bottom: 24%; background-image: url(../img/backgrounds/tazo-body-big-mobile-bg.jpg); }
				@include media($small-mobile) { padding-top: 30px; padding-bottom: 28%; background-image: url(../img/backgrounds/tazo-body-small-mobile.png); }

				h2 { margin-top: 20px; }

				.tazo-logo { width: 240px;

					@include media($tablet) { width: 200px;	}
					@include media($small-mobile) {	width: 160px; }
				}
			}
		}
	}

	.support-content { background: #fff;

		.bottom-edger { height: 150px; background: url(../img/tazo-bottom-edger.png) no-repeat; background-position: center 102%;

			@include media($tablet){ height: 120px; background-size: 600px; }
			@include media($mobile) { background-size: 90%; }
			@include media($big-mobile){ height: 110px; background-position: center 120%;	}
			@include media($small-mobile){ height: 90px; background-position: center 110%; }
		}
	}
}