@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "~/Views/Master.cshtml";
}

<section id="equipment">
    <header class="abspos-header">
        <h1 class="abspos-header__title light">EQUIPMENT</h1>
        <p class="light">Explore your equipment options and find what’s right for your operation.</p>
    </header>
    <div class="catalog-back">
        <a class="dotted-link alt" href="/equipment">« Back to Equipment</a>
    </div>
    <div class="filter-summary">
        <div class="inner-container">
            <div id="filter-summary">Brewing Equipment</div>
        </div>
    </div>
    <div class="product-list-v2">
        <div class="inner-container">
            <section>
                <div class="product-v2">
                    <div>
                        <img alt="BUNN® CW15 Single Pourover" src="/img/equipment/200/bunn_cw15.jpg" title="BUNN® CW15 Single Pourover">
                        <div class="product-list-desc">
                            <h3>BUNN&reg; CW15 Single Pourover</h3>
                            <p>Brewing instructions, cleaning instructions, hold-time standards, and a handy troubleshooting guide.</p>
                            <a target="_blank" class="btn" href="/resources/pdf/Bunn%20CW15%20APS%20Single%20Brewer.pdf">Download PDF</a>
                        </div>
                    </div>
                </div>
                <div class="product-v2">
                    <div>
                        <img alt="BUNN® CW15 Single Brewer Setup" src="/img/equipment/200/bunn_cw15.jpg" title="BUNN® CW15 Single Brewer Setup">
                        <div class="product-list-desc">
                            <h3>BUNN&reg; CW15 Single Brewer Setup</h3>
                            <p>How to set up a pour-over brewer.</p>
                            <a target="_blank" class="btn" href="/resources/pdf/Bunn%20CW15%20APS%20Pour%20Over%20Brewer%20Setup.pdf">Download PDF</a>
                        </div>
                    </div>
                </div>
                <div class="product-v2">
                    <div>
                        <img alt="BUNN® CWTF Airpot Brewer" src="/img/equipment/200/cwtf_model_image.jpg" title="BUNN® CWTF Airpot Brewer">
                        <div class="product-list-desc">
                            <h3>BUNN&reg; CWTF Airpot Brewer</h3>
                            <p>Instructions for operating, cleaning and troubleshooting your coffee brewer.</p>
                            <a target="_blank" class="btn" href="/resources/pdf/Bunn%20CWTF%20Airpot%20Brewer%20-%20WPB.pdf">Download PDF</a>
                        </div>
                    </div>
                </div>
                <div class="product-v2">
                    <div>
                        <img alt="BUNN® Axiom" src="/img/equipment/200/bunn_axiom_single_and_twin_airpot_brewer.jpg" title="BUNN® Axiom">
                        <div class="product-list-desc">
                            <h3>BUNN&reg; Axiom</h3>
                            <p>Instructions for operating, cleaning and troubleshooting, plus water filter ordering information.</p>
                            <a target="_blank" class="btn" href="/resources/pdf/Bunn%20Axiom.pdf">Download PDF</a>
                        </div>
                    </div>
                </div>
                <div class="product-v2">
                    <div>
                        <img alt="BUNN® Axiom Low Profile" src="/img/equipment/200/1_axiom_low_profile.jpg" title="BUNN® Axiom Low Profile">
                        <div class="product-list-desc">
                            <h3>BUNN&reg; Axiom Low Profile</h3>
                            <p>Instructions for operating, cleaning and troubleshooting, plus water filter ordering information.</p>
                            <a target="_blank" class="btn" href="/resources/pdf/Bunn%20Axiom%20Low%20Profile.pdf">Download PDF</a>
                        </div>
                    </div>
                </div>
                <div class="product-v2">
                    <div>
                        <img alt="BUNN® 1.5 Gallon" src="/img/equipment/200/bunn_1_5_gallon_thermal_server.jpg" title="BUNN® 1.5 Gallon">
                        <div class="product-list-desc">
                            <h3>BUNN&reg; 1.5 Gallon</h3>
                            <p>Directions for operating, cleaning and repairing your Thermal Server.</p>
                            <a target="_blank" class="btn" href="/resources/pdf/bunn-1.5-gallon-thermal-server.pdf">Download PDF</a>
                        </div>
                    </div>
                </div>
                <div class="product-v2">
                    <div>
                        <img alt="BUNN® Thermofresh® 1.5 Gallon" src="/img/equipment/200/bunn_single_and_twin_thermofresh_1.jpg" title="BUNN® Thermofresh® 1.5 Gallon">
                        <div class="product-list-desc">
                            <h3>BUNN&reg; Thermofresh&reg; 1.5 Gallon</h3>
                            <p>Instructions for operating, cleaning and troubleshooting, plus water filter ordering information.</p>
                            <a target="_blank" class="btn" href="/resources/pdf/Bunn%20Thermofresh%201.5%20Gallon.pdf">Download PDF</a>
                        </div>
                    </div>
                </div>
                <div class="product-v2">
                    <div>
                        <img alt="BUNN® 3.0 Gallon" src="/img/equipment/200/bunn_3_gallon_thermal_server.jpg" title="BUNN® 3.0 Gallon">
                        <div class="product-list-desc">
                            <h3>BUNN&reg; 3.0 Gallon</h3>
                            <p>Directions for operating, cleaning and repairing your Thermal Server.</p>
                            <a target="_blank" class="btn" href="/resources/pdf/Bunn%203%20Gallon%20Thermal.pdf">Download PDF</a>
                        </div>
                    </div>
                </div>
                <div class="product-v2">
                    <div>
                        <img alt="BUNN® TU3 &amp; TB3" src="/img/equipment/200/bunn_3_gallon_tea_brewer.jpg" title="BUNN® TU3 &amp; TB3">
                        <div class="product-list-desc">
                            <h3>BUNN&reg; TU3 &amp; TB3</h3>
                            <p>Instructions for operating, cleaning and troubleshooting, plus water filter ordering information.</p>
                            <a target="_blank" class="btn" href="/resources/pdf/Bunn%20TU-3.pdf">Download PDF</a>
                        </div>
                    </div>
                </div>
                <div class="product-v2">
                    <div>
                        <img alt="FETCO® 50 Series" src="/img/equipment/200/14_fetco_50_series.jpg" title="FETCO® 50 Series">
                        <div class="product-list-desc">
                            <h3>FETCO&reg; 50 Series</h3>
                            <p>Instructions for operating, cleaning and troubleshooting, plus water filter ordering information.</p>
                            <a target="_blank" class="btn" href="/resources/pdf/fetco-50-series.pdf">Download PDF</a>
                        </div>
                    </div>
                </div>
                <div class="product-v2">
                    <div>
                        <img alt="LUXUS® 1.5 Gallon &amp; 3.0 Gallon" src="/img/equipment/200/luxus_1_5_and_3_gallon_servers.jpg" title="LUXUS® 1.5 Gallon &amp; 3.0 Gallon">
                        <div class="product-list-desc">
                            <h3>LUXUS&reg; 1.5 Gallon &amp; 3.0 Gallon</h3>
                            <p>Directions for operating, cleaning and repairing your Thermal Server.</p>
                            <a target="_blank" class="btn" href="/resources/pdf/Luxus%201.5%20and%203%20Gallon.pdf">Download PDF</a>
                        </div>
                    </div>
                </div>
                <div class="product-v2">
                    <div>
                        <img alt="FETCO® 60 Series" src="/img/equipment/200/13_fetco_60_series.jpg" title="FETCO® 60 Series">
                        <div class="product-list-desc">
                            <h3>FETCO&reg; 60 Series</h3>
                            <p>Instructions for operating, cleaning and troubleshooting, plus water filter ordering information.</p>
                            <a target="_blank" class="btn" href="/resources/pdf/FETCO%2060%20-%20WPB.pdf">Download PDF</a>
                        </div>
                    </div>
                </div>
                <div class="product-v2">
                    <div>
                        <img alt="FETCO® 70 Series" src="/img/equipment/200/16_fetco_70_series.jpg" title="FETCO® 70 Series">
                        <div class="product-list-desc">
                            <h3>FETCO&reg; 70 Series</h3>
                            <p>Instructions for operating, cleaning and troubleshooting, plus water filter ordering information.</p>
                            <a target="_blank" class="btn" href="/resources/pdf/FETCO%2070%20-%20WPB_Final.pdf">Download PDF</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    @Html.Partial("~/Views/Partials/_LoggedInFooter.cshtml")
</section>

@*<a href="#" class="dotted-link">Descargar PDF en Español &raquo;</a>*@