@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "~/Views/Master.cshtml";
}

<section id="equipment">
    <header class="abspos-header">
        <h1 class="abspos-header__title light">EQUIPMENT</h1>
        <p class="light">Explore your equipment options and find what’s right for your operation.</p>
    </header>
    <div class="catalog-back">
        <a class="dotted-link alt" href="/equipment">« Back to Equipment</a>
    </div>
    <div class="filter-summary">
        <div class="inner-container">
            <div id="filter-summary">Espresso Equipment</div>
        </div>
    </div>
    <div class="product-list-v2">
        <div class="inner-container">
            <section>
                <div class="product-v2">
                    <div>
                        <img title="Thermoplan Black & White 3 CTMC" src="/img/equipment/mkt-machine-ko.png" alt="Thermoplan Black & White 3 CTMC" />
                        <div class="product-list-desc">
                            <h3>Thermoplan Black & White 3 CTMC</h3>
                            <p>Give customers the irresistibly premium Starbucks® espresso beverages that coffee drinkers around the world know and love.</p>
                            <a href="/resources/pdf/thermoplan-blackwhite-sellsheet.pdf" class="btn" target="_blank">Download PDF</a>
                        </div>
                    </div>
                </div>
                <div class="product-v2">
                    <div>
                        <img title="Verismo® 701 Spec Sheet" src="/img/equipment/200/verismo_701.jpg" alt="Verismo® 701 Spec Sheet" />
                        <div class="product-list-desc">
                            <h3>Verismo® 701 Spec Sheet</h3>
                            <p>A guide to installation requirements, maintenance and machine features.</p>
                            <a href="/resources/pdf/WPS_Versiomo_701_Spec_Sheet.pdf" class="btn" target="_blank">Download PDF</a>
                        </div>
                    </div>
                </div>
                <div class="product-v2">
                    <div>
                        <img title="Nuova Simonelli Appia" src="~/img/equipment/200/nuova-simonelli-appia.jpg" alt="Nuova Simonelli Appia" />
                        <div class="product-list-desc">
                            <h3>Nuova Simonelli Appia</h3>
                            <p>Provide premium handcrafted Starbucks espresso beverages in a limited space.</p>
                            <div class="contact-your-rep">Contact Your Rep</div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    @Html.Partial("~/Views/Partials/_LoggedInFooter.cshtml")
</section>

@*<a href="#" class="dotted-link">Descargar PDF en Español &raquo;</a>*@