@{
    Layout = "~/Views/Shared/_ModalMaster.cshtml";
    bool track = bool.Parse(System.Configuration.ConfigurationManager.AppSettings["EnableGoogleAnalyticsTracking"]) ? true : false;
}

<div class="page-header">
    <h1>Login</h1>
</div>


       @Html.Action("RenderLogin","AccountSurface")
@section scripts {
    <script>
       try {
         //Since this may have been loaded as dynamic content ensure jQuery client validation knows we should be validating the content in this view.
         //jQuery validation runs when the original page loads - on the original content and not on dynamic (in this case ajax) content.
         //We don't need to validate the whole form again, only from this div down.

         //if I have a problem in jQuery 5, then try: $.validator.unobtrusive.parse("#editZone > div > form"); 
         $.validator.unobtrusive.parseDynamicContent('#loginForm');

         $('#loginForm').submit(function () {
             
             if (!$(this).find(".grouping").hasClass('has-error') && $.trim($('.error').html()).length < 1) {
                 $('.right').addClass('active');
                 $(this).find(':submit').attr('disabled', 'disabled');

             }

             //$('button').attr('disabled', 'disabled');
         });
     }
     catch (err) {
         
     }
   //$("#loginForm").submit(function () {
   //    //$("#submit").fadeOut();
   //});
       function ShowError(error) {
           $("#error").html(error);
           //$("#submit").fadeIn();
           $('.grouping.has-error > label > span.field-label').show();
           $('.right').removeClass('active');
           $(':submit').removeAttr('disabled');

       }
       function ShowSuccess(result) {
           @if (track)
           {
               <text>
                _kmq.push(['record', result + ' Sign In']);
                </text>
           }
           
           //function getQueryStrings() {
           //    var assoc = {};
           //    var decode = function (s) { return decodeURIComponent(s.replace(/\+/g, " ")); };
           //    var queryString = location.search.substring(1);
           //    var keyValues = queryString.split('&');

           //    for (var i in keyValues) {
           //        var key = keyValues[i].split('=');
           //        if (key.length > 1) {
           //            assoc[decode(key[0])] = decode(key[1]);
           //        }
           //    }

           //    return assoc;
           //}
           var url = window.location.search,
               returningTo = url.substring(url.indexOf("ReturningTo")),
               returningToVal = decodeURIComponent(returningTo.replace(/\+/g, " ")),
               arrStr = returningToVal.split(/[&]/),
               valueDetails = decodeURIComponent(arrStr[0]),
               actual = decodeURIComponent(valueDetails),
               redirectHere = actual.substr(actual.indexOf("=") + 1); // Contains 24 //
           if (returningTo.indexOf("verifyGUID") > -1) {
               window.location.href = "/dashboard";
           }
           else {
               window.location.href = redirectHere;
           }

           //console.log(returningTo);
               //
           
       }
       
       
       $('#custom-checkbox').on('click', function () {
           $('#RememberMe').toggleClass('checked');
           $('#RememberMe').trigger('click');
       });

        </script>  
}