@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    var sessionState = "not logged in";
    var sessionCreds = "";
    var pageResponse = "are not allowed to";
    var permissions = "Customers and Partners must be logged in to";
    var currentUrl = Request.RawUrl;

    permissions = currentUrl.Contains("partner-permissions-test") ? "Only logged in partners and partner admins can" : permissions;
    permissions = currentUrl.Contains("partner-admin-permissions-test") ? "Only logged in partner admins can" : permissions;
    //permissions = currentUrl.Contains("partner-admin-permissions-test") ? "Only logged in partner admins can" : permissions;
    if (User.Identity.IsAuthenticated)
    {
        
        var member = umbraco.cms.businesslogic.member.Member.GetCurrentMember();
        sessionState = "logged in as " + member.Email + ",";    
        if (Roles.IsUserInRole("Partner"))
        {
            sessionCreds = "Partner";
            pageResponse = currentUrl.Contains("partner-permissions-test") || currentUrl.Contains("customer-permissions-test") || currentUrl.Equals("/permissions-test/") ? "can" : pageResponse;
            
            permissions = currentUrl.Contains("customer-permissions-test") ? "Customers and partners can" : permissions;
            //pageResponse =  ? pageResponse = "can" : pageResponse;
        }
        else if (Roles.IsUserInRole(member.Email, "PartnerAdmin"))
        {
            sessionCreds = "Partner Admin";
            pageResponse = currentUrl.Contains("partner-admin-permissions-test") || currentUrl.Contains("partner-admin-permissions-test") || currentUrl.Contains("partner-permissions-test") || currentUrl.Contains("customer-permissions-test") ? pageResponse = "can" : pageResponse;
            pageResponse = currentUrl.Contains("partner-permissions-test") ? pageResponse = "can" : pageResponse;
            pageResponse = currentUrl.Contains("partner-admin-permissions-test") ? pageResponse = "can" : pageResponse;
            //permissions = currentUrl.Contains("partner-admin-permissions-test") ? permissions = "Only logged in partner admins can" : permissions;
            //permissions = currentUrl.Contains("customer-permissions-test") || currentUrl.Equals("/permissions-test/") ? "Customers and partners can" : permissions;
            pageResponse = currentUrl.Contains("permissions-test") ? pageResponse = "can" : pageResponse;
            //permissions = currentUrl.Contains("partner-permissions-test") ? "Only logged in partners can" : permissions;
        }
        else if (Roles.IsUserInRole("SuperPartnerAdmin"))
        {
            sessionCreds = "Partner Super Admin";
            pageResponse = currentUrl.Contains("customer-permissions-test") ? pageResponse = "can" : pageResponse;
            pageResponse = currentUrl.Contains("partner-permissions-test") ? pageResponse = "can" : pageResponse;
            pageResponse = currentUrl.Contains("partner-admin-permissions-test") ? pageResponse = "can" : pageResponse;
            permissions = currentUrl.Contains("customer-permissions-test") ? "Customers and partners can" : permissions;
            
        }
        else if (Roles.IsUserInRole("Customer"))
        {
            sessionCreds = "Customer";
            pageResponse = currentUrl.Equals("/customer-permissions-test/") || currentUrl.Equals("/permissions-test/") ? pageResponse = "can" : pageResponse;
            //permissions = currentUrl.Equals("/customer-permissions-test/") || currentUrl.Equals("/permissions-test/") ? permissions = "Customers and partners can" : permissions;

        }
        else if (Roles.IsUserInRole("Unverified Customer"))
        {
            sessionCreds = "Unverified Customer";

        }
    }
    
}
<section id="content">
    <header>
        @*@currentUrl*@
<h3>User Info</h3>
<p>Session: You are @sessionState
    
    @(sessionState == "not logged in" ? "" : " which is a " + sessionCreds + "." ) </p>

<h3>Page Info</h3>
<p>Page Permissions:
    @permissions see this page.
    </p>
<p>
    Page Response: With your current user and session status you @pageResponse view this page content.
                          </p>

        <p>
    <a href="/profile/edit">View user profile</a>
                          </p>
        </header>
    </section>
