@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    var RenderCustomerProfile = TempData["CustomerEmail"] != null ? TempData["CustomerEmail"] : "";
        if (String.IsNullOrEmpty(RenderCustomerProfile.ToString()))
        {
            RenderCustomerProfile = umbraco.library.RequestQueryString("customerToView") != null ? umbraco.library.RequestQueryString("customerToView") : "";   
        }
}

<section id="content">
	<div class="profile-wrapper">
		<div class="inner-wrapper">

<h1 class="profile-title">Profile Management</h1><a href="/dashboard" class="dotted-link profile-title-link">« Dashboard</a>




@Html.Action("RenderEditProfile", "ProfileSurface", new { customerEmail = RenderCustomerProfile})

		</div>
	</div>
</section>

@section scripts {
    <script>
        $(document).ready( function(){
            SBS.Profile();
            $("#Phone, #MobilePhone").mask("(999) 999-9999");
            SBS.PasswordStrength();
        });
    </script>
}