@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

<section id="content">
	<section class="error-content-wrapper">
		<section class="error-content">
			<h1>Not what<br />you ordered?</h1>
			<h2>(404 error)</h2>
			<p>The page you're looking for isn't here.</p>
			<p>Would you like to search for it instead?</p>
			<div class="search-wrapper">
                <form class="navbar-form form-inline pull-right" action="/search" method="GET">
                    <label for="q">Search</label>
                    <input type="text" class="form-control" name="q" placeholder="Search" />
                    <button type="submit" class="btn btn-default "><img src="/img/search-icon.png" width="32" height="32" alt="Search" /></button>
                </form>
            </div>
		</section>
	</section>
</section>