@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

<section id="content">
	<section class="register-content-wrapper">
		<a class="close-button" href="/">×</a>
		<div class="register-content">

			<h1>User Verification</h1>
			@Html.Action("RenderEmailVerification", "AccountSurface")
			<a href="/" class="btn btn-default message-home">Ok</a>

		</div>
	</section>
</section>