@using solutions.starbucks.web.Controllers
@using solutions.starbucks.Model
@using solutions.starbucks.Model.Enums

@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    if (Request.Cookies["AccountAttributes"] != null)
    {
        ViewBag.IsSBX = (Request.Cookies["AccountAttributes"]["CustomerBrand"] == BrandCode.SBUX.Code);
        ViewBag.IsSBC = (Request.Cookies["AccountAttributes"]["CustomerBrand"] == BrandCode.SBC.Code);
        ViewBag.IsDUAL = (Request.Cookies["AccountAttributes"]["CustomerBrand"] == BrandCode.DUAL.Code);
        ViewBag.IsFrap = Convert.ToBoolean(Request.Cookies["AccountAttributes"]["IsFrappuccino"]);
        ViewBag.IsEspresso = Convert.ToBoolean(Request.Cookies["AccountAttributes"]["IsEspresso"]);
        ViewBag.IsPartner = Convert.ToBoolean(Request.Cookies["AccountAttributes"]["IsPartner"]);
    }
    else
    {
        ViewBag.IsSBX = true;
        ViewBag.IsSBC = false;
        ViewBag.IsDUAL = false;
        ViewBag.IsFrap = false;
        ViewBag.IsEspresso = false;
        ViewBag.IsPartner = false;
    }
}

@{
    var currentUrl = Request.RawUrl;
    if (currentUrl.Contains("program"))
    {
    <script src="/js/libs/jquery-mobile/jquery.mobile.custom.js"></script>
    <script src="/js/libs/joyride/jquery.joyride-2.1.js"></script>
    <script src="/js/libs/select2.js"></script>
    }
}

<!-- header image: /img/backgrounds/year-round-header-frap.jpg -->

<section id="content">
    <section class="wrapper"  style="background-image: url(/media/65009960/wps-summer-bg.jpg); background-size: cover; background-position: center top;">
        <header class="frappuccino-blended-beverages-program-header">
            <h1>Frappuccino&reg;</h1>
            <h3 class="mb-20">Blended Beverages</h3>
            <p>Serve up irresistible, revitalizing Starbucks&reg; Frappuccino&reg; blended beverages to your customers.</p>
	    </header>

        <div class="help-tile">
            <div class="inner-wrapper">
            @if(ViewBag.IsFrap) {
                <h3><span class="help-title">How do I order?</span> <a id="year-round-help-launcher" href="#">Learn How</a></h3>
            }
            </div>
        </div>

        <div class="program-content" style="background-image: url(/img/programs/year-round/frap_wide_desktop_bg.jpg); background-size: cover; background-position: center top;">

            <div class="body-content" style="background: transparent;">

                <article class="year-round-frap">
                    
                    <section>
                        
                        <img class="year-round-frap-logo" src="/img/frap-brown.svg" />
                        <h2 id="joyride-program-detail" class="overview-title">Learn more about a customer favorite</h2>
                        
                            <ul>
                                <li><a href="/resources/pdf/Frapp_Sell_Sheet.pdf" target="_blank">Download Sell Sheet &raquo;</a></li>
                                <li><a href="/resources/pdf/Frapp_Product_Card.pdf" target="_blank">Download Product Card &raquo;</a></li>
                                <li><a href="/resources/training/frappuccino" target="_blank">Explore Training &raquo;</a></li>
                            </ul>    
                    
                    </section>

                </article>

            </div>

            <div class="program-tiles year-round-program-tiles">
                <div id="frappuccino-coffee-kit" class="recipe-toggle program-banner col2">
                    <div class="tile-content frappuccino-coffee-kit">
                        <h2 class="tile-title text-left">Frappuccino&reg; Coffee Kit</h2>
                        <p class="tile-desc">Add this starter kit to your menu and make every moment irresistible. Includes ingredients for:</p>
                        <ul class="tile-list">
                            <li>Coffee Frappuccino®</li>
                            <li>Mocha Frappuccino®</li>
                            <li>Caramel Frappuccino® </li>
                        </ul>
                    </div>

                    @if (ViewBag.IsFrap)
                    {
                        <div class="tile-elements">
                            <a id="joyride-addbtn0" class="program-tile-btn recipe-btn green" href="#frappuccino-coffee-kit-section">Add to Menu</a>
                        </div>
                    } else
                    {   
                        <div class="program-na">
                            Contact your representative to participate.
                        </div>
                    }
                    <img src="/img/programs/year-round/frappuccino-coffee-kit-480.jpg" class="img-large"/>
                    <img src="/img/programs/year-round/frappuccino-coffee-kit-767.jpg" class="img-big"/> 
                    <img src="/img/programs/year-round/frappuccino-coffee-kit-479.jpg" class="img-small"/>
                </div>
                <div id="frappuccino-creme-kit" class="recipe-toggle program-banner col2">
                    <div class="tile-content frappuccino-creme-kit">
                        <h2 class="tile-title text-left">Frappuccino&reg; Crème Kit</h2>
                        <p class="tile-desc">Delight and invigorate by adding this starter kit to your menu. Includes ingredients for:</p>
                        <ul class="tile-list">
                            <li>Strawberries &amp; Crème Frappuccino®</li>
                            <li>Vanilla Bean Frappuccino®</li>
                        </ul>
                    </div>

                    @if (ViewBag.IsFrap)
                    {
                        
                        <div class="tile-elements">
                            <a id="joyride-addbtn1" class="program-tile-btn recipe-btn green" href="#frappuccino-creme-kit-section">Add to Menu</a>
                        </div>
                    } else
                    {   
                        <div class="program-na">
                            Contact your representative to participate.
                        </div>
                    }
                    <img src="/img/programs/year-round/frappuccino-creme-kit-480.jpg" class="img-large"/>
                    <img src="/img/programs/year-round/frappuccino-creme-kit-767.jpg" class="img-big"/> 
                    <img src="/img/programs/year-round/frappuccino-creme-kit-479.jpg" class="img-small"/>
                </div>
                <div id="supporting-frappuccino-products" class="recipe-toggle program-banner col2">
                    <div class="tile-content supporting-frappuccino-products">
                        <h2 class="tile-title light">Supporting Products</h2>
                    </div>
                    @if (ViewBag.IsFrap)
                    {
                        <div class="tile-elements">
                        <a id="joyride-support-products" class="program-tile-btn content-btn" href="#supporting-frappuccino-section">Add to Menu</a>
                    </div>
                    }
                    <img src="/img/programs/year-round/supporting-products-480.jpg" class="img-large"/>
                    <img src="/img/programs/year-round/supporting-products-mobile.jpg" class="img-big"/> <!-- TODO: Original image file is only 700px wide -->
                    <img src="/img/programs/year-round/supporting-products-mobile.jpg" class="img-small"/>
                </div>
                <div class="recipe-toggle program-banner col2">
                    <div class="tile-content frappuccino-view-all">
                        <h2 class="tile-title light">View All Frappuccino&reg;<br />Blended Beverages Products </h2>
                    </div>
                    @if (ViewBag.IsFrap)
                    {
                        <div class="tile-elements">
                            <a id="joyride-all-products" class="program-tile-btn" href="/programs/frappuccino/products">See Now</a>
                        </div>
                    }
                    <img src="/img/programs/year-round/frappuccino-view-all-480.jpg" class="img-large"/>
                    <img src="/img/programs/year-round/frappuccino-view-all-767.jpg" class="img-big"/> 
                    <img src="/img/programs/year-round/frappuccino-view-all-479.jpg" class="img-small"/>
                </div>

                <div class="clear"></div>
            </div>

            @using (Html.BeginUmbracoForm<ProgramOrderSurfaceController>("ProcessYearRoundToAllProductsPage", null, new { id = "programForm" }))
            { 

            <div class="menu-wrapper">
                
                <a name="your-menu"></a>

                <div class="your-menu">
                    <div class="menu-gray">
                        <h3 class="programs-section-your-menu-title">Your Menu</h3>
                        <p><a id="joyride-download-recipes" class="inline-link" href="/resources/pdf/frappuccino_year-round_recipe_cards.pdf" data-role="none" target="_blank">Download all recipe cards &raquo;</a></p>
                    </div>                   

                    <div class="empty-menu">
                    @if(ViewBag.IsFrap) {
                        <p>
                            Build your menu by adding recipes above.<br />
                            Or skip this step and go <a class="inline-link" href="/programs/frappuccino/products/" data-role="none">directly to individual products</a>.
                        </p>
                    } else {
                        <p>
                            Contact your representative to participate in this program.
                        </p>
                    }
                    </div>

                    <div class="recipe-calc-wrapper">

                        <section id="menu-frappuccino-coffee-kit" class="recipe-group recipe-group-0" data-group="frappuccino-coffee-kit">
                        <a name="frappuccino-coffee-kit-section"></a>

                            <h3 class="group-title">Frappuccino&reg; Coffee Kit</h3>

                            <article id="recipe-frappuccino-coffee-kit" class="recipe frappuccino-coffee-kit" data-group="frappuccino-coffee-kit" data-name="frappuccino-coffee-kit">
                                <div class="recipe-inner">
                                    <span id="joyride-remover0" class="remover year-round-program" data-group="frappuccino-coffee-kit"><span class="remover-text">Remove</span> <img class="menu-closer-icon" src="/img/svg/fallback/recipe-remover.png"></span>
                                    <div class="recipe-column img">
                                        <div class="recipe-image frappuccino-coffee-kit" data-name="frappuccino-coffee-kit">
                                            <img src="/img/programs/year-round/coffee_frap_starter_kit.jpg"  class="img-large" alt="Frappuccino Coffee Starter Kit" />
                                            <img src="/img/programs/year-round/coffee_frap_starter_kit.jpg"  class="img-big" alt="Frappuccino Coffee Starter Kit" />
                                            <img src="/img/programs/year-round/coffee_frap_starter_kit.jpg"  class="img-small" alt="Frappuccino Coffee Starter Kit" />
                                        </div>
                                    </div>
                                    <div class="recipe-column details">
                                        <div class="recipe-slider">
                                            <p class="how-many">How many 16 oz. drinks do you expect to serve weekly?</p>
                                            <div id="joyride-slider0" class="slider-wrapper">
                                                <span class="slider-nil">0</span>
                                                <span class="slider-max">1000</span>
                                                <label class="range-label" for="slider-frappuccino-coffee-kit"></label>
                                                <input class="recipe-qty" type="number" name="slider-frappuccino-coffee-kit" id="slider-frappuccino-coffee-kit" value="0" min="0" max="1000" step="50" />
                                            </div>
                                        </div>
                                        <ul class="recipe-ingredient-list">
                                            <li data-name="frappuccino-roast-soluble-coffee" class="recipe-ingredient">
                                                <span class="prod-name" data-name="frappuccino-roast-soluble-coffee" data-yield="624" data-ratio="100" data-recipe="coffee-frappuccino">Frappuccino&reg; Roast Soluble Coffee</span>
                                                <span class="prod-qty">
                                                    <input id="joyride-slider-output0" class="qty-input" type="number" min="0" pattern="\d+" value="" name="sku-val" maxlength="2" data-role="none" readonly />    
                                                    <input class="qty-input-val" id="SKU-11032158" name="SKU-11032158" type="hidden" value="0" />
                                                    case(s)
                                                </span>
                                            </li>
                                            <li data-name="frappuccino-syrup-coffee-base" class="recipe-ingredient">
                                                <span class="prod-name" data-name="frappuccino-syrup-coffee-base" data-yield="114" data-ratio="33" data-recipe="coffee-frappuccino">Frappuccino&reg; Syrup Coffee Base</span>
                                                <span class="prod-qty">
                                                    <input id="joyride-slider-output1" class="qty-input" type="number" min="0" pattern="\d+" value="" name="sku-val" maxlength="2" data-role="none" readonly />    
                                                    <input class="qty-input-val" id="SKU-11028550" name="SKU-11028550" type="hidden" value="0" />
                                                    case(s)
                                                </span>
                                            </li>
                                            <li data-name="fontana-mocha-sauce" class="recipe-ingredient">
                                                <span class="prod-name" data-name="fontana-mocha-sauce" data-yield="168" data-ratio="33" data-recipe="mocha-frappuccino">Fontana&trade; Mocha Sauce</span>
                                                <span class="prod-qty">
                                                    <input id="joyride-slider-output2" class="qty-input" type="number" min="0" pattern="\d+" value="" name="sku-val" maxlength="2" data-role="none" readonly />    
                                                    <input class="qty-input-val" id="SKU-998019" name="SKU-998019" type="hidden" value="0" />
                                                    case(s)
                                                </span>
                                            </li>
                                            <li data-name="fontana-caramel-syrup" class="recipe-ingredient">
                                                <span class="prod-name" data-name="fontana-caramel-syrup" data-yield="172" data-ratio="33" data-recipe="caramel-frappuccino">Fontana&#174; Caramel Syrup</span>
                                                <span class="prod-qty">
                                                    <input id="joyride-slider-output3" class="qty-input" type="number" min="0" pattern="\d+" value="" name="sku-val" maxlength="2" data-role="none" readonly />    
                                                    <input class="qty-input-val" id="SKU-11041374" name="SKU-11041374" type="hidden" value="0" />
                                                    case(s)
                                                </span>
                                            </li>
                                            <li data-name="fontana-caramel-sauce" class="recipe-ingredient">
                                                <span class="prod-name" data-name="fontana-caramel-sauce" data-yield="168" data-ratio="33" data-recipe="caramel-frappuccino">Fontana&trade; Caramel Sauce</span>
                                                <span class="prod-qty">
                                                    <input id="joyride-slider-output4" class="qty-input" type="number" min="0" pattern="\d+" value="" name="sku-val" maxlength="2" data-role="none" readonly />    
                                                    <input class="qty-input-val" id="SKU-188039" name="SKU-188039" type="hidden" value="0" />
                                                    case(s)
                                                </span>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </article>

                            <section class="module-expander frappuccino-coffee-kit">
                                <div class="expander">Beverage Breakdown</div>
                                <div class="collapser" data-role="none">
                                    <ul class="additional-recipes">
                                        <li class="bundle-beverage-count" data-recipe="coffee-frappuccino">
                                            <span class="recipe-quantity" data-ratio="33"></span>
                                            <span class="recipe-title">Coffee Frappuccino&reg; Blended Beverages</span>
                                        </li>
                                        <li class="bundle-beverage-count" data-recipe="mocha-frappuccino" >
                                            <span class="recipe-quantity" data-ratio="33"></span>
                                            <span class="recipe-title">Mocha Frappuccino&reg; Blended Beverages</span>
                                        </li>
                                        <li class="bundle-beverage-count" data-recipe="caramel-frappuccino">
                                            <span class="recipe-quantity" data-ratio="33"></span>
                                            <span class="recipe-title">Caramel Frappuccino&reg; Blended Beverages</span>
                                        </li>
                                    </ul>
                                </div>
                            </section>

                            <article id="marketing-frappuccino-coffee-kit" class="marketing frappuccino-coffee-kit" data-group="frappuccino-coffee-kit">
                                <div class="marketing-inner">
                                    <div class="marketing-column img mkt-img-2">
                                        <div class="marketing-image frappuccino-coffee-kit" data-name="frappuccino-coffee-kit">
                                            <img src="/img/programs/year-round/frappuccino-coffee-kit-marketing.jpg"  class="img-large" alt="Frappuccino Coffee Kit" />
                                            <img src="/img/programs/year-round/frappuccino-coffee-kit-marketing.jpg"  class="img-big" alt="Frappuccino Coffee Kit" />
                                            <img src="/img/programs/year-round/frappuccino-coffee-kit-marketing.jpg"  class="img-small" alt="Frappuccino Coffee Kit" />
                                        </div>
                                        <div class="title">
                                            <span>Frappuccino&reg; Coffee Marketing Materials</span>
                                        </div>
                                    </div>
                                    <div id="joyride-marketing0" class="marketing-column details mkt-dtl-0">
                                        <div class="title">
                                            <span>Frappuccino&reg; Coffee Marketing Materials</span>
                                        </div>
                                        <div>
                                            <ul class="marketing-list">
                                                <li>
                                                    <label for="Counter Card 8.5&quot; x 11&quot;_Frappuccino_Coffee_Kit">
                                                        <span class="title prod-name">Counter Card 8.5&quot; x 11&quot;</span>
                                                        <select id="MKT-SFS-007-WPS-CC1-00864-P" name="MKT-SFS-007-WPS-CC1-00864-P" data-role="none" class="mkt-select">
                                                                <option value="0">0</option>
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="5">5</option>
                                                        </select>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label for="Table Tent 5&quot; x 7&quot;_Frappuccino_Coffee_Kit">
                                                        <span class="title prod-name">Table Tent 5&quot; x 7&quot;</span>
                                                        <select id="MKT-SFS-007-WPS-TT1-00898-P" name="MKT-SFS-007-WPS-TT1-00898-P" data-role="none" class="mkt-select">
                                                                <option value="0">0</option>
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="5">5</option>
                                                        </select>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label for="Poster 22&quot; x 28&quot;_Frappuccino_Coffee_Kit">
                                                        <span class="title prod-name">Poster 22&quot; x 28&quot;</span>
                                                        <select id="MKT-SFS-007-WPS-PST-00863-28" name="MKT-SFS-007-WPS-PST-00863-28" data-role="none" class="mkt-select">
                                                                <option value="0">0</option>
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                        </select>
                                                    </label>
                                                    <p class="legal">Note: Poster foldable to 22" x 26"</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>      
                            </article>

                            <article id="marketing-frappuccino-coffee-creme-kit" class="marketing frappuccino-coffee-creme-kit" data-group="frappuccino-coffee-creme-kit">
                                <div class="marketing-inner">
                                    <div class="marketing-column img mkt-img-2">
                                        <div class="marketing-image frappuccino-coffee-creme-kit" data-name="frappuccino-coffee-creme-kit">
                                            <img src="/img/programs/year-round/frappuccino-coffee-creme-kit-marketing.jpg"  class="img-large" alt="Frappuccino Marketing" />
                                            <img src="/img/programs/year-round/frappuccino-coffee-creme-kit-marketing.jpg"  class="img-big" alt="Frappuccino Marketing" />
                                            <img src="/img/programs/year-round/frappuccino-coffee-creme-kit-marketing.jpg"  class="img-small" alt="Frappuccino Marketing" />
                                        </div>
                                        <div class="title">
                                            <span>Frappuccino&reg; Full Program Marketing Materials</span>
                                        </div>
                                    </div>
                                    <div id="joyride-marketing0" class="marketing-column details mkt-dtl-0">
                                        <div class="title">
                                            <span>Frappuccino&reg; Full Program Marketing Materials</span>
                                        </div>
                                        <div>
                                            <ul class="marketing-list">
                                                <li>
                                                    <label for="Counter Card 8.5&quot; x 11&quot;_Frappuccino_Full_Program">
                                                        <span class="title prod-name">Counter Card 8.5&quot; x 11&quot;</span>
                                                        <select id="MKT-SFS-007-WPS-CC1-00861" name="MKT-SFS-007-WPS-CC1-00861" data-role="none" class="mkt-select">
                                                            <option value="0">0</option>
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                            <option value="5">5</option>
                                                        </select>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label for="Table Tent 5&quot; x 7&quot;_Frappuccino_Full_Program">
                                                        <span class="title prod-name">Table Tent 5&quot; x 7&quot;</span>
                                                        <select id="MKT-SFS-007-WPS-TT1-00867" name="MKT-SFS-007-WPS-TT1-00867" data-role="none" class="mkt-select">
                                                            <option value="0">0</option>
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                            <option value="5">5</option>
                                                        </select>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label for="Poster 22&quot; x 28&quot;_Frappuccino_Full_Program">
                                                        <span class="title prod-name">Poster 22&quot; x 28&quot;</span>
                                                        <select id="MKT-SFS-007-WPS-PST-00860-28" name="MKT-SFS-007-WPS-PST-00860-28" data-role="none" class="mkt-select">
                                                            <option value="0">0</option>
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                        </select>
                                                    </label>
                                                    <p class="legal">Note: Poster foldable to 22" x 26"</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                            
                            </article>
                                    
                        </section>

                        <section id="menu-frappuccino-creme-kit" class="recipe-group recipe-group-1" data-group="frappuccino-creme-kit">
                        <a name="frappuccino-creme-kit-section"></a>

                            <h3 class="group-title">Frappuccino&reg; Crème Kit</h3>

                            <article id="recipe-frappuccino-creme-kit" class="recipe frappuccino-creme-kit" data-group="frappuccino-creme-kit" data-name="frappuccino-creme-kit">
                                <div class="recipe-inner">
                                    <span id="joyride-remover0" class="remover year-round-program" data-group="frappuccino-creme-kit"><span class="remover-text">Remove</span> <img class="menu-closer-icon" src="/img/svg/fallback/recipe-remover.png"></span>
                                    <div class="recipe-column img">
                                        <div class="recipe-image frappuccino-creme-kit" data-name="frappuccino-creme-kit">
                                            <img src="/img/programs/year-round/creme_frap_starter_kit.png"  class="img-large" alt="Frappuccino Creme Starter Kit" />
                                            <img src="/img/programs/year-round/creme_frap_starter_kit.png"  class="img-big" alt="Frappuccino Creme Starter Kit" />
                                            <img src="/img/programs/year-round/creme_frap_starter_kit.png"  class="img-small" alt="Frappuccino Creme Starter Kit" />
                                        </div>
                                    </div>
                                    <div class="recipe-column details">
                                        <div class="recipe-slider">
                                            <p class="how-many">How many 16 oz. drinks do you expect to serve weekly?</p>
                                            <div id="joyride-slider0" class="slider-wrapper">
                                                <span class="slider-nil">0</span>
                                                <span class="slider-max">1000</span>
                                                <label class="range-label" for="slider-frappuccino-creme-kit"></label>
                                                <input class="recipe-qty" type="number" name="slider-frappuccino-creme-kit" id="slider-frappuccino-creme-kit" value="0" min="0" max="1000" step="50" />
                                            </div>
                                        </div>
                                        <ul class="recipe-ingredient-list">
                                            <li data-name="creme-frappuccino-syrup-base" class="recipe-ingredient">
                                                <span class="prod-name" data-name="creme-frappuccino-syrup-base" data-yield="90" data-ratio="100">Creme Frappuccino&reg; Syrup Base</span>
                                                <span class="prod-qty">
                                                    <input id="joyride-slider-output0" class="qty-input" type="number" min="0" pattern="\d+" value="" name="sku-val" maxlength="2" data-role="none" readonly />    
                                                    <input class="qty-input-val" id="SKU-11028747" name="SKU-11028747" type="hidden" value="0" />
                                                    case(s)
                                                </span>
                                            </li>
                                            <li data-name="strawberry-juice" class="recipe-ingredient">
                                                <span class="prod-name" data-name="strawberry-juice" data-yield="104" data-ratio="50" data-recipe="strawberries-creme-frappuccino">Strawberry Juice</span>
                                                <span class="prod-qty">
                                                    <input id="joyride-slider-output1" class="qty-input" type="number" min="0" pattern="\d+" value="" name="sku-val" maxlength="2" data-role="none" readonly />    
                                                    <input class="qty-input-val" id="SKU-11023435" name="SKU-11023435" type="hidden" value="0" />
                                                    case(s)
                                                </span>
                                            </li>
                                            <li data-name="fontana-classic-syrup" class="recipe-ingredient">
                                                <span class="prod-name" data-name="fontana-classic-syrup" data-yield="202" data-ratio="50" data-recipe="strawberries-creme-frappuccino">Fontana&#174; Classic Syrup</span>
                                                <span class="prod-qty">
                                                    <input id="joyride-slider-output2" class="qty-input" type="number" min="0" pattern="\d+" value="" name="sku-val" maxlength="2" data-role="none" readonly />    
                                                    <input class="qty-input-val" id="SKU-11041386" name="SKU-11041386" type="hidden" value="0" />
                                                    case(s)
                                                </span>
                                            </li>
                                            <li data-name="vanilla-bean-powder" class="recipe-ingredient">
                                                <span class="prod-name" data-name="vanilla-bean-powder" data-yield="548" data-ratio="50" data-recipe="vanilla-bean-frappuccino">Vanilla Bean Powder</span>
                                                <span class="prod-qty">
                                                    <input id="joyride-slider-output3" class="qty-input" type="number" min="0" pattern="\d+" value="" name="sku-val" maxlength="2" data-role="none" readonly />    
                                                    <input class="qty-input-val" id="SKU-181892" name="SKU-181892" type="hidden" value="0" />
                                                    case(s)
                                                </span>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </article>

                            <section class="module-expander frappuccino-creme-kit">
                                <div class="expander">Beverage Breakdown</div>
                                <div class="collapser" data-role="none">
                                    <ul class="additional-recipes">
                                        <li class="bundle-beverage-count" data-recipe="strawberries-creme-frappuccino">
                                            <span class="recipe-quantity" data-ratio="50"></span>
                                            <span class="recipe-title">Strawberries &amp; Creme Frappuccino&reg; Blended Beverages</span>
                                        </li>
                                        <li class="bundle-beverage-count" data-recipe="vanilla-bean-frappuccino" >
                                            <span class="recipe-quantity" data-ratio="50"></span>
                                            <span class="recipe-title">Vanilla Bean Frappuccino&reg; Blended Beverages</span>
                                        </li>
                                    </ul>
                                </div>
                            </section>
                        </section>

                        <section id="menu-supporting-frappuccino-products" class="content-band program-support-products recipe-group" data-group="supporting-frappuccino-products">
                        <a name="supporting-frappuccino-section"></a>
                            <div class="inner-wrapper">
                                <h3 class="mb-40 group-title">Supporting Products</h3>
                                <div class="products-inner">
                                    <span id="joyride-remover0" class="remover frappuccino-program" data-group="supporting-frappuccino-products"><span class="remover-text">Remove</span> <img class="menu-closer-icon" src="/img/svg/fallback/recipe-remover.png"></span>
                                    <div class="products-column img">
                                        <div class="recipe-image supporting-frappuccino-products" data-name="supporting-frappuccino-products">
                                            <img src="/img/programs/year-round/supporting-products.png" class="img-large" alt="classic-iced-coffee" />
                                        </div>
                                    </div>
                                    <div class="products-column details">
                                        <h3 class="mt-20 support-products-title">Cups</h3>
                                        <ul class="supporting-product-list">
                                            <li data-name="starbucks-iced-coffee-blend" class="recipe-ingredient">
                                                <span class="prod-name" data-name="starbucks-iced-coffee-blend">Cold Cups - 16 oz. - 1237520 - 1000/case</span>
                                                <span class="prod-qty">
                                                    <input id="SKU-1237520" name="SKU-1237520" class="qty-input" type="number" min="0" pattern="\d+" value="0" maxlength="2" data-role="none" />
                                                </span>
                                            </li>
                                        </ul>
                                        <h3 class="mt-20 support-products-title">Lids</h3>
                                        <ul class="supporting-product-list">
                                            <li data-name="starbucks-iced-coffee-blend" class="recipe-ingredient">
                                                <span class="prod-name" data-name="starbucks-iced-coffee-blend">Cold Cups lids (flat) - 16/24 oz. - 1237505 - 1000/case</span>
                                                <span class="prod-qty">
                                                    <input id="SKU-1237505" name="SKU-1237505" class="qty-input" type="number" min="0" pattern="\d+" value="0" maxlength="2" data-role="none" />
                                                </span>
                                            </li>
                                            <li data-name="starbucks-iced-coffee-blend" class="recipe-ingredient">
                                                <span class="prod-name" data-name="starbucks-iced-coffee-blend">Cold Cups lids (domed) - 16/24 oz. - 1237504 - 1000/case</span>
                                                <span class="prod-qty">
                                                    <input id="SKU-1237504" name="SKU-1237504" class="qty-input" type="number" min="0" pattern="\d+" value="0" maxlength="2" data-role="none" />
                                                </span>
                                            </li>
                                        </ul>
                                        <h3 class="mt-20 support-products-title">Straws</h3>
                                        <ul class="supporting-product-list">
                                            <li data-name="starbucks-iced-coffee-blend" class="recipe-ingredient">
                                                <span class="prod-name" data-name="starbucks-iced-coffee-blend">Green Straws - 12/16 oz. - 11007879 - 2000/case</span>
                                                <span class="prod-qty">
                                                    <input id="SKU-11007879" name="SKU-11007879" class="qty-input" type="number" min="0" pattern="\d+" value="0" maxlength="2" data-role="none" />
                                                </span>
                                            </li>
                                        </ul>
                                        <h3 class="mt-20 support-products-title">Napkins</h3>
                                        <ul class="supporting-product-list">
                                            <li data-name="starbucks-iced-coffee-blend" class="recipe-ingredient">
                                                <span class="prod-name" data-name="starbucks-iced-coffee-blend">6 3/8&#34; x 4 3/4&#34; folded - 11009969 - 6000/case</span>
                                                <span class="prod-qty">
                                                    <input id="SKU-11009969" name="SKU-11009969" class="qty-input" type="number" min="0" pattern="\d+" value="0" maxlength="2" data-role="none" />
                                                </span>
                                            </li>
                                        </ul>
                                        <h3 class="mt-20 support-products-title">Whipped Cream</h3>
                                        <ul class="supporting-product-list">
                                            <li data-name="starbucks-iced-coffee-blend" class="recipe-ingredient">
                                                <span class="prod-name" data-name="starbucks-iced-coffee-blend">Whipped Cream Dispenser - 177803</span>
                                                <span class="prod-qty">
                                                    <input id="SKU-177803" name="SKU-177803" class="qty-input" type="number" min="0" pattern="\d+" value="0" maxlength="2" data-role="none" />
                                                </span>
                                            </li>
                                            <li data-name="starbucks-iced-coffee-blend" class="recipe-ingredient">
                                                <span class="prod-name" data-name="starbucks-iced-coffee-blend">Whipped Cream Charger - 177806</span>
                                                <span class="prod-qty">
                                                    <input id="SKU-177806" name="SKU-177806" class="qty-input" type="number" min="0" pattern="\d+" value="0" maxlength="2" data-role="none" />
                                                </span>
                                            </li>
                                        </ul>
                                        <h3 class="mt-20 support-products-title">Supplies</h3>
                                        <ul class="supporting-product-list">
                                            <li data-name="starbucks-iced-coffee-blend" class="recipe-ingredient">
                                                <span class="prod-name" data-name="starbucks-iced-coffee-blend">Container - 1190255</span>
                                                <span class="prod-qty">
                                                    <input id="SKU-1190255" name="SKU-1190255" class="qty-input" type="number" min="0" pattern="\d+" value="0" maxlength="2" data-role="none" />
                                                </span>
                                            </li>
                                            <li data-name="starbucks-iced-coffee-blend" class="recipe-ingredient">
                                                <span class="prod-name" data-name="starbucks-iced-coffee-blend">1 Teaspoon Scoop - 150998</span>
                                                <span class="prod-qty">
                                                    <input id="SKU-150998" name="SKU-150998" class="qty-input" type="number" min="0" pattern="\d+" value="0" maxlength="2" data-role="none" />
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </section>

                    </div>
                            
                    <section class="program-continue">
                        <div class="inner-wrapper">
                            <input type="hidden" name="nextPage" value="/programs/frappuccino/products" />
                            <a class="program-next" id="progSubmit" href="/programs/frappuccino/products"><span>Next</span></a>
                        </div>
                    </section>

                    <div class="clear"></div>

                </div>

            </div>

        }
    </section>
</section>

@Html.Partial("~/Views/Partials/_YearRoundTour.cshtml")

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            SBS.ProgramFunctionality();
            $("#progSubmit, .progSubmit").bind('click touch', function() {
                $("#programForm").submit();
                return false;
                
            });
        });
    </script>
    <script>
        //ie8 checkbox

        $(document).ready(function () {
            $('.checkbox').unbind('click touch').bind('click touch', function () {

                var aunt = $(this).parent().prev('input');

                aunt.toggleClass('checked');

            });

            $(".mkt-select").select2({
                minimumResultsForSearch: -1
            });

            $(".product-type-select").select2({
                minimumResultsForSearch: -1,
                dropdownCssClass: 'product-type-dropdown'
            });

            $('#explore-all-sugar-free-flavors .tile-elements h2').replaceWith('<h2>Explore all<br />Sugar-Free flavors</h2>');

        });


   </script>

}
                
    </section>
</section>
                
