<access>
  <page id="1076" loginPage="2119" noRightsPage="2103" simple="False">
    <group id="Partner" />
  </page>
  <page id="2108" loginPage="2119" noRightsPage="2103" simple="False">
    <group id="Partner" />
    <group id="Customer" />
  </page>
  <page id="3233" loginPage="2119" noRightsPage="2103" simple="False">
    <group id="Customer" />
    <group id="Unverified Customer" />
  </page>
  <page id="5244" loginPage="2119" noRightsPage="3233" simple="False">
    <group id="Partner" />
    <group id="Customer" />
  </page>
  <page id="5245" loginPage="2119" noRightsPage="2103" simple="False">
    <group id="Partner" />
  </page>
</access>