@using System.Web.Mvc.Html
@using Umbraco.Web

@if (Convert.ToBoolean(TempData["Success"]))
{
    <div class="success-message">
    @if (!Convert.ToBoolean(TempData["ValidAccount"]))
    {
       <text> Congratulations. You’ve successfully created your profile. Remember! You still need to connect your profile to an active Starbucks Account before you have full access to the site. You can do so on your <a href="/sign-in" class="modal-new" data-reveal-id="myModalTwo" data-reveal-ajax="true">Profile Page</a>. If you’ve lost or have not yet received an account number, send <a href="/forgot-account">this form</a> to a Starbucks Customer Representative to retrieve yours.</text>
    }
    else
    {
	    <text>Congratulations. You’ve successfully created your profile. Now <a href="/sign-in" class="modal-new" data-reveal-id="myModalTwo" data-reveal-ajax="true">sign in</a> and let’s get started.</text>
    }
    </div>
}
else
{
   	<div class="success-message has-error">
        Sorry, we were unable to verify your account. Please try again or contact your Starbucks representative.
    </div>
}