<footer class="lead-bar">
    <div class="lead-bar-messaging">
        <a href="/contact-form/" class="btn std-leadform contact">Have Questions?</a>
    </div>
    <div class="lead-bar-logo">
        <img src="/img/sbs-footer.png">
    </div>
</footer>