<h2 class="mt-40">Starbucks Products</h2>
<h3 class="mt-20 support-products-title">Cups</h3>
<ul class="supporting-product-list">
    <li data-name="starbucks-iced-coffee-blend" class="recipe-ingredient">
        <span class="prod-name" data-name="starbucks-iced-coffee-blend">Cold Cups - 16 oz. - 1237520 - 1000/case</span>
        <span class="prod-qty">
            <input id="SKU-1237520" name="SKU-1237520" class="qty-input" type="number" min="0" pattern="\d+" value="0" maxlength="2" data-role="none" />
        </span>
    </li>
</ul>
<h3 class="mt-20 support-products-title">Lids</h3>
<ul class="supporting-product-list">
    <li data-name="starbucks-iced-coffee-blend" class="recipe-ingredient">
        <span class="prod-name" data-name="starbucks-iced-coffee-blend">Cold Cup Lids (flat) - 16/24 oz. - 1237505 - 1000/case</span>
        <span class="prod-qty">
            <input id="SKU-1237505" name="SKU-1237505" class="qty-input" type="number" min="0" pattern="\d+" value="0" maxlength="2" data-role="none" />
        </span>
    </li>
    <li data-name="starbucks-iced-coffee-blend" class="recipe-ingredient">
        <span class="prod-name" data-name="starbucks-iced-coffee-blend">Cold Cup Lids (domed) - 16/24 oz. - 1237504 - 1000/case</span>
        <span class="prod-qty">
            <input id="SKU-1237504" name="SKU-1237504" class="qty-input" type="number" min="0" pattern="\d+" value="0" maxlength="2" data-role="none" />
        </span>
    </li>
</ul>
<h3 class="mt-20 support-products-title">Straws</h3>
<ul class="supporting-product-list">
    <li data-name="starbucks-iced-coffee-blend" class="recipe-ingredient">
        <span class="prod-name" data-name="starbucks-iced-coffee-blend">Green Straws - 12/16 oz. - 11007879 - 2000/case</span>
        <span class="prod-qty">
            <input id="SKU-11007879" name="SKU-11007879" class="qty-input" type="number" min="0" pattern="\d+" value="0" maxlength="2" data-role="none" />
        </span>
    </li>
</ul>
<h3 class="mt-20 support-products-title">Napkins</h3>
<ul class="supporting-product-list">
    <li data-name="starbucks-iced-coffee-blend" class="recipe-ingredient">
        <span class="prod-name" data-name="starbucks-iced-coffee-blend">6 3/8&#34; x 4 3/4&#34; folded - 11009969 - 6000/case</span>
        <span class="prod-qty">
            <input id="SKU-11009969" name="SKU-11009969" class="qty-input" type="number" min="0" pattern="\d+" value="0" maxlength="2" data-role="none" />
        </span>
    </li>
</ul>




<h2 class="mt-40">Seattle's Best Products</h2>
<h3 class="mt-20 support-products-title">Cups</h3>
<ul class="supporting-product-list">
    <li data-name="starbucks-iced-coffee-blend" class="recipe-ingredient">
        <span class="prod-name" data-name="starbucks-iced-coffee-blend">Cold Cups - 16 oz. - 11008695 - 1000/case</span>
        <span class="prod-qty">
            <input id="SKU-11008695" name="SKU-11008695" class="qty-input" type="number" min="0" pattern="\d+" value="0" maxlength="2" data-role="none" />
            <input id="SKU-11008695-SiteId" name="SKU-11008695-SiteId" type="hidden" value="SBC" />
        </span>
    </li>
</ul>
<h3 class="mt-20 support-products-title">Lids</h3>
<ul class="supporting-product-list">
    <li data-name="starbucks-iced-coffee-blend" class="recipe-ingredient">
        <span class="prod-name" data-name="starbucks-iced-coffee-blend">Cold Cup Lids (flat) - 16/24 oz. - 1237505 - 1000/case</span>
        <span class="prod-qty">
            <input id="SKU-1237505" name="SKU-1237505" class="qty-input" type="number" min="0" pattern="\d+" value="0" maxlength="2" data-role="none" />
        </span>
    </li>
    <li data-name="starbucks-iced-coffee-blend" class="recipe-ingredient">
        <span class="prod-name" data-name="starbucks-iced-coffee-blend">Cold Cup Lids (domed) - 16/24 oz. - 1237504 - 1000/case</span>
        <span class="prod-qty">
            <input id="SKU-1237504" name="SKU-1237504" class="qty-input" type="number" min="0" pattern="\d+" value="0" maxlength="2" data-role="none" />
        </span>
    </li>
</ul>




<h2 class="mt-40">All Brand Products</h2>
<h3 class="mt-20 support-products-title">Whipped Cream</h3>
<ul class="supporting-product-list">
    <li data-name="starbucks-iced-coffee-blend" class="recipe-ingredient">
        <span class="prod-name" data-name="starbucks-iced-coffee-blend">Whipped Cream Dispenser</span>
        <span class="prod-qty">
            <input id="SKU-177803" name="SKU-177803" class="qty-input" type="number" min="0" pattern="\d+" value="0" maxlength="2" data-role="none" />
        </span>
    </li>
    <li data-name="starbucks-iced-coffee-blend" class="recipe-ingredient">
        <span class="prod-name" data-name="starbucks-iced-coffee-blend">Whipped Cream Charger</span>
        <span class="prod-qty">
            <input id="SKU-177806" name="SKU-177806" class="qty-input" type="number" min="0" pattern="\d+" value="0" maxlength="2" data-role="none" />
        </span>
    </li>
</ul>
