@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "~/Views/Master.cshtml";
}

<section id="equipment">
    <header class="abspos-header">
        <h1 class="abspos-header__title light">EQUIPMENT</h1>
        <p class="light">Explore your equipment options and find what’s right for your operation.</p>
    </header>
    <div class="catalog-back">
        <a class="dotted-link alt" href="/equipment">« Back to Equipment</a>
    </div>
    <div class="filter-summary">
        <div class="inner-container">
            <div id="filter-summary">Equipment Videos</div>
        </div>
    </div>
    <div class="product-list-v2">
        <div class="inner-container">
            <section id="equipment-list">
                <div class="clear"></div>
            </section>
        </div>
    </div>
    @Html.Partial("~/Views/Partials/_LoggedInFooter.cshtml")
</section>

<div class="product-v2" id="product-v2" style="display: none;">
    <div>
        <img src="" alt="" />
        <div class="product-list-desc">
            <h3></h3>
            <p></p>
            <a href="javascript: void(0);" class="btn desktop-video-link" data-reveal-id="videoModal_">Watch Video</a>
            <a href="#" class="btn mobile-video-link">Watch Video</a>
        </div>
        <div class="reveal-modal trainingVideoModal" data-reveal>
            <iframe src="" id="" width="960" height="540" frameborder="0" class="training-grid-video"></iframe>
            <a class="close-reveal-modal">&#215;</a>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        var equipment = {
            "0": {
                Title: "Bunn® Axiom Brewer Operation",
                Description: "How to operate your Bunn® Axiom Brewer.",
                Video: "85292219",
                Image: "bunn_axiom_single_and_twin_airpot_brewer"
            },
            "1": {
                Title: "Bunn® Axiom Brewer Cleaning",
                Description: "How to clean your Bunn® Axiom Brewer.",
                Video: "85292207",
                Image: "bunn_axiom_single_and_twin_airpot_brewer"
            },
            "2": {
                Title: "Bunn® Axiom Brewer Troubleshooting",
                Description: "Troubleshooting tips for your Bunn® Axiom Brewer.",
                Video: "85292263",
                Image: "bunn_axiom_single_and_twin_airpot_brewer"
            },
            "3": {
                Title: "Bunn® Thermofresh® Brewer Operation",
                Description: "How to operate your Bunn® Thermofresh® Brewer.",
                Video: "85292285",
                Image: "bunn_single_and_twin_thermofresh_1"
            },
            "4": {

                Title: "Bunn® Thermofresh® Brewer Cleaning",
                Description: "How to clean your Bunn® Thermofresh® Brewer.",
                Video: "85292275",
                Image: "bunn_single_and_twin_thermofresh_1"
            },
            "5": {
                Title: "Bunn® Thermofresh® Brewer Troubleshooting",
                Description: "Troubleshooting tips for your Bunn® Thermofresh® Brewer.",
                Video: "85292296",
                Image: "bunn_single_and_twin_thermofresh_1"
            },
            "6": {
                Title: "Fetco® CBS 50 & 60 Operation",
                Description: "How to operate your Fetco® CBS 50 or 60 Series Brewer.",
                Video: "85292355",
                Image: "13_fetco_60_series"
            },
            "7": {
                Title: "Fetco® CBS 50 & 60 Series Brewer Cleaning",
                Description: "How to clean your Fetco® CBS 50 or 60 Series Brewer.",
                Video: "85292332",
                Image: "14_fetco_50_series"
            },
            "8": {
                Title: "Fetco® CBS 50 & 60 Troubleshooting",
                Description: "Troubleshooting tips for your Fetco® CBS 50 or 60 Series Brewer.",
                Video: "85292369",
                Image: "14_fetco_50_series"
            },
            "9": {
                Title: "Bunn® Thermal Server Operation",
                Description: "How to operate your Bunn® Thermal Server.",
                Video: "85292187",
                Image: "bunn_1_5_gallon_thermal_server"
            },
            "10": {
                Title: "Bunn® Thermal Server Cleaning",
                Description: "How to clean your Bunn® Thermal Server.",
                Video: "85292181",
                Image: "bunn_3_gallon_thermal_server"
            },
            "11": {
                Title: "Bunn® Thermal Server Troubleshooting",
                Description: "Troubleshooting tips for your Bunn® Thermal Server.",
                Video: "85292191",
                Image: "bunn_3_gallon_thermal_server"
            },
            "12": {
                Title: "Luxus® Server Operation",
                Description: "How to operate your Luxus® Server.",
                Video: "85292416",
                Image: "luxus_1_5_and_3_gallon_servers"
            },
            "13": {
                Title: "Luxus® Server Cleaning",
                Description: "How to clean your Luxus® Server.",
                Video: "85292402",
                Image: "luxus_1_5_and_3_gallon_servers"
            },
            "14": {
                Title: "Luxus® Server Troubleshooting",
                Description: "Troubleshooting tips for your Luxus® Server.",
                Video: "85292422",
                Image: "luxus_1_5_and_3_gallon_servers"
            },
            "15": {
                Title: "Water Filter Maintenance",
                Description: "How to keep your water filter running correctly. ",
                Video: "85292322"
            }
        }

        SBS.EquipmentFunctionality(equipment);
    </script>
}