@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using solutions.starbucks.web.Controllers
@using System.Web.Mvc.Html
@using Umbraco.Web
@{
    Layout = "~/Views/Master.cshtml";
}

<header class="abspos-header">
    <h1 class="abspos-header__title light">Coffee</h1>
    <p class="light">Roasted and blended with the craft of more than 40 years.</p>
</header>
<div class="catalog-back">
    <a class="dotted-link" href="/products">« Back to Products</a>
</div>
<div ng-app="product_lookup" ng-controller="coffeeCatalogController">
    <div class="filters">
        <div class="inner-container">
            <div id="filter-toggle">
                Show Filters
            </div>
            <div id="filters-holder">
                <div class="filters-holder">
                    <div class="filter">
                        <h6>BRAND</h6>
                        <div ng-repeat="item in filters | isInFilterCategory:'brand'">
                            <strong><input type='checkbox' ng-model="item.isSelected" id="{{item.category}}_{{item.value}}" /><label for="{{item.category}}_{{item.value}}">{{item.label}}</label></strong>
                        </div>
                    </div>
                    <div class="filter">
                        <h6>KIND</h6>
                        <div ng-repeat="item in filters | isInFilterCategory:'kind'">
                            <strong><input type='checkbox' ng-model="item.isSelected" id="{{item.category}}_{{item.value}}" /><label for="{{item.category}}_{{item.value}}">{{item.label}}</label></strong>
                        </div>
                    </div>
                    <div class="filter">
                        <h6>FORMAT</h6>
                        <div ng-repeat="item in filters | isInFilterCategory:'form'">
                            <strong><input type='checkbox' ng-model="item.isSelected" id="{{item.category}}_{{item.value}}" /><label for="{{item.category}}_{{item.value}}">{{item.label}}</label></strong>
                        </div>
                    </div>
                    <div class="filter">
                        <h6>ROAST</h6>
                        <div ng-repeat="item in filters | isInFilterCategory:'roast'">
                            <strong><input type='checkbox' ng-model="item.isSelected" id="{{item.category}}_{{item.value}}" /><label for="{{item.category}}_{{item.value}}">{{item.label}}</label></strong>
                        </div>
                    </div>
                    <div class="filter">
                        <h6>CAFFEINE</h6>
                        <div ng-repeat="item in filters | isInFilterCategory:'caffeine'">
                            <strong><input type='checkbox' ng-model="item.isSelected" id="{{item.category}}_{{item.value}}" /><label for="{{item.category}}_{{item.value}}">{{item.label}}</label></strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="filter-summary">
        <div class="inner-container">
            <div id="filter-summary">There are <span ng-bind="(Products | isInSelectedFilters:filters).length"></span> items that match your selection</div>
            <div class="filter-tag-list">
                <span ng-repeat="filter in filters | isSelected" ng-click="removeFilter(filter)">{{filter.label}}</span>
                <div ng-click="resetFilters()" id="reset-filters">Reset</div>
            </div>
        </div>
    </div>
    <div class="product-list-v2">
        <div class="inner-container">
            <section>
                <div class="product-v2" ng-repeat="Product in Products | isInSelectedFilters:filters">
                    @*<div class="product-v2" ng-repeat="Product in Products | filter:filterMakes() ">*@
                    <div>

                        @* Most product information (except SiteId, and ProductID is contained in the ProductInformation array...always point to the first item in the array [0] as that's all that is needed  here *@
                        <a href="/products/coffee/details/{{Product.ProductID}}">
                            <img ng-src="/img/Products/200/{{Product.ProductID}}.jpg" alt="{{Product.ProductInformation.Name}}" />
                        </a>
                        <div class="product-list-desc">
                            <a href="/products/coffee/details/{{Product.ProductID}}" class="h3" ng-bind-html="Product.ProductInformation.Name">Loading...</a>
                            <p ng-bind-html="Product.ProductInformation.ShortDescription"></p>
                            @*<a class="add-to-favorite" href="#"><span class="fa fa-heart"></span> ADD TO FAVORITES</a>*@
                        </div>
                        <div class="quick-add" ng-click="select(Product)">
                            Quick Add
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </section>
        </div>
    </div>
    <div class="quick-add-dialog">
        <div class="inner-container">
            <div class="quick-add-image" style="background-image: url('/img/Products/640/{{selected.ProductID}}.jpg')">
                <img ng-src="/img/Products/640/{{selected.ProductID}}.jpg" />
            </div>
            <div class="quick-add-details">
                <h2>{{selected.ProductInformation.Name}}</h2>
                <div class="product-dropdown" id="formSelect" ng-if="selected.isCoffee" data-default="choose form">
                    <span>choose form</span>
                    <select ng-model="selected.selectedItem1.selectedItem"
                            ng-options="skuInfo as skuInfo.Value for skuInfo in selected.items1 | unique: 'Value' track by skuInfo.Value" required></select>
                </div>
                <div id="skuSelect" class="product-dropdown" data-default="choose size">
                    <span>choose size</span>
                    <select ng-model="selected.selectedItem1.selectedItem2"
                            ng-options="item as item.SKUNumber + ' — ' + selected.selectedItem1.Size + ' — ' +  item.UOM for item in selected.selectedItem1.items2 track by item.SKUNumber + ' — ' + selected.selectedItem1.Size + ' — ' +  item.UOM"></select>
                </div>
                <div id="siteSelect" class="product-dropdown" data-default="brewer info" ng-if="!selected.isInstant">
                    <span>Compatible Brewers</span>
                    <select ng-model="selected.selectedItem1.selectedItem2.selectedItem3"
                            ng-options="brewer as brewer.Value for brewer in selected.selectedItem1.selectedItem2.items3 track by brewer.Value"></select>
                </div>
                <p ng-bind-html="selected.ProductInformation.Description"></p>
                <p ng-if="decafVersion"><a href="/products/details/{{decafVersion}}" class="product-decaffeinated">Also in Decaffeinated.</a></p>
                <div class="add-to-bag clear" ng-if="selected.isOrderable">
                    <input name="sku" type="hidden" value="{{selected.selectedItem1.selectedItem2.SKUNumber}}" />
                    <input name="siteId" type="hidden" value="{{selected.SiteId}}" />
                    <input name="qty" type="text" id="{{selected.selectedItem1.selectedItem2.SKUNumber}}-qty" placeholder="Quantity" pattern="[0-9]*" />
                    <button type="submit" class="btn btn-green" id="{{selected.selectedItem1.selectedItem2.SKUNumber}}" data-action="@Url.Action("QuickAdd", "BagSurface")">ADD TO BAG</button>
                </div>
                <div class="add-to-bag na" ng-if="!selected.isOrderable">
                    Not available for your program. Please contact your Starbucks representative.
                </div>
                <div id="forgotError" class="add-to-bag hide bold"></div>
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Partials/_LoggedInFooter.cshtml")
</div>

@section scripts {
    <script type="text/javascript">
        SBS.ProductList();
    </script>
}