@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "~/Views/Master.cshtml";
}

<section id="equipment">
    <header class="abspos-header">
        <h1 class="abspos-header__title light">EQUIPMENT</h1>
        <p class="light">Explore your equipment options and find what’s right for your operation.</p>
    </header>
    <div class="catalog-back">
        <a class="dotted-link alt" href="/resources">« Back to Resources</a>
    </div>
    <div class="body-content">
        <article>
            <section>
                <h2>Equipped to Serve You</h2>
                <p>To ensure our Foodservice partners are brewing the highest quality coffee every time, Starbucks sells a wide range of brewing equipment that include enhanced features that are only available as part of the Starbucks Foodservice program.</p>
                <p class="orange"><strong>24-hour support at 1-800-654-3314.</strong></p>
                <p><strong>Explore below to learn about:</strong></p>
                <ul class="reverse">
                    <li>Brewing coffee, step-by-step</li>
                    <li>Brewed coffee storage recommendations</li>
                    <li>Daily cleaning and maintenance suggestions</li>
                    <li>Water filter changing instructions</li>
                    <li>Troubleshooting solutions</li>
                </ul>
            </section>
        </article>
    </div>
    <div class="equipment-promo">
        <section>
            <img src="/img/equipment/mkt-machine-ko.png" />
            <h2>Thermoplan <br /> Black & White 3 CTMC</h2>
            <p>Give customers the irresistibly premium Starbucks® espresso beverages that coffee drinkers around the world know and love. Every one of them made to order — quickly, easily, perfectly.</p>
            <a href="/resources/pdf/thermoplan-blackwhite-sellsheet.pdf" target="_blank">Download Sell Sheet</a>
            <div class="clear"></div>
        </section>
    </div>
    <div class="support-content">
        <ul class="module-kid-grid channels">
            <li>
                <div class="inner-wrapper">
                    <div class="logo-wrapper program equipment-icons-sprite equipment-icons-brewing"><a href="/resources/equipment/brewing-equipment/">&nbsp;</a></div>
                    <div class="description-wrapper">
                        <h3>Brewing Equipment</h3>
                        <p>Explore the many ways you can offer the delicious coffee customers all over the world know and love.</p>
                    </div>
                    <a href="/resources/equipment/brewing-equipment/">Learn More</a>
                </div>
            </li>
            <li>
                <div class="inner-wrapper">
                    <div class="logo-wrapper program equipment-icons-sprite equipment-icons-espresso"><a href="/resources/equipment/espresso-equipment/">&nbsp;</a></div>
                    <div class="description-wrapper">
                        <h3>Espresso Equipment</h3>
                        <p>Quickly and easily offer the popular beverages customers seek out with minimal waste or labor.</p>
                    </div>
                    <a href="/resources/equipment/espresso-equipment/">Learn More</a>
                </div>
            </li>
            <li>
                <div class="inner-wrapper">
                    <div class="logo-wrapper program equipment-icons-sprite equipment-icons-water"><a href="/resources/equipment/water-filtration/">&nbsp;</a></div>
                    <div class="description-wrapper">
                        <h3>Water Filtration</h3>
                        <p>Coffee is 98% water, which means the quality of your coffee depends on the quality of your water.</p>
                    </div>
                    <a href="/resources/equipment/water-filtration/">Learn More</a>
                </div>
            </li>
            @*<li>
                    <div class="inner-wrapper">
                        <div class="logo-wrapper program equipment-icons-sprite equipment-icons-remanufactured"><a href="#">&nbsp;</a></div>
                        <div class="description-wrapper">
                            <h3>Remanufactured Equipment</h3>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>
                        </div>
                        <a href="#">Learn More</a>
                    </div>
                </li>*@
            <li>
                <div class="inner-wrapper">
                    <div class="logo-wrapper program equipment-icons-sprite equipment-icons-videos"><a href="/resources/equipment/all-equipment-videos/">&nbsp;</a></div>
                    <div class="description-wrapper">
                        <h3>All Equipment Videos</h3>
                        <p>Learn more about the operation, cleaning, and troubleshooting of your equipment.</p>
                    </div>
                    <a href="/resources/equipment/all-equipment-videos/">Learn More</a>
                </div>
            </li>
        </ul>
    </div>
</section>
@Html.Partial("~/Views/Partials/_LoggedInFooter.cshtml")