@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    var currentUrl = Request.RawUrl;
}
<section id="content">
    <section class="register-content-wrapper">
        <a class="close-button" href="/">×</a>
        <div class="register-content">
            <h1>@(currentUrl.Contains("forgot-account") ? "Account Inquiry Form" : "Customer Service Request" )</h1>
            @Html.Action("RenderContactForm","AccountSurface")
        </div>
    </section>
    <div class="lead-bar footer-lead">
        <a href="http://starbucksfs.com/Leadform">Become a Customer</a>
        <img src="/img/sbs-footer.png" />
    </div>
    <div id="background"></div>
</section>

@section scripts {
                        <script type="text/javascript">
                            $(document).ready(function () {

                                $("#Phone").mask("(999) 999-9999");
                            });
                    </script>
}
