@{
    Layout = "~/Views/Shared/_ModalMaster.cshtml";
}

<header>
	<h1>Reset Your Password</h1>
</header>
<p id="forgotten-description">Enter the email associated with your account below to reset your password.</p>
@Html.Action("RenderForgottenPassword","AccountSurface")

@section scripts {
    <script>
        
        function ShowForgotError() {
                //$(".field-label").hide();
            $("#forgotError").html("Enter a valid email address.");
            $('#forgotPassModal').removeClass('active');
            $(':submit').removeAttr('disabled');

        }
        function ShowForgotSuccess(data) {
            $("#forgotten-description").hide();
            $("#forgottenPasswordForm").hide();
            $("#forgotsuccess").html("An email has been sent to the address provided. <a class='btn btn-default register-done' href='/home'>OK</a>");
            //$('#myModal').foundation('reveal', 'close').delay(500);
        }
        try {
         //Since this may have been loaded as dynamic content ensure jQuery client validation knows we should be validating the content in this view.
         //jQuery validation runs when the original page loads - on the original content and not on dynamic (in this case ajax) content.
         //We don't need to validate the whole form again, only from this div down.

           $.validator.unobtrusive.parseDynamicContent('#forgotpassword');

         $('#forgotpassword').submit(function () {
             
             if (!$(this).find(".grouping").hasClass('has-error') && $.trim($('#forgotError').html()).length < 1) {
                 $('#forgotPassModal').addClass('active');
                 $(this).find(':submit').attr('disabled', 'disabled');


             }

         });
     }
     catch (err) {
         
     }
        </script>  
}