@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

<section id="content">

    <section class="wrapper">

        <header class="header-leadform-us">
            <h1>Become A Customer</h1>
            <p>We’re pleased you’re looking at offering our products and we’re excited to learn more about how we can help. Please take couple of minutes to answer the questions below so we can better serve you.</p>
        </header>

        <section class="form-content lead-form">

        	<div class="grouping email reg-one">
                <label><span class="field-label">Email*</span> @Html.ValidationMessageFor(model => model.EmailAddress, string.Empty, new { @class = "help-block" })</label>
                @Html.TextBoxFor(model => model.EmailAddress, new { @class = "form-control", placeholder = "Email Address" })
            </div>

        </section>

    </section>

</section>