@using solutions.starbucks.Model
@using System.Web.Mvc.Html
@using solutions.starbucks.web.Controllers
@using solutions.starbucks.Model
@using solutions.starbucks.Model.Pocos
@using Umbraco.Web
@using Umbraco.Web.Mvc
@model LegalTextPageModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var becomeCustomerLink = "";
    var currentUrl = Request.RawUrl.Replace("/", "");
    bool isReturnToSiteActive = false;
    if (Session["ReturnToSiteSection"] != null)
    {
        isReturnToSiteActive = true;

    }
}
    

<section id="content">

	<section class="legal-intro">
        <div class="inner-wrapper">
            @Html.Raw(Model.Intro)
        </div>
	</section>
	<section class="legal-topic">
        <div class="inner-wrapper">
            @Html.Raw(Model.Topics)
        </div>
	</section>
	<section class="legal-content">
        <div class="inner-wrapper">
            @Html.Raw(Model.BodyText)
        </div>
	</section>
    @if (!User.Identity.IsAuthenticated)
    {
        <div class="lead-bar footer-lead">
            <a class="btn" href="http://starbucksfs.com/Leadform">@Model.UmbracoDictionaryItem</a>
            
            @if (Request.Url.Host.Split('.').First().ToUpper() == "FR") // && Request.Url.Host.Split('.').Last().ToUpper() == "CA")
            {
                <img src="/img/sbs-footer-ca-fr.png" />
            }
            else
            {
                <img src="/img/sbs-footer.png" />
            }

        </div>
    } else {
            
        <div class="lead-bar footer-lead signed-in">
            <div class="signed-in-footer">
                <span class="question">Interested in participating in a program? Have questions?</span>
                <a class="std-leadform contact" href="/contact-form/">Contact Us</a>
            </div>
            
            @if (Request.Url.Host.Split('.').First().ToUpper() == "FR") // && Request.Url.Host.Split('.').Last().ToUpper() == "CA")
            {
                <img src="/img/sbs-footer-ca-fr.png" />
            }
            else
            {
                <img src="/img/sbs-footer.png" />
            }

        </div>
    }
</section>
@section scripts
{
    @if (Session["ReturnUrl"] != null)
    {
        <script>
            $(document).ready(function () {
                $(".sign-in > a").attr("href", "/sign-in?ReturnUrl=@(Session["ReturnUrl"])");
            });
            
        </script>
        
    }
}
