@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "~/Views/Master.cshtml";
}

<div class="product-details" ng-app="product_lookup" ng-controller="recipeDetailsController">
    <div class="back-link inner-container">
        <a class="dotted-link" href="/resources/recipes/catalog/Hot_Beverages" ng-if="Recipe.isHotBeverages">« Back to Recipes</a>
        <a class="dotted-link" href="/resources/recipes/catalog/Cold_Beverages" ng-if="Recipe.isColdBeverages">« Back to Recipes</a>
        <a class="dotted-link" href="/resources/recipes/catalog/Frozen_Blended_Smoothies" ng-if="Recipe.isFrozenBeverages">« Back to Recipes</a>
    </div>
    <div class="product-details-bg" ng-class="Recipe.isTazo ? 'pdp-bg-tazo' : Recipe.isSBC ? 'pdp-bg-sbc' : ''">
        <div class="product-details-top">
            <div class="inner-container">
                <div class="product-details-left">
                    <img ng-src="/img/recipes/{{Recipe.SiteID}}/640/{{Recipe.RecipeID}}.jpg" alt="{{Recipe.Title}}" />
                </div>
                <div class="product-details-right">
                    <div class="product-details-title" ng-bind="Recipe.Title">Loading...</div>
                    @*<div><strong>Year Round</strong></div>
                        <p class="x28"><strong>Mellow and Satisfying.</strong></p>*@
                    <p ng-bind="Recipe.Description">Loading...</p>
                    <div class="related-info">
                        <span class="fa fa-arrow-down"></span>
                        Related Information:
                        <a href="/img/recipes/{{Recipe.SiteID}}/pdfs/full/{{Recipe.RecipeID}}.pdf" target="_blank">Download Recipe Card 8.5" x 11"</a>
                        <a href="/img/recipes/{{Recipe.SiteID}}/pdfs/card/{{Recipe.RecipeID}}.pdf" target="_blank">Download Recipe Card 5" x 7"</a>
                        @*<a href="#">Order Marketing Materials</a>*@
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="recipe-ingredient-bar">
                <div class="inner-container">
                    <div class="product-details-left">
                        <strong class="x28">
                            Ingredients
                        </strong>
                        <div id="desktop-size-dropdown">
                            <strong>Select a size</strong>
                            <div class="product-dropdown">
                                <span ng-bind="selectedSize"></span>
                                <select class="recipeSize" ng-model="recipeSize" ng-options="item as item.SizeName for item in recipeSizes | unique: 'SizeName' track by item.SizeName" ng-change="selectIngredient(recipeSize)"></select>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="recipe-ingredients">
            <div class="inner-container">
                <div class="product-details-right">
                    <img ng-if="Recipe.RecipeID" ng-src="/img/recipes/{{Recipe.SiteID}}/illustrations/thumbs/{{Recipe.RecipeID}}.jpg" class="recipe-diagram" />
                    <div id="mobile-size-dropdown" class="product-dropdown">
                        <span ng-bind="selectedSize"></span>
                        <select class="recipeSize" ng-model="recipeSize" ng-options="item as item.SizeName for item in recipeSizes | unique: 'SizeName' track by item.SizeName" ng-change="selectIngredient(recipeSize)"></select>
                    </div>
                </div>
                <div class="product-details-left">
                    <div class="recipe-ingredients-table">
                        <div ng-repeat="ingredient in IngredientToSize | unique: 'IngredientName'" ng-class-odd="'row'" ng-class-even="'row dark'">
                            <div class="recipe-details-col1">
                                <a ng-if="ingredient.ProductID" href="/products/details/{{ingredient.ProductID}}" ng-bind="ingredient.Title" class="dotted-link">Loading...</a>
                                <span ng-if="!ingredient.ProductID" ng-bind="ingredient.Title"></span>
                            </div>
                            <div class="recipe-details-col2" ng-bind="ingredient.Measure">
                                Loading...
                            </div>
                        </div>
                        <div ng-repeat="ingredient in IngredientForAll | unique: 'IngredientName'" ng-class-odd="'row'" ng-class-even="'row dark'">
                            <div class="recipe-details-col1">
                                <a ng-if="ingredient.ProductID" href="/products/details/{{ingredient.ProductID}}" ng-bind="ingredient.Title" class="dotted-link">Loading...</a>
                                <span ng-if="!ingredient.ProductID" ng-bind="ingredient.Title"></span>
                            </div>
                            <div class="recipe-details-col2" ng-bind="ingredient.Measure">
                                Loading...
                            </div>
                        </div>
                    </div>
                    <div class="x28"><strong>Preparation</strong></div>
                    <ol class="recipe-preparation">
                        <li ng-repeat="prepStep in Recipe.PrepSteps">
                            {{prepStep}}
                        </li>
                    </ol>
                    @* <span class="btn btn-white" id="atb-btn">ADD RECIPE TO BAG</span> *@
                    <div class="clear"></div>
                    <div ng-class-odd="'row'" ng-class-even="'row dark'">
                        <div id="atb-panel">
                            <div ng-repeat="product in RelatedProducts">
                                <strong class="x28">
                                    {{product.ProductInformation.Name}}
                                </strong>

                                <div class="atb-table" ng-if="product.IsCoffee">
                                    <div class="atb-left">
                                        <div class="product-dropdown">
                                            <span>choose form</span>
                                            <select ng-model="product.selectedItem1.selectedItem" ng-change="LoadSelections(product)"
                                                    ng-options="skuInfo as skuInfo.Value for skuInfo in product.items1 | unique: 'Value' track by skuInfo.Value" required></select>
                                        </div>

                                        <div class="product-dropdown">
                                            <span>choose size</span>
                                            <select ng-model="product.selectedItem1.selectedItem2"
                                                    ng-options="item as item.SKUNumber + ' — ' + item.UOM for item in product.selectedItem1.items2 track by item.SKUNumber + ' — ' + item.UOM"></select>
                                        </div>

                                        <div class="product-dropdown">
                                            <span>Compatible Brewers</span>
                                            <select ng-model="product.selectedItem1.selectedItem2.selectedItem3"
                                                    ng-options="item as item.Value for item in product.selectedItem1.selectedItem2.items3 track by item.Value"></select>
                                        </div>
                                    </div>

                                    <div class="atb-btn-holder">
                                        <input type="text" placeholder="Quantity" />
                                        <button class="btn btn-green">ADD TO BAG</button>
                                    </div>
                                </div>

                                <div class="atb-table" ng-if="!product.IsCoffee">
                                    <div class="atb-left">
                                        <div class="product-dropdown">
                                            <span>choose size</span>
                                            <select ng-model="product.selectedItem1.selectedItem"
                                                    ng-options="skuInfo as skuInfo.Value + ' — ' + skuInfo.SKUNumber + ' — ' + skuInfo.UOM for skuInfo in product.SkuInformation track by skuInfo.SKUNumber + ' — ' + skuInfo.UOM" required></select>
                                        </div>
                                    </div>
                                    <div class="atb-btn-holder">
                                        <input type="text" placeholder="Quantity" />
                                        <button class="btn btn-green">ADD TO BAG</button>
                                    </div>
                                </div>
                            </div>

                            <button class="btn btn-red" href="#">FINISHED</button>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>

        <div class="recipe-nutrition">
            <div class="inner-container">
                @*<div class="product-details-left">
                        <strong class="x28">
                            Nutrition Facts
                        </strong>
                        <div class="recipe-nutrition-dropdowns">
                            <div class="recipe-nutrition-dropdowns-inner">
                                <div>
                                    <div class="product-dropdown">
                                        <span>16 oz</span>
                                        <select>
                                            <option value="1 lb">1 lb</option>
                                            <option value="8 oz">8 oz</option>
                                        </select>
                                    </div>
                                </div>
                                <div>
                                    <div class="product-dropdown">
                                        <span>16 oz</span>
                                        <select>
                                            <option value="1 lb">1 lb</option>
                                            <option value="8 oz">8 oz</option>
                                        </select>
                                    </div>
                                </div>
                                <div>
                                    <div class="product-dropdown">
                                        <span>16 oz</span>
                                        <select>
                                            <option value="1 lb">1 lb</option>
                                            <option value="8 oz">8 oz</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table summary="This table summarizes nutritional information for a Almond Croissant Blossom" class="nutrition">
                            <caption>Nutrition Facts Per Serving (16 fl oz)</caption>
                            <tbody>
                                <tr>
                                    <td class="col1"><strong>Calories</strong> 380</td>
                                    <td class="col2"></td>
                                    <td>Calories from Fat 200</td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th><strong>% Daily Value*</strong></th>
                                </tr>
                                <tr>
                                    <td><strong>Total Fat</strong></td>
                                    <td>23g</td>
                                    <td>35%</td>
                                </tr>
                                <tr>
                                    <td class="indent"><span>Saturated</span></td>
                                    <td>10g</td>
                                    <td>50%</td>
                                </tr>
                                <tr>
                                    <td class="indent"><span>Trans Fat</span></td>
                                    <td>0g</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><strong>Cholesterol</strong></td>
                                    <td>85mg</td>
                                    <td>28%</td>
                                </tr>
                                <tr>
                                    <td><strong>Sodium</strong></td>
                                    <td>380mg</td>
                                    <td>16%</td>
                                </tr>
                                <tr>
                                    <td><strong>Total Carbohydrate</strong></td>
                                    <td>38g</td>
                                    <td>13%</td>
                                </tr>
                                <tr>
                                    <td class="indent"><span>Dietary Fiber</span></td>
                                    <td>2g</td>
                                    <td>8%</td>
                                </tr>
                                <tr>
                                    <td class="indent"><span>Sugars</span></td>
                                    <td>15g</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><strong>Protein</strong></td>
                                    <td>9g</td>
                                    <td></td>
                                </tr>
                                <tr class="minerals">
                                    <td colspan="3">
                                        Vitamin A 10%
                                        <span class="fa fa-circle"></span>
                                        Vitamin C 0%
                                        <span class="fa fa-circle"></span>
                                        Calcium 6%
                                        <span class="fa fa-circle"></span>
                                        Iron 8%
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">*Percent Daily Values are based on a 2,000 calorie diet.</td>
                                </tr>
                                <tr>
                                    <td colspan="3">**Each caffeine value is an approximate value.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="product-details-right">
                        <p>Nutritional information is calculated on our standardized recipes. Because our beverages are handcrafted and may be customized, exact information may vary.
                        <p><a href="#"><strong>See Full Legal Disclaimer</strong></a></p>
                    </div>
                    <div class="clear"></div>*@
                <div class="product-details-ads">
                    <div>
                        <a href="/programs" target="_blank">
                            <img src="~/img/coffee/popular_programs_promo_box_programs.jpg" />
                        </a>
                    </div>
                    <div>
                        <a href="/resources/training" target="_blank">
                            <img src="~/img/coffee/popular_programs_promo_box_training.jpg" />
                        </a>
                    </div>
                </div>
            </div>
        </div>

        @*<div class="product-line">
                <div class="product-list-v2 inner-container">
                    <div class="product-line-title">MORE RECIPES LIKE THIS</div>
                    <section>
                        <div class="product-v2" ng-repeat="related in RelatedRecipes">
                            <div>
                                <img ng-src="/img/recipes/200/{{related.RecipeID}}.jpg" />
                                <div class="product-list-desc">
                                    <h3 ng-bind="related.Title">Loading...</h3>
                                    <p ng-bind="related.Description"></p>
                                    <a href="/recipes/details/{{related.RecipeID}}" class="btn btn-green">GET RECIPE</a>
                                    @*<a class="add-to-favorite" href="#"><span class="fa fa-heart"></span> ADD TO FAVORITES</a>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </section>
                </div>
            </div>*@
    </div>
</div>
@Html.Partial("~/Views/Partials/_LoggedInFooter.cshtml")

<script>
    $(function () {
        $(".product-details").on('click', '.product-dropdown', function () {
            $(this).next('select').trigger('click');
        }).on("change", ".product-dropdown select", function () {
            var el = $(this);
            el.parent().find("span").text(el.val());
        }).on("click", '#atb-btn', function () {
            $(this).hide();
            $('#atb-panel').show();
        });
    });
</script>