@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

<section id="content">
	<section class="register-content-wrapper">
        <div class="register-content">

			@Html.Action("RenderResetPassword","AccountSurface")

		</div>
	</section>
</section>