.remover { z-index: 97; display: block; position: absolute; top: 0; right: 0; cursor: pointer;

        @include media($tablet-portrait) {
            right: 20px;
        }
        @include media($big-mobile) {
            top: 6px;
        }
        @include media($small-mobile) {
            right: 10px;
        }

        .remover-text { margin-right: 6px; @include fonts-heavy; font-size: 14px; border-bottom: 1px dotted #3D3935; color: #3D3935;

            @include media($big-mobile) {
                display: none;
            }
            @include media($small-mobile) {
                display: none;
            }
        }
    }