@{
    ViewBag.Title = "SessionExpired";
    Layout = "~/Views/Shared/_LayoutTraining.cshtml";
}



<div style="width: 850px; background: red; margin: 0 auto;padding: 50px">
    <h2>SessionExpired</h2>
    Your training session has expired. Please use the link in your email to login again.
</div>
