@using solutions.starbucks.Model.Training;

@model TrainingModel
@{
    Layout = "~/Views/Shared/_LayoutTraining.cshtml";
    var validated = "false";
    bool track = bool.Parse(System.Configuration.ConfigurationManager.AppSettings["EnableGoogleAnalyticsTracking"]) ? true : false;

}

<section id="content">

    <header class="abspos-header training__header">

        <h1 class="abspos-header__title light">Training</h1>
        <p class="light">Put our expertise to work for you.</p>

    </header>

    <section class="content-band training-overview">

        <div class="inner-wrapper">
            <h2 class="overview-title light">Bring the <em>Starbucks Experience</em> to your operation</h2>
            <p class="light">The training section on our Branded Solutions website includes everything you’ll want your employees to know about Starbucks as a company, how to craft Starbucks beverages and how to create the best possible experience for your customers in your We Proudly Serve execution.</p>
        </div>

    </section>

    <section class="content-band foundations-desc">

        <div class="inner-wrapper">

            <h2 class="support-title">Foundations</h2>
            <p class="">Foundational training includes information on Starbucks history, brewed coffee, espresso, blended beverages and tea. Think of it as the basics of what your employees need to know.</p>
            <div class="desktop-foundation-jump">
                <select class="training-foundation-select">
                    <option></option>
                    <option value="/resources/training/brand">View All</option>
                    <option value="/resources/training/brand">Starbucks Brand History</option>
                    <option value="/resources/training/brewed">Brewed Coffee</option>
                    <option value="/resources/training/espresso">Espresso</option>
                    <option value="/resources/training/blended">Blended Beverages</option>
                    <option value="/resources/training/frappuccino">Frappuccino® Blended Beverages</option>
                    <option value="/resources/training/tazo">Tazo® Tea</option>
                </select>
            </div>
            <div class="mobile-foundation-jump">
                <div class="module-expander">
                    <div class="expander">Choose Training Topic</div>
                    <div class="collapser">
                        <ul>
                            <li class="left top">
                                <h2><a href="brand">View All</a></h2>
                            </li>
                            <li class="left top">
                                <h2><a href="brand">Starbucks Brand History</a></h2>
                            </li>
                            <li class="right top">
                                <h2><a href="brewed">Brewed Coffee</a></h2>
                            </li>
                            <li class="left">
                                <h2><a href="espresso">Espresso</a></h2>
                            </li>
                            <li class="right">
                                <h2><a href="blended">Blended Beverages</a></h2>
                            </li>
                            <li class="left">
                                <h2><a href="frappuccino">Frappuccino® Blended Beverages</a></h2>
                            </li>
                            <li class="right">
                                <h2><a href="tazo">Tazo® Tea</a></h2>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </section>

    <section class="content-band solutions-u-desc">

        <div class="inner-wrapper">

            <h2 class="support-title">Solutions University</h2>
            <p class="fonts-book">Solutions University allows you to take our foundational training and create a customized course for your employees, based on your operation’s specific needs.</p>
            <img class="mobile-show" src="/img/backgrounds/training_solutions_u_icon_desktop.png" />
            <a href="/resources/training/coursebuilder" class="btn">Build a Course</a>
        </div>

    </section>

    <section class="content-band modules-desc">

        <div class="inner-wrapper">

            <h2 class="support-title light">Supplemental Training</h2>
            <p class="light">Use these additional training tools and resources to support your daily operation.</p>

        </div>

    </section>

    @Html.Action("RenderSupplementalCategories", "CourseSurface")

    <footer class="lead-bar">
        <div class="lead-bar-messaging training">
        
            <a class="btn std-leadform contact" href="/contact-form/">Have Questions?</a>

        </div>
        <div class="lead-bar-logo">
        @if (Request.Url.Host.Split('.').First().ToUpper() == "FR")
        {
            <img src="/img/sbs-footer-ca-fr.png" />
        }
        else
        {
            <img src="/img/sbs-footer.png" />
        }
        </div>
    </footer>

</section>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            SBS.TrainingFunctionality();

            $(".training-foundation-select").select2({
                placeholder: "CHOOSE TRAINING TOPIC",
                allowClear: true,
                minimumResultsForSearch: -1
            });

            $(function () {
                // bind change event to select
                $('.training-foundation-select').bind('change', function () {
                    var url = $(this).val(); // get selected value
                    if (url) { // require a URL
                        window.location = url; // redirect
                    }
                    return false;
                });
            });
        });
    </script>
}