.fwh { position: relative; padding: 150px 0 0 120px; width: 100%; height: 550px; background-color: #000; background-repeat: no-repeat; background-position: center center;

    @include media($tablet) { padding-left: 20px; background-position: left center; }
    @include media($mobile) { padding-left: 0; }
    @include media($big-mobile) { height: 320px; padding-top: 100px; }
    @include media($small-mobile) { height: 568px; padding-top: 120px; }
}

.fwh-title, .fwh-title-addon, .fwh-description { color: #fff;

    @include media($mobile) { @include blockcenter; text-align: center; }

    &.light { color: #fff; }
    &.dark { color: $med-gray; }
}
.fwh-title { padding: 12px 0 0 0; width: 650px; @include fonts-black; font-size: 4em; line-height: 1em; text-transform: uppercase;

    @include media($tablet) { width: 50%; font-size: 3em; padding-top: 8px; }
    @include media($mobile) { margin-bottom: 6px; padding-left: 0; }
    @include media($big-mobile) { width: 480px; font-size: 3em; }
    @include media($small-mobile) { width: 320px; font-size: 2em; }

    sup { top: -9px; font-size: .3em; vertical-align: super;

        @include media($mobile) { top: -5px; }

        &.mc { top: -18px; font-size: .125em; }
    }
}
.fwh-title-addon { @include fonts-light; font-size: 1.75em;

    @include media($tablet) { width: 50%; font-size: 1.5em; }
    @include media($mobile) { margin-top: 10px; }
    @include media($big-mobile) { font-size: 1.75em; }
    @include media($small-mobile) { font-size: 1.4em; }
}
.fwh-description { margin: 10px 0 0 0; width: 400px; @include fonts-light;  font-size: 1.3em; line-height: 1.3em;

    @include media($tablet) { width: 350px; }
    @include media($mobile) { @include blockcenter; text-align: center; }
    @include media($big-mobile) { width: 360px; font-size: 1.15em; }
    @include media($small-mobile) { width: 256px; font-size: 1.1em; line-height: 1.3em; }
}
.fwh-back { position: absolute; left: 0; bottom: 0; width: 100%; height: 45px; z-index: 50; }
.fwh-back__wrapper { @include blockcenter; width: 960px; text-align: right; }
.fwh-back__link { color: #fff; @include fonts-med; @include dotted-link; border-color: #fff;

    &:before { content: "\00AB"; margin-right: 4px; }

    @include media($tablet) { right: 20px; }
    @include media($mobile) { left: 50%; right: auto; }
}