

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Starbucks Branded Solutions | Iced Coffee </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="description" content="" />
    <meta name="author" content="MARLIN" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="Starbucks Branded Solutions" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/touch-icon-iphone4.png">
    <link rel="shortcut icon" sizes="196x196" href="/img/favicon-196x196.png">
    <script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="//www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
    <script src="/js/libs/modernizr-2.6.2.min.js"></script>
    <script src="/js/libs/selectivizr-min.js"></script>
        <script type="text/javascript" src="/js/libs/jquery.filtertable.min.js"></script>
    <link rel="stylesheet" href="/css/screen.css?635725091242738284" />
</head>
    <body id="yearroundicedcoffee" class="yearroundicedcoffee scrollable">
    
    <!-- Wrap all page content here -->
    <div id="site-wrapper">

        <div id="myModal" class="reveal-modal custom-reveal-class-wide " data-reveal>
        </div>
        <div id="myModalTwo" class="reveal-modal custom-reveal-class-login " data-reveal>
        </div>
        <div id="forgotPassModal" class="reveal-modal custom-reveal-class-forgot " data-reveal>
        </div>

        <!-- Fixed navbar -->
        

<nav id="site-switcher">
    <div class="">
        <div class="toggle ">
            <div id="login-welcome">
                <ul>
                        <li class="mobile-hide">
                            Welcome, Chris Cooper
                        </li>
                        <li class="divider mobile-hide">
                            |
                        </li>
                        <li class="mobile-hide">
                            <a href="/profile/edit">My Profile</a>
                        </li>
                        <li class="divider mobile-hide">
                            |
                        </li>
                        <li class="mobile-hide">
                            <a href="/umbraco/Surface/AccountSurface/Logout">Sign Out</a>
                        </li>
                        <li class="divider mobile-hide">
                            |
                        </li>
                    <li>
                        <div id="selectlocale">
                                    <span id="currentflag" class='us flag' cmcurrcntry="US" cmcurrlang="en"></span><span class="arrw"></span>



                        </div>

                        <div id="countryselect" class="mobile-hide">
                            <div class="rounded country">
                                <a class="us flag" title="United States" href="http://catalog.dev.sbx.marln.com"></a>
                                <a class="name" title="United States" href="http://catalog.dev.sbx.marln.com">United States</a>
                            </div>
                            <div class="rounded country">
                                <a class="ca flag" title="Canada" href="http://catalog.dev.sbx.marln.cc" cmlangcode="en_CA"></a>
                                <a class="name" title="Canada" href="http://catalog.dev.sbx.marln.cc" cmlangcode="en_CA">Canada</a>

                                <div class="languages">
                                    <a class="" title="EN" href="http://catalog.dev.sbx.marln.cc" cmlangcode="en_CA">EN</a><span>&nbsp;|&nbsp;</span>
                                    <a class="" title="FR" href="http://fr.catalog.dev.sbx.marln.cc" cmlangcode="fr_CA">FR</a>
                                </div>
                            </div>
                            <br class="clear" />
                        </div>
                    </li>
                    <li class="divider"> | </li>
                        <li>
                            <a class="filled" href="/my-bag" id="header-bag">My Bag </a>
                        </li>
                        <li class="divider mobile-hide"> | </li>
                    <li>
                        <div class="menu-button nav-toggle">
                            <span class="menu-label">menu</span>&nbsp;&nbsp;&nbsp;<i class="fa fa-bars"></i>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <h1 class="logo">
            <a href="/">
                    <img src="/img/branded-solutions-logo-on.png" />
            </a>
        </h1>
        <ul class="global-nav ">
                    <li><a href="/products?kme=clicked%20navigation%20link%20from%20sbs&km_Link+Location=glob]alNavDesktop&kmi=ccooper@marlinco.com" target="_self">Products</a></li>
                    <li><a href="/resources?kme=clicked%20navigation%20link%20from%20sbs&km_Link+Location=globalNavDesktop&kmi=ccooper@marlinco.com" target="_self">Resources</a></li>
                    <li><a href="/programs?kme=clicked%20navigation%20link%20from%20sbs&km_Link+Location=globalNavDesktop&kmi=ccooper@marlinco.com" target="_self">Programs</a></li>
        </ul>
    </div>
</nav>


<nav id="site-navigation" class="body-nav-height">
    <div class="menu-closer nav-toggle">
        <img class="menu-closer-icon" src="/img/svg/fallback/menu-closer.png" />
    </div>
    <div id="login-welcome-mobile">
        <ul>
                <li>
                    Welcome, Chris Cooper
                </li>
                <li>
                    <a href="/profile/edit">My Profile</a>
                </li>
                <li>
                    <a href="/umbraco/Surface/AccountSurface/Logout">Sign Out</a>
                </li>


        </ul>
    </div>
    <ul class="main-nav">
        <li class=""><a href="/">Home</a></li>
    <li class="">
                <a href="/products" class="dropdown-toggle" data-toggle="dropdown" id="toggle-100006900">Products <b class="caret"></b></a>
            <div class="dropdown" id="dropdown-100006900">
                <ul>
                        <li class="mobile-overview">
                            <a href="/products">Overview</a>
                        </li>
                    
                            <li class="">
                                <a href="/products/coffee">Coffee </a>
                            </li>
                            <li class="">
                                <a href="/products/tazo">Tazo </a>
                            </li>
                            <li class="">
                                <a href="/products/fontana">Fontana </a>
                            </li>
                            <li class="">
                                <a href="/products/frappuccino-blended-beverages">Frappuccino Blended Beverages </a>
                            </li>
                            <li class="">
                                <a href="/products/supplies">Supplies </a>
                            </li>
                            <li class="">
                                <a href="/products/miscellaneous">Miscellaneous </a>
                            </li>
                </ul>
            </div>
    </li>
    <li class="">
                <a href="/resources" class="dropdown-toggle" data-toggle="dropdown" id="toggle-100006835">Resources <b class="caret"></b></a>
            <div class="dropdown" id="dropdown-100006835">
                <ul>
                        <li class="mobile-overview">
                            <a href="/resources">Overview</a>
                        </li>
                    
                            <li class="">
                                <a href="/resources/recipes">Recipes </a>
                            </li>
                            <li class="">
                                <a href="/resources/training">Training </a>
                            </li>
                            <li class="">
                                <a href="/resources/equipment">Equipment </a>
                            </li>
                </ul>
            </div>
    </li>
    <li class="active">
                <a href="/programs" class="dropdown-toggle" data-toggle="dropdown" id="toggle-100006898">Programs <b class="caret"></b></a>
            <div class="dropdown" id="dropdown-100006898">
                <ul>
                        <li class="mobile-overview">
                            <a href="/programs">Overview</a>
                        </li>
                    
                            <li class="active">
                                <a href="/programs/iced-coffee">Iced Coffee </a>
                            </li>
                            <li class="">
                                <a href="/programs/tazo-tea">Tazo Tea </a>
                            </li>
                            <li class="">
                                <a href="/programs/blended-beverages">Blended Beverages </a>
                            </li>
                </ul>
            </div>
    </li>
    <li class="">
                <a href="/our-brands" class="dropdown-toggle" data-toggle="dropdown" id="toggle-2104">Our Brands <b class="caret"></b></a>
            <div class="dropdown" id="dropdown-2104">
                <ul>
                        <li class="mobile-overview">
                            <a href="/our-brands">Overview</a>
                        </li>
                    
                            <li class="">
                                <a href="/our-brands/starbucks">Starbucks </a>
                            </li>
                            <li class="">
                                <a href="/our-brands/seattles-best-coffee">Seattle&#39;s Best Coffee </a>
                            </li>
                            <li class="">
                                <a href="/our-brands/tazo">Tazo </a>
                            </li>
                            <li class="">
                                <a href="/our-brands/fontana">Fontana </a>
                            </li>
                </ul>
            </div>
    </li>
    <li class="">
                <a href="/your-business" class="dropdown-toggle" data-toggle="dropdown" id="toggle-2107">Your Business <b class="caret"></b></a>
            <div class="dropdown" id="dropdown-2107">
                <ul>
                        <li class="mobile-overview">
                            <a href="/your-business">Overview</a>
                        </li>
                    
                            <li class="">
                                <a href="/your-business/business-industry">Business &amp; Industry </a>
                            </li>
                            <li class="">
                                <a href="/your-business/college-university">College &amp; University </a>
                            </li>
                            <li class="">
                                <a href="/your-business/fine-dining">Fine Dining </a>
                            </li>
                            <li class="">
                                <a href="/your-business/government-military">Government &amp; Military </a>
                            </li>
                            <li class="">
                                <a href="/your-business/healthcare">Healthcare </a>
                            </li>
                            <li class="">
                                <a href="/your-business/hotel-lodging">Hotel &amp; Lodging </a>
                            </li>
                            <li class="">
                                <a href="/your-business/office-coffee">Office Coffee </a>
                            </li>
                            <li class="">
                                <a href="/your-business/travel-recreation">Travel &amp; Recreation </a>
                            </li>
                </ul>
            </div>
    </li>
    <li class="">
                <a href="/our-platforms" class="dropdown-toggle" data-toggle="dropdown" id="toggle-1075">Our Platforms <b class="caret"></b></a>
            <div class="dropdown" id="dropdown-1075">
                <ul>
                        <li class="mobile-overview">
                            <a href="/our-platforms">Overview</a>
                        </li>
                    
                            <li class="">
                                <a href="/our-platforms/licensed-stores">Licensed Stores </a>
                            </li>
                            <li class="">
                                <a href="/our-platforms/brewed">Brewed </a>
                            </li>
                            <li class="">
                                <a href="/our-platforms/espresso">Espresso </a>
                            </li>
                            <li class="">
                                <a href="/our-platforms/blended">Blended </a>
                            </li>
                            <li class="">
                                <a href="/our-platforms/premium-self-serve">Premium Self Serve </a>
                            </li>
                            <li class="">
                                <a href="/our-platforms/on-the-go">On The Go </a>
                            </li>
                            <li class="">
                                <a href="/our-platforms/iced-coffee">Iced Coffee </a>
                            </li>
                            <li class="">
                                <a href="/our-platforms/programs-overview">Programs Overview </a>
                            </li>
                </ul>
            </div>
    </li>
    <li class="">
                <a href="/faq/" >FAQ</a>
    </li>
    <li class="">
                <a href="/my-bag/" >My Bag</a>
    </li>



    </ul>
    <div>

        <ul class="external-nav">
                    <li><a href="http://starbucksocs.com/?kme=clicked%20navigation%20link%20from%20sbs&km_Link+Location=Menu">Office Coffee Solutions</a></li>

            <li><a href="http://Starbucks.com">Starbucks.com</a></li>
            <li><a href="http://www.starbuckscardb2b.com"></a></li>
        </ul>
        <div class="search-wrapper">
            <form class="navbar-form form-inline pull-right" action="/search" method="GET">
                <label for="q">Search</label>
                <input type="text" class="form-control" name="q" placeholder="Search" />
                <button type="submit" class="btn btn-default "><img src="/img/search-icon.png" width="35" height="35" alt="Search" /></button>
            </form>
        </div>
        <ul>
            <li><a href="/terms-of-use">Terms Of Use</a></li>
            <li><a href="/privacy-policy">Privacy</a></li>
            <li><a href="/web-accessibility">Accessibility</a></li>
            <li><a href="/contact-form">Contact Customer Service</a></li>
        </ul>
        <p class="legal">&copy; 2015 Starbucks Coffee Company</p>
    </div>
    
    <div id="current-account-details" class="hide"
         data-account-number="1000001"
         data-brand="SBUX"
         data-is-partner="false"
         data-is-espresso="true"
         data-is-frap="false">
    </div>

</nav>




        <!-- Begin page content -->
        



    <script src="/js/libs/jquery-mobile/jquery.mobile.custom.js"></script>
    <script src="/js/libs/joyride/jquery.joyride-2.1.js"></script>
    <script src="/js/libs/select2.js"></script>


<!-- Header image: /img/background/year-round-header-iced.jpg -->

<section id="content">


    <section class="wrapper">


        <header class="iced-coffee-program-header">
            <h1>Iced Coffee</h1>
            <p>It's simple to build your own iced coffee program complete with marketing and the recipes customers crave.</p>
	    </header>

        <div class="help-tile">
            <div class="inner-wrapper">
                <h3><span class="help-title">How do I order?</span> <a id="year-round-help-launcher" href="#">Learn How</a></h3>
            </div>
        </div>

        <div class="program-content" style="background-image: url(/img/programs/year-round/iced_wide_desktop_bg.jpg);">
    
            <div class="body-content" style="background: transparent;">

                <article class="year-round-iced">
                    
                    <section>
                        
                        <h2 id="joyride-program-detail" class="overview-title">Learn more about Starbucks&reg; Iced Coffee</h2>
                        
                            <ul>
                                <li><a href="/resources/pdf/Iced_Coffee_Sell_Sheet.pdf" target="_blank">Download Sell Sheet &raquo;</a></li>
                                <li><a href="/resources/pdf/Iced_Coffee_Product_Card.pdf" target="_blank">Download Product Card &raquo;</a></li>
                                <li><a href="/resources/training/brewed" target="_blank">Explore Training &raquo;</a></li>
                            </ul>    
                    
                    </section>

                </article>

            </div>

            <div class="program-tiles year-round-program-tiles">
                <div id="iced-coffee-starter-kit" class="recipe-toggle program-banner col4">
                    <div class="tile-content iced-coffee-starter-kit">
                        <h2 class="tile-title text-left">Iced Coffee Starter Kit</h2>
                        <p class="tile-desc">Add this starter kit and delight with smooth, balanced and slightly sweetened beverages. <span class="mobile-hide">Includes ingredients for:</span></p>
                        <ul class="tile-list">
                            <li>Classic Iced Coffee</li>
                            <li>Vanilla Iced Coffee</li>
                        </ul>
                    </div>
                        <div class="tile-elements">
                            <a id="joyride-addbtn0" class="program-tile-btn recipe-btn green" href="#iced-coffee-starter-kit-section">Add to Menu</a>
                        </div>
                    
                    <img src="/img/programs/year-round/iced-coffee-starter-kit.jpg" class="img-large"/>
                    <img src="/img/programs/year-round/iced-coffee-starter-kit-big-mobile.jpg" class="img-big"/>
                    <img src="/img/programs/year-round/iced-coffee-starter-kit-small-mobile.jpg" class="img-small"/>
                </div>
                <div id="supporting-iced-products" class="recipe-toggle program-banner col2">
                    <div class="tile-content supporting-iced-products">
                        <h2 class="tile-title light">Supporting Products</h2>
                    </div>
                    <div class="tile-elements">
                        <a id="joyride-support-products" class="program-tile-btn content-btn" href="#supporting-iced-products-section">Add to Menu</a>
                    </div>
                    <img src="/img/programs/year-round/supporting-products-480.jpg" class="img-large"/>
                    <img src="/img/programs/year-round/supporting-products-mobile.jpg" class="img-big"/> <!-- TODO: Original image file is only 700px wide -->
                    <img src="/img/programs/year-round/supporting-products-mobile.jpg" class="img-small"/>
                </div>
                <div id="fontana-smoothies" class="recipe-toggle program-banner col2">
                    <div class="tile-content iced-coffee-view-all">
                        <h2 class="tile-title light">View All Iced Coffee<br />Program Products</h2>
                    </div>
                    <div class="tile-elements">
                        <a id="joyride-all-products" class="program-tile-btn" href="/programs/iced-coffee/products">See Now</a>
                    </div>
                    <img src="/img/programs/year-round/iced-coffee-view-all-480.jpg" class="img-large"/>
                    <img src="/img/programs/year-round/iced-coffee-view-all-767.jpg" class="img-big"/> 
                    <img src="/img/programs/year-round/iced-coffee-view-all-479.jpg" class="img-small"/>
                </div>

                <div class="clear"></div>
            </div>

        </div>

<form action="/programs/iced-coffee" enctype="multipart/form-data" id="programForm" method="post">            <div class="menu-wrapper">
            
            <a name="your-menu"></a>

            <div class="your-menu">
                <div class="menu-gray">
                    <h3 class="programs-section-your-menu-title">Your Menu</h3>
                    <p><a id="joyride-download-recipes" class="inline-link" href="/resources/pdf/iced_coffee_year-round_recipe_cards.pdf" data-role="none" target="_blank">Download all recipe cards &raquo;</a></p>
                </div>                   

                <div class="empty-menu">
                    <p>
                        Build your menu by adding recipes above.<br />
                        Or skip this step and go <a class="inline-link" href="/programs/iced-coffee/products/" data-role="none">directly to individual products</a>.
                    </p>
                    
                </div>

                <div class="recipe-calc-wrapper">

                    <section id="menu-iced-coffee-starter-kit" class="recipe-group recipe-group-0" data-group="iced-coffee-starter-kit">
                    <a name="iced-coffee-starter-kit-section"></a>

                        <h3 class="group-title">Starbucks&reg; Iced Coffee Starter Kit</h3>

                        <article id="recipe-iced-coffee-program-iced-coffee-starter-kit" class="recipe iced-coffee-program" data-group="iced-coffee-starter-kit" data-name="iced-coffee-program-iced-coffee-starter-kit">
                            <div class="recipe-inner">
                                <span id="joyride-remover0" class="remover year-round-program" data-group="iced-coffee-starter-kit"><span class="remover-text">Remove</span> <img class="menu-closer-icon" src="/img/svg/fallback/recipe-remover.png"></span>
                                <div class="recipe-column img">
                                    <div class="recipe-image iced-coffee-program" data-name="iced-coffee-program">
                                        <img src="/img/programs/year-round/iced-coffee-starter-kit-calculator.jpg"  class="img-large" alt="Iced Coffee Starter Kit" />
                                        <img src="/img/programs/year-round/iced-coffee-starter-kit-calculator.jpg"  class="img-big" alt="Iced Coffee Starter Kit" />
                                        <img src="/img/programs/year-round/iced-coffee-starter-kit-calculator.jpg"  class="img-small" alt="Iced Coffee Starter Kit" />
                                    </div>
                                </div>
                                <div class="recipe-column details">
                                    <div class="recipe-slider">
                                        <p class="how-many">How many 16 oz. drinks do you expect to serve weekly?</p>
                                        <div id="joyride-slider0" class="slider-wrapper">
                                            <span class="slider-nil">0</span>
                                            <span class="slider-max">1000</span>
                                            <label class="range-label" for="slider-iced-coffee-program-iced-coffee-starter-kit"></label>
                                            <input class="recipe-qty" type="number" name="slider-iced-coffee-program-iced-coffee-starter-kit" id="slider-iced-coffee-program-iced-coffee-starter-kit" value="0" min="0" max="1000" step="50" />
                                        </div>
                                    </div>
                                    <ul class="recipe-ingredient-list">
                                        <li data-name="starbucks-iced-coffee-blend" class="recipe-ingredient">
                                            <span class="prod-name" data-name="starbucks-iced-coffee-blend" data-yield="420" data-ratio="100">Starbucks&#174; Iced Coffee Blend</span>
                                            <span class="prod-qty">
                                                <input id="joyride-slider-output0" class="qty-input" type="number" min="0" pattern="\d+" value="" name="sku-val" maxlength="2" data-role="none" readonly />    
                                                <input class="qty-input-val" id="SKU-195704" name="SKU-195704" type="hidden" value="0" />
                                                case(s)</span>
                                        </li>
                                        <li data-name="fontana-classic-syrup" class="recipe-ingredient">
                                            <span class="prod-name" data-name="fontana-classic-syrup" data-yield="128" data-ratio="70" data-recipe="classic-iced-coffee">Fontana&#174; Classic Syrup</span>
                                            <span class="prod-qty">
                                                <input id="joyride-slider-output1" class="qty-input" type="number" min="0" pattern="\d+" value="" name="sku-val" maxlength="2" data-role="none" readonly />    
                                                <input class="qty-input-val" id="SKU-11041386" name="SKU-11041386" type="hidden" value="0" />
                                                case(s)</span>
                                        </li>
                                        <li data-name="fontana-vanilla-syrup" class="recipe-ingredient">
                                            <span class="prod-name" data-name="fontana-vanilla-syrup" data-yield="128" data-ratio="30" data-recipe="vanilla-iced-coffee">Fontana&#174; Vanilla Syrup</span>
                                            <span class="prod-qty">
                                                <input id="joyride-slider-output3" class="qty-input" type="number" min="0" pattern="\d+" value="" name="sku-val" maxlength="2" data-role="none" readonly />    
                                                <input class="qty-input-val" id="SKU-516267" name="SKU-516267" type="hidden" value="0" />
                                                case(s)</span>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </article>

                        <section class="module-expander iced-coffee-starter-kit">
                            <div class="expander">Beverage Breakdown</div>
                            <div class="collapser" data-role="none">
                                <ul class="additional-recipes">
                                    <li class="bundle-beverage-count" data-recipe="classic-iced-coffee">
                                        <span class="recipe-quantity" data-ratio="70"></span>
                                        <span class="recipe-title">Classic Iced Coffees</span>
                                    </li>
                                    <li class="bundle-beverage-count" data-recipe="vanilla-iced-coffee" >
                                        <span class="recipe-quantity" data-ratio="30"></span>
                                        <span class="recipe-title">Vanilla Iced Coffees</span>
                                    </li>
                                </ul>
                            </div>
                        </section>

                        <article id="marketing-iced-coffee-starter-kit" class="marketing iced-coffee-starter-kit" data-group="iced-coffee-starter-kit">
                            <div class="marketing-inner">
                                <div class="marketing-column img mkt-img-2">
                                    <div class="marketing-image iced-coffee-starter-kit" data-name="iced-coffee-starter-kit">
                                        <img src="/img/programs/year-round/iced-coffee-starter-kit-marketing.png"  class="img-large" alt="Iced Coffee Starter Kit" />
                                        <img src="/img/programs/year-round/iced-coffee-starter-kit-marketing.png"  class="img-big" alt="Iced Coffee Starter Kit" />
                                        <img src="/img/programs/year-round/iced-coffee-starter-kit-marketing.png"  class="img-small" alt="Iced Coffee Starter Kit" />
                                    </div>
                                    <div class="title">
                                        <span>Iced Coffee Marketing Materials</span>
                                    </div>
                                </div>
                                <div id="joyride-marketing0" class="marketing-column details mkt-dtl-0">
                                    <div class="title">
                                        <span>Iced Coffee Marketing Materials</span>
                                    </div>
                                    <div>
                                        <ul class="marketing-list">
                                            <li>
                                                <label for="Counter Card 8.5&quot; x 11&quot;_Frappuccino_Duo">
                                                    <span class="title prod-name">Counter Card 8.5&quot; x 11&quot;</span>
                                                    <select id="MKT-SFS-007-WPS-CC1-1305" name="MKT-SFS-007-WPS-CC1-1305" data-role="none" class="mkt-select">
                                                            <option value="0">0</option>
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                            <option value="5">5</option>
                                                    </select>
                                                </label>
                                            </li>
                                            <li>
                                                <label for="Table Tent 5&quot; x 7&quot;_Frappuccino_Duo">
                                                    <span class="title prod-name">Table Tent 5&quot; x 7&quot;</span>
                                                    <select id="MKT-SFS-007-WPS-TT1-1311" name="MKT-SFS-007-WPS-TT1-1311" data-role="none" class="mkt-select">
                                                            <option value="0">0</option>
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                            <option value="5">5</option>
                                                    </select>
                                                </label>
                                            </li>
                                            <li>
                                                <label for="Poster 22&quot; x 28&quot;_Frappuccino_Duo">
                                                    <span class="title prod-name">Poster 22&quot; x 28&quot;</span>
                                                    <select id="MKT-SFS-007-WPS-PST-1309" name="MKT-SFS-007-WPS-PST-1309" data-role="none" class="mkt-select">
                                                            <option value="0">0</option>
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                    </select>
                                                </label>
                                                <p class="legal">Note: Poster foldable to 22" x 26"</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                                        
                        </article>
                                
                    </section>

                    <section id="menu-supporting-iced-products" class="content-band program-support-products recipe-group" data-group="supporting-iced-products">
                    <a name="supporting-iced-products-section"></a>
                        <div class="inner-wrapper">
                            <h3 class="mb-40 group-title">Supporting Products</h3>
                            <div class="products-inner">
                                <span id="joyride-remover0" class="remover iced-coffee-program" data-group="supporting-iced-products"><span class="remover-text">Remove</span> <img class="menu-closer-icon" src="/img/svg/fallback/recipe-remover.png"></span>
                                <div class="products-column img">
                                    <div class="recipe-image supporting-iced-products" data-name="supporting-iced-products">
                                        <img src="/img/programs/year-round/supporting-products.png" class="img-large" alt="classic-iced-coffee" />
                                    </div>
                                </div>
                                <div class="products-column details">
                                    <h3 class="mt-20 support-products-title">Cups</h3>
                                    <ul class="supporting-product-list">
                                        <li data-name="starbucks-iced-coffee-blend" class="recipe-ingredient">
                                            <span class="prod-name" data-name="starbucks-iced-coffee-blend">PP Cold Cups - 16 oz. - 1237520 - 1000/case</span>
                                            <span class="prod-qty">
                                                <input id="SKU-1237520" name="SKU-1237520" class="qty-input" type="number" min="0" pattern="\d+" value="0" maxlength="2" data-role="none" />
                                            </span>
                                        </li>
                                    </ul>
                                    <h3 class="mt-20 support-products-title">Lids</h3>
                                    <ul class="supporting-product-list">
                                        <li data-name="starbucks-iced-coffee-blend" class="recipe-ingredient">
                                            <span class="prod-name" data-name="starbucks-iced-coffee-blend">PP Cold Cup Lids (flat) - 16/24 oz. - 1237505 - 1000/case</span>
                                            <span class="prod-qty">
                                                <input id="SKU-1237505" name="SKU-1237505" class="qty-input" type="number" min="0" pattern="\d+" value="0" maxlength="2" data-role="none" />
                                            </span>
                                        </li>
                                        <li data-name="starbucks-iced-coffee-blend" class="recipe-ingredient">
                                            <span class="prod-name" data-name="starbucks-iced-coffee-blend">PP Cold Cup Lids (domed) - 16/24 oz. - 1237504 - 1000/case</span>
                                            <span class="prod-qty">
                                                <input id="SKU-1237504" name="SKU-1237504" class="qty-input" type="number" min="0" pattern="\d+" value="0" maxlength="2" data-role="none" />
                                            </span>
                                        </li>
                                    </ul>
                                    <h3 class="mt-20 support-products-title">Straws</h3>
                                    <ul class="supporting-product-list">
                                        <li data-name="starbucks-iced-coffee-blend" class="recipe-ingredient">
                                            <span class="prod-name" data-name="starbucks-iced-coffee-blend">Green Straws - 12/16 oz. - 11007879 - 2000/case</span>
                                            <span class="prod-qty">
                                                <input id="SKU-11007879" name="SKU-11007879" class="qty-input" type="number" min="0" pattern="\d+" value="0" maxlength="2" data-role="none" />
                                            </span>
                                        </li>
                                    </ul>
                                    <h3 class="mt-20 support-products-title">Napkins</h3>
                                    <ul class="supporting-product-list">
                                        <li data-name="starbucks-iced-coffee-blend" class="recipe-ingredient">
                                            <span class="prod-name" data-name="starbucks-iced-coffee-blend">40&#37; PCF Napkins - 6 3/8&#34; x 4 3/4&#34; folded - 11009969 - 6000/case</span>
                                            <span class="prod-qty">
                                                <input id="SKU-11009969" name="SKU-11009969" class="qty-input" type="number" min="0" pattern="\d+" value="0" maxlength="2" data-role="none" />
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>
                        
                <section class="program-continue">
                    <div class="inner-wrapper">
                        <input type="hidden" name="nextPage" value="/programs/iced-coffee/products/" />
                        <a class="program-next" id="progSubmit" href="/programs/iced-coffee/products/"><span>Next</span></a>
                    </div>
                </section>

                <div class="clear"></div>

            </div>

        </div>
<input name='ufprt' type='hidden' value='AB85E5FE0D499AD984A65FDC333BE3F3239DDD2DA80CE9505E876E33E80A47CE2AB953BB98DF40635FB509AE1FC5B69D7DC83955EA1843FA21C9A4FD7FFD91ABC1085C6E5B0ABA2FE179A8A67E733EA00CDDEFAE4FA1206B4EEAD440055A830747651A10FA57266BF2402686A497330F9BA86561C9D3BED16536F5A7D23007B51631E6B18A347E0DD5F673563C9A57F8786E9ADE8787F9B69137F7B60629DFB4AE93E3F38E979D87A769900D9562E5C5E5BC423089C92EAE55577D724AC25AA01775113C313D8DC5D9EA1E45D1501ACB0F4AB4ABF72A73FCCEB7ED01AF1E7AE441BFE810' /></form>    </section>
</section>

<div class="program-help-overlay"></div>
<ol id="program-tour" data-joyride>
    <li class="joyride-tip-guide" data-id="joyride-program-detail" data-button="Next Step">
        <p>Find detailed information about this program here.</p>
    </li>
    <li class="joyride-tip-guide" data-id="joyride-addbtn0" data-button="Next Step">
        <p>This button will add the corresponding beverages to your menu.</p>
    </li>
    <li class="joyride-tip-guide" data-id="joyride-support-products" data-button="Next Step">
        <p>This button will help you add necessary supporting products like cups and lids.</p>
    </li>
    <li class="joyride-tip-guide" data-id="joyride-all-products" data-button="Next Step">
        <p>This button will allow you to quickly view all products related to this program.</p>
    </li>
    <li class="joyride-tip-guide" data-id="joyride-download-recipes" data-button="Next Step">
        <p>Download and reference recipe cards here.</p>
    </li>
    <li class="joyride-tip-guide" data-id="joyride-slider0" data-button="Next Step">
        <p>Move the sliders to adjust ingredient quantities for each beverage.</p>
    </li>
    <li class="joyride-tip-guide" data-id="joyride-marketing0" data-button="Next Step">
        <p>Select desired marketing materials.</p>
    </li>
    <li class="joyride-tip-guide" data-id="joyride-support-products-selector" data-button="Next Step">
        <p>Choose the appropriate supporting products from this drop down menu and select your quantity.</p>
    </li>
    <li class="joyride-tip-guide" data-id="progSubmit" data-button="Finished" class="final-step">
        <p>This button will add current quantity fields to your order and bring you to the next step where you can view all program products.</p>
    </li>
</ol>
<ol id="program-tour-tablet" data-joyride>
    <li class="joyride-tip-guide" data-id="joyride-program-detail" data-button="Next Step">
        <p>Find detailed information about this program here.</p>
    </li>
    <li class="joyride-tip-guide" data-id="joyride-addbtn0" data-options="tipLocation:left;" data-button="Next Step">
        <p>This button will add the corresponding beverages to your menu.</p>
    </li>
    <li class="joyride-tip-guide" data-id="joyride-support-products" data-options="tipLocation:right;" data-button="Next Step">
        <p>This button will help you add necessary supporting products like cups and lids.</p>
    </li>
    <li class="joyride-tip-guide" data-id="joyride-all-products" data-options="tipLocation:left;" data-button="Next Step">
        <p>This button will allow you to quickly view all products related to this program.</p>
    </li>
    <li class="joyride-tip-guide" data-id="joyride-download-recipes" data-options="tipLocation:top;" data-button="Next Step">
        <p>Download and reference recipe cards here.</p>
    </li>
    <li class="joyride-tip-guide" data-id="joyride-slider0" data-options="tipLocation:left;" data-button="Next Step">
        <p>Move the sliders to adjust ingredient quantities for each beverage.</p>
    </li>
    <li class="joyride-tip-guide" data-id="joyride-marketing0" data-options="tipLocation:top;" data-button="Next Step">
        <p>Select desired marketing materials.</p>
    </li>
    <li class="joyride-tip-guide" data-id="joyride-support-products-selector" data-button="Next Step">
        <p>Choose the appropriate supporting products from this drop down menu and select your quantity.</p>
    </li>
    <li class="joyride-tip-guide" data-id="progSubmit" data-options="tipLocation:left;" data-button="Finished" class="final-step">
        <p>This button will add current quantity fields to your order and bring you to the next step where you can view all program products.</p>
    </li>
</ol>
<ol id="program-tour-mobile" data-joyride>
    <li class="joyride-tip-guide" data-id="joyride-program-detail" data-button="Next Step">
        <p>Find detailed information about this program here.</p>
    </li>
    <li class="joyride-tip-guide" data-id="joyride-addbtn0" data-button="Next Step">
        <p>This button will add the corresponding beverages to your menu.</p>
    </li>
    <li class="joyride-tip-guide" data-id="joyride-support-products" data-button="Next Step">
        <p>This button will help you add necessary supporting products like cups and lids.</p>
    </li>
    <li class="joyride-tip-guide" data-id="joyride-all-products" data-button="Next Step">
        <p>This button will allow you to quickly view all products related to this program.</p>
    </li>
    <li class="joyride-tip-guide" data-id="joyride-download-recipes" data-button="Next Step">
        <p>Download and reference recipe cards here.</p>
    </li>
    <li class="joyride-tip-guide" data-id="joyride-slider0" data-button="Next Step">
        <p>Move the sliders to adjust ingredient quantities for each beverage.</p>
    </li>
    <li class="joyride-tip-guide" data-id="joyride-marketing0" data-options="tipLocation:top;" data-button="Next Step">
        <p>Select desired marketing materials.</p>
    </li>
    <li class="joyride-tip-guide" data-id="joyride-support-products-selector" data-options="tipLocation:top;" data-button="Next Step">
        <p>Choose the appropriate supporting products from this drop down menu and select your quantity.</p>
    </li>
    <li class="joyride-tip-guide" data-id="progSubmit" data-options="tipLocation:top;" data-button="Finished" class="final-step">
        <p>This button will add current quantity fields to your order and bring you to the next step where you can view all program products.</p>
    </li>
</ol>



    </div>

    <!-- JS Files -->

    <script src="/js/libs/foundation.js"></script>
    <script src="/js/libs/foundation.reveal.js"></script>
            <script src="/js/libs/angular/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.1/angular-filter.js"></script>
    <script src="/js/libs/angular/angular-route.js"></script>
    <script src="/js/libs/angular/angular-sanitize.js"></script>
    <script src="/js/angular_apps/product_lookup/app.js"></script>
    <script src="/js/angular_apps/product_lookup/services.js"></script>
    <script src="/js/angular_apps/product_lookup/controllers.js"></script>
    <script src="/js/angular_apps/common/app.js"></script>
    <script src="/js/angular_apps/common/filters.js"></script>

    <!-- .NET MVC (Custom version of jQuery Validate) -->
    <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.validate.unobtrusive.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.unobtrusive-ajax.min.js"></script>
    <script src="//a.vimeocdn.com/js/froogaloop2.min.js" type="text/javascript"></script>
    <script src="/js/main.js"></script>
    <!-- the plugins.js files causes Angular to break... -->
    <script src="/js/plugins.min.js"></script>


    <script type="text/javascript">
        $.validator.defaults.highlight = function (element, errorClass, validClass) {
            $(element).closest(".grouping").addClass("has-error").removeClass('valid');
            $(".required-notice").addClass("has-error");
            $(".validation-message").addClass("has-error");
            $(".validationMessage").show();

        };

        $.validator.defaults.unhighlight = function (element, errorClass, validClass) {
            $(element).closest(".grouping").removeClass("has-error").addClass('valid');
            $(".required-notice").removeClass("has-error");
            $(".validation-message").removeClass("has-error");
            $(".validationMessage").hide();
        };


    </script>
    <script>
        //if (SBS.ReadCookie("home-video-play")) {
        //    SBS.TrackEvent('page-after-welcome-video', 'View', $(this).attr('href'));
        //}

    </script>

    
    <script type="text/javascript">
        $(document).ready(function () {
            SBS.ProgramFunctionality();
            $("#progSubmit, .progSubmit").bind('click touch', function() {
                $("#programForm").submit();
                return false;
                
            });
        });
    </script>
    <script>
        //ie8 checkbox

        $(document).ready(function () {
            $('.checkbox').unbind('click touch').bind('click touch', function () {

                var aunt = $(this).parent().prev('input');

                aunt.toggleClass('checked');

            });

            $(".mkt-select").select2({
                minimumResultsForSearch: -1
            });

            $(".product-type-select").select2({
                minimumResultsForSearch: -1,
                dropdownCssClass: 'product-type-dropdown'
            });

            $('#explore-all-sugar-free-flavors .tile-elements h2').replaceWith('<h2>Explore all<br />Sugar-Free flavors</h2>');

        });


   </script>



    <script type="text/javascript">
        $(document).ready(function () {

            $('.close-current').bind('click touch', function () {
                $('#myModalTwo').foundation('reveal', 'close');
                $('forgotPassModal').foundation('reveal', 'open');

                return false;
            });
        });


        $('#myModalTwo').foundation('reveal', {
            opened: function () {
                $('#myModalTwo #EmailAddress').focus();
            }
        });
        $(document).foundation();

    </script>

    <script>
        if (SBS.ReadCookie("home-video-play")) {
            SBS.TrackEvent('page-after-welcome-video', 'View', $(this).attr('href'));
        }

    </script>

        <script src="/js/libs/outdatedbrowser.min.js"></script>

        <div id="outdated"></div>
</body>
</html>
