@using solutions.starbucks.web.Controllers
@using solutions.starbucks.Model
@using solutions.starbucks.Model.Enums

@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    if (Request.Cookies["AccountAttributes"] != null)
    {
        ViewBag.IsSBX = (Request.Cookies["AccountAttributes"]["CustomerBrand"] == BrandCode.SBUX.Code);
        ViewBag.IsSBC = (Request.Cookies["AccountAttributes"]["CustomerBrand"] == BrandCode.SBC.Code);
        ViewBag.IsDUAL = (Request.Cookies["AccountAttributes"]["CustomerBrand"] == BrandCode.DUAL.Code);
        ViewBag.IsFrap = Convert.ToBoolean(Request.Cookies["AccountAttributes"]["IsFrappuccino"]);
        ViewBag.IsEspresso = Convert.ToBoolean(Request.Cookies["AccountAttributes"]["IsEspresso"]);
        ViewBag.IsPartner = Convert.ToBoolean(Request.Cookies["AccountAttributes"]["IsPartner"]);
    }
    else
    {
        ViewBag.IsSBX = true;
        ViewBag.IsSBC = false;
        ViewBag.IsDUAL = false;
        ViewBag.IsFrap = false;
        ViewBag.IsEspresso = false;
        ViewBag.IsPartner = false;
    }
}

@{
    var currentUrl = Request.RawUrl;
    if (currentUrl.Contains("program"))
    {
    <script src="/js/libs/jquery-mobile/jquery.mobile.custom.js"></script>
    <script src="/js/libs/joyride/jquery.joyride-2.1.js"></script>
    <script src="/js/libs/select2.js"></script>
    }
}

<!-- Header image: /img/background/year-round-header-tazo.jpg -->

<section id="content">
    <section class="wrapper"  style="background-image: url(); background-size: cover; background-position: center top;">
        <header class="tazo-tea-program-header">
            <h1 class="dark">Tazo&reg; Tea</h1>
            <p class="dark">The artful, imaginative blending of extraordinary tea leaves, botanicals, and spices.</p>
	    </header>

        <div class="help-tile">
            <div class="inner-wrapper">
                <h3><span class="help-title">How do I order?</span> <a id="help-launcher" href="#">Learn How</a></h3>
            </div>
        </div>

        <div class="program-content" style="background-image: url(/img/programs/year-round/tazo_wide_desktop_bg.jpg); background-size: cover; background-position: center top;">

            <div class="body-content" style="background: transparent;">

                <article class="year-round-tazo">
                    
                    <section style="">
                        
                        <img class="year-round-tazo-logo" src="/img/tazo-body-logo.png" />
                        <h2 id="joyride-program-detail" class="overview-title">See how imaginative tea can be</h2>
                        
                            <ul>
                                <li><a href="/resources/pdf/Tazo_Sell_Sheet.pdf" target="_blank">Download Sell Sheet &raquo;</a></li>
                                <li><a href="/resources/pdf/Tazo_product_cards_hot-iced.pdf" target="_blank">Download Product Card &raquo;</a></li>
                                <li><a href="/resources/training/tazo" target="_blank">Explore Training &raquo;</a></li>
                            </ul>    
                    
                    </section>

                </article>

            </div>

            <div class="program-tiles year-round-program-tiles">
            


                <!--      Tazo Brewed Iced Tea Starter Kit  |  #tazo-brewed-iced-tea-kit      -->
                <div id="tazo-brewed-iced-tea-kit" class="recipe-toggle program-banner col2">
                    <div class="tile-content tazo-brewed-iced-tea-kit">
                        <h2 class="tile-title text-left">Tazo&reg; Brewed Iced Tea<br />Starter Kit</h2>
                        <p class="tile-desc">Add teas and tea lemonades that invigorate the imagination.</p>
                    </div>
                    <div class="tile-elements">
                        <a id="joyride-addbtn0" class="program-tile-btn recipe-btn" href="#tazo-brewed-iced-tea-kit-section">Add to Menu</a>
                    </div>
                    <img src="/img/programs/year-round/tazo-brewed-iced-tea-starter-kit-480.jpg" class="img-large"/> <!-- Desktop & Tablet -->
                    <img src="/img/programs/year-round/tazo-brewed-iced-tea-starter-kit-767.jpg" class="img-big"/> <!-- Big Mobile -->
                    <img src="/img/programs/year-round/tazo-brewed-iced-tea-starter-kit-479.jpg" class="img-small"/> <!-- Small Mobile -->
                </div>



                <!--      Tazo Iced Tea Concentrate Starter Kit  |  #tazo-concentrates-kit      -->
                <div id="tazo-concentrates-kit" class="recipe-toggle program-banner col2">
                    <div class="tile-content tazo-iced-tea-concentrates-kit">
                        <h2 class="tile-title text-left">Tazo&reg; Iced Tea Concentrate<br />Starter Kit</h2>
                        <p class="tile-desc">Add a simpler way to serve refreshment.</p>
                    </div>
                    <div class="tile-elements">
                        <a id="joyride-addbtn1" class="program-tile-btn recipe-btn" href="#tazo-concentrates-kit-section">Add to Menu</a>
                    </div>
                    <img src="/img/programs/year-round/tazo-iced-tea-concentrate-starter-kit-480.jpg" class="img-large"/> <!-- Desktop & Tablet -->
                    <img src="/img/programs/year-round/tazo-iced-tea-concentrate-starter-kit-767.jpg" class="img-big"/> <!-- Big Mobile -->
                    <img src="/img/programs/year-round/tazo-iced-tea-concentrate-starter-kit-479.jpg" class="img-small"/> <!-- Small Mobile -->
                </div>



                <!--      Tazo Tea Starter Kit  |  #tazo-hot-tea-kit      -->
                <div id="tazo-hot-tea-kit" class="recipe-toggle program-banner col2">
                    <div class="tile-content tazo-hot-tea-kit">
                        <h2 class="tile-title text-left">Tazo&reg; Tea Starter Kit</h2>
                        <p class="tile-desc">Add some of our most popular hot tea flavors.</p>
                    </div>
                    <div class="tile-elements">
                        <a id="joyride-addbtn2" class="program-tile-btn recipe-btn" href="#tazo-hot-tea-kit-section">Add to Menu</a>
                    </div>
                    <img src="/img/programs/year-round/tazo-tea-starter-kit-480.jpg" class="img-large"/> <!-- Desktop & Tablet -->
                    <img src="/img/programs/year-round/tazo-tea-starter-kit-767.jpg" class="img-big"/> <!-- Big Mobile -->
                    <img src="/img/programs/year-round/tazo-tea-starter-kit-479.jpg" class="img-small"/> <!-- Small Mobile -->
                </div>



                <!--      Tazo Chai Concentrate Starter Kit  |  #tazo-chai-concentrate-kit      -->
                <div id="tazo-chai-concentrate-kit" class="recipe-toggle program-banner col2">
                    <div class="tile-content tazo-chai-concentrate-kit">
                        <h2 class="tile-title text-left">Tazo&reg; Chai Concentrate<br />Starter Kit</h2>
                        <p class="tile-desc">Add depth and wonder with ease.</p>
                    </div>
                    <div class="tile-elements">
                        <a id="joyride-addbtn3" class="program-tile-btn recipe-btn" href="#tazo-chai-concentrate-kit-section">Add to Menu</a>
                    </div>
                    <img src="/img/programs/year-round/tazo-chai-concentrate-starter-kit-480.jpg" class="img-large"/> <!-- Desktop & Tablet -->
                    <img src="/img/programs/year-round/tazo-chai-concentrate-starter-kit-767.jpg" class="img-big"/> <!-- Big Mobile -->
                    <img src="/img/programs/year-round/tazo-chai-concentrate-starter-kit-479.jpg" class="img-small"/> <!-- Small Mobile -->
                </div>



                <!--      Tazo Supporting Products  |  #supporting-tazo-tea-products      -->
                <div id="supporting-tazo-tea-products" class="recipe-toggle program-banner col2">
                    <div class="tile-content supporting-tazo-tea-products">
                        <h2 class="tile-title light">Supporting Products</h2>
                    </div>
                    <div class="tile-elements">
                        <a id="joyride-support-products" class="program-tile-btn content-btn" href="#supporting-tazo-tea-section">Add to Menu</a>
                    </div>
                    <img src="/img/programs/year-round/supporting-products-480.jpg" class="img-large"/> <!-- Desktop & Tablet -->
                    <img src="/img/programs/year-round/supporting-products-mobile.jpg" class="img-big"/> <!-- Big Mobile --> <!-- TODO: Original image file is only 700px wide -->
                    <img src="/img/programs/year-round/supporting-products-mobile.jpg" class="img-small"/> <!-- Small Mobile -->
                </div>



                <!--      All Tazo Program Products      -->
                <div class="recipe-toggle program-banner col2">
                    <div class="tile-content tazo-view-all">
                        <h2 class="tile-title text-center">View All Tazo&reg;<br /> Program Products</h2>
                    </div>
                    <div class="tile-elements">
                        <a id="joyride-all-products" class="program-tile-btn" href="/programs/tazo-tea/products">See Now</a>
                    </div>
                    <img src="/img/programs/year-round/tazo-view-all-480.jpg" class="img-large"/> <!-- Desktop & Tablet -->
                    <img src="/img/programs/year-round/tazo-view-all-767.jpg" class="img-big"/> <!-- Big Mobile -->
                    <img src="/img/programs/year-round/tazo-view-all-479.jpg" class="img-small"/> <!-- Small Mobile -->
                </div>

                <div class="clear"></div>
            </div>
        </div>

@using (Html.BeginUmbracoForm<ProgramOrderSurfaceController>("ProcessYearRoundToAllProductsPage", null, new { id = "programForm" }))
    { 
        <div class="menu-wrapper">
            
            <a name="your-menu"></a>


            <div class="your-menu">
                <div class="menu-gray">
                    <h3 class="programs-section-your-menu-title">Your Menu</h3>
                    <p><a id="joyride-download-recipes" class="inline-link" href="/resources/pdf/tazo_year-round_recipe_cards.pdf" data-role="none" target="_blank">Download all recipe cards &raquo;</a></p>
                </div>                   

                <div class="empty-menu">
                    <p>
                        Build your menu by adding recipes above.<br />
                        Or skip this step and go <a class="inline-link" href="/programs/tazo-tea/products/" data-role="none">directly to individual products</a>.
                    </p>
                </div>

                <div class="recipe-calc-wrapper">

                    <section id="menu-tazo-brewed-iced-tea-kit" class="recipe-group recipe-group-0" data-group="tazo-brewed-iced-tea-kit">
                    <a name="tazo-brewed-iced-tea-kit-section"></a>

                        <h3 class="group-title">Tazo&reg; Brewed Iced Tea Lemonade Starter Kit</h3>

                        <article id="recipe-tazo-tea-program-tazo-brewed-iced-tea-kit" class="recipe tazo-tea-program" data-group="iced-coffee-starter-kit" data-name="tazo-tea-program-tazo-brewed-iced-tea-kit">
                            <div class="recipe-inner">
                                <span id="joyride-remover0" class="remover year-round-program" data-group="tazo-brewed-iced-tea-kit"><span class="remover-text">Remove</span> <img class="menu-closer-icon" src="/img/svg/fallback/recipe-remover.png"></span>
                                <div class="recipe-column img">
                                    <div class="recipe-image tazo-tea-program" data-name="tazo-tea-program">
                                        <img src="/img/programs/year-round/iced_and_concentrate_starter_kit.jpg"  class="img-large" alt="Tazo Brewed Iced Tea Starter Kit" />
                                        <img src="/img/programs/year-round/iced_and_concentrate_starter_kit.jpg"  class="img-big" alt="Tazo Brewed Iced Tea Starter Kit" />
                                        <img src="/img/programs/year-round/iced_and_concentrate_starter_kit.jpg"  class="img-small" alt="Tazo Brewed Iced Tea Starter Kit" />
                                    </div>
                                </div>
                                <div class="recipe-column details">
                                    <div class="recipe-slider">
                                        <p class="how-many">How many 16 oz. drinks do you expect to serve weekly?</p>
                                        <div id="joyride-slider0" class="slider-wrapper">
                                            <span class="slider-nil">0</span>
                                            <span class="slider-max">1000</span>
                                            <label class="range-label" for="slider-tazo-tea-program-tazo-brewed-iced-tea-kit"></label>
                                            <input class="recipe-qty" type="number" name="slider-tazo-tea-program-tazo-brewed-iced-tea-kit" id="slider-tazo-tea-program-tazo-brewed-iced-tea-kit" value="0" min="0" max="1000" step="50" />
                                        </div>
                                    </div>
                                    <ul class="recipe-ingredient-list">
                                        <li data-name="tazo-iced-passion-tea-filter-pack" class="recipe-ingredient">
                                            <span class="prod-name" data-name="tazo-iced-passion-tea-filter-pack" data-yield="384" data-ratio="25" data-recipe="tazo-iced-passion-tea">Tazo® Iced Passion® Tea Filter Pack</span>
                                            <span class="prod-qty">
                                                <input id="joyride-slider-output0" class="qty-input" type="number" min="0" pattern="\d+" value="" name="sku-val" maxlength="2" data-role="none" readonly />    
                                                <input class="qty-input-val" id="SKU-1115784" name="SKU-1115784" type="hidden" value="0" />
                                                case(s)
                                            </span>
                                        </li>
                                        <li data-name="tazo-iced-zen-tea-filter-pack" class="recipe-ingredient">
                                            <span class="prod-name" data-name="tazo-iced-zen-tea-filter-pack" data-yield="384" data-ratio="25" data-recipe="tazo-iced-zen-tea">Tazo® Iced Zen Tea Filter Pack</span>
                                            <span class="prod-qty">
                                                <input id="joyride-slider-output1" class="qty-input" type="number" min="0" pattern="\d+" value="" name="sku-val" maxlength="2" data-role="none" readonly />    
                                                <input class="qty-input-val" id="SKU-1115794" name="SKU-1115794" type="hidden" value="0" />
                                                case(s)
                                            </span>
                                        </li>
                                        <li data-name="tazo-iced-tropic-tea-filter-pack" class="recipe-ingredient">
                                            <span class="prod-name" data-name="tazo-iced-tropic-tea-filter-pack" data-yield="384" data-ratio="25" data-recipe="tazo-iced-tropic-tea">Tazo® Iced Tropic Tea Filter Pack</span>
                                            <span class="prod-qty">
                                                <input id="joyride-slider-output0" class="qty-input" type="number" min="0" pattern="\d+" value="" name="sku-val" maxlength="2" data-role="none" readonly />    
                                                <input class="qty-input-val" id="SKU-1115796" name="SKU-1115796" type="hidden" value="0" />
                                                case(s)
                                            </span>
                                        </li>
                                        <li data-name="tazo-iced-black-tea-filter-pack" class="recipe-ingredient">
                                            <span class="prod-name" data-name="tazo-iced-black-tea-filter-pack" data-yield="320" data-ratio="25" data-recipe="tazo-iced-black-tea">Tazo® Iced Black Tea Filter Pack</span>
                                            <span class="prod-qty">
                                                <input id="joyride-slider-output1" class="qty-input" type="number" min="0" pattern="\d+" value="" name="sku-val" maxlength="2" data-role="none" readonly />    
                                                <input class="qty-input-val" id="SKU-11020801" name="SKU-11020801" type="hidden" value="0" />
                                                case(s)
                                            </span>
                                        </li>
                                        <li data-name="fontana-classic-syrup" class="recipe-ingredient">
                                            <span class="prod-name" data-name="fontana-classic-syrup" data-yield="169" data-ratio="100" data-recipe="tazo-iced-passion-tea">Fontana&reg; Classic Syrup</span>
                                            <span class="prod-qty">
                                                <input id="joyride-slider-output0" class="qty-input" type="number" min="0" pattern="\d+" value="" name="sku-val" maxlength="2" data-role="none" readonly />    
                                                <input class="qty-input-val" id="SKU-11041386" name="SKU-11041386" type="hidden" value="0" />
                                                case(s)
                                            </span>
                                        </li>
                                        <li data-name="premium-lemonade" class="recipe-ingredient">
                                            <span class="prod-name" data-name="premium-lemonade" data-yield="72" data-ratio="75" data-recipe="tazo-iced-passion-tea">Premium Lemonade</span>
                                            <span class="prod-qty">
                                                <input id="joyride-slider-output1" class="qty-input" type="number" min="0" pattern="\d+" value="" name="sku-val" maxlength="2" data-role="none" readonly />    
                                                <input class="qty-input-val" id="SKU-226008" name="SKU-226008" type="hidden" value="0" />
                                                case(s)
                                            </span>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </article>

                        <section class="module-expander tazo-brewed-iced-tea-kit">
                            <div class="expander">Beverage Breakdown</div>
                            <div class="collapser" data-role="none">
                                <ul class="additional-recipes">
                                    <li class="bundle-beverage-count" data-recipe="tazo-iced-passion-tea">
                                        <span class="recipe-quantity" data-ratio="25"></span>
                                        <span class="recipe-title">Tazo® Iced Passion Tea Lemonades</span>
                                    </li>
                                    <li class="bundle-beverage-count" data-recipe="tazo-iced-zen-tea" >
                                        <span class="recipe-quantity" data-ratio="25"></span>
                                        <span class="recipe-title">Tazo® Iced Green Tea Lemonades</span>
                                    </li>
                                    <li class="bundle-beverage-count" data-recipe="tazo-iced-tropic-tea" >
                                        <span class="recipe-quantity" data-ratio="25"></span>
                                        <span class="recipe-title">Tazo® Iced Tropic Tea Lemonades</span>
                                    </li>
                                    <li class="bundle-beverage-count" data-recipe="tazo-iced-black-tea" >
                                        <span class="recipe-quantity" data-ratio="25"></span>
                                        <span class="recipe-title">Tazo® Iced Black Teas (Sweetened)</span>
                                    </li>
                                </ul>
                            </div>
                        </section>

                        <article id="marketing-tazo-brewed-iced-tea-kit" class="marketing tazo-brewed-iced-tea-kit" data-group="tazo-brewed-iced-tea-kit">
                            <div class="marketing-inner">
                                <div class="marketing-column img mkt-img-2">
                                    <div class="marketing-image tazo-brewed-iced-tea-kit" data-name="tazo-brewed-iced-tea-kit">
                                        <img src="/img/programs/year-round/tazo-brewed-iced-cc.png"  class="img-large" alt="" />
                                        <img src="/img/programs/year-round/tazo-brewed-iced-cc.png"  class="img-big" alt="" />
                                        <img src="/img/programs/year-round/tazo-brewed-iced-cc.png"  class="img-small" alt="" />
                                    </div>
                                    <div class="title">
                                        <span>Tazo&reg; Brewed Iced Tea Marketing Materials</span>
                                    </div>
                                </div>
                                <div id="joyride-marketing0" class="marketing-column details mkt-dtl-2">
                                    <div class="title">
                                        <span>Tazo&reg; Brewed Iced Tea Marketing Materials</span>
                                    </div>
                                    <div>
                                        <ul class="marketing-list">
                                            <li>
                                                <label for="Counter Card 8.5&quot; x 11&quot;_Tazo_Brewed_Iced">
                                                    <span class="title prod-name">Counter Card 8.5&quot; x 11&quot;</span>
                                                    <select id="MKT-SFS-007-TAZO-CC1-00814" name="MKT-SFS-007-TAZO-CC1-00814" data-role="none" class="mkt-select">
                                                        <option value="0">0</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                    </select>
                                                </label>
                                            </li>
                                            <li>
                                                <label for="Table Tent 5&quot; x 7&quot;_Tazo_Brewed_Iced">
                                                    <span class="title prod-name">Table Tent 5&quot; x 7&quot;</span>
                                                    <select id="MKT-SFS-007-TAZO-TT1-00817" name="MKT-SFS-007-TAZO-TT1-00817" data-role="none" class="mkt-select">
                                                        <option value="0">0</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                    </select>
                                                </label>
                                            </li>
                                            <li>
                                                <label for="Poster 22&quot; x 28&quot;_Tazo_Brewed_Iced">
                                                    <span class="title prod-name">Poster 22&quot; x 28&quot;</span>
                                                    <select id="MKT-SFS-007-TAZO-PST-00816-28" name="MKT-SFS-007-TAZO-PST-00816-28" data-role="none" class="mkt-select">
                                                        <option value="0">0</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                    </select>
                                                </label>
                                                <p class="legal">Note: Poster foldable to 22" x 26"</p>
                                            </li>
                                        </ul>
                                    </div>                    
                                </div>
                            </div>
                        </article>
                    </section>
        
                    <section id="menu-tazo-concentrates-kit" class="recipe-group recipe-group-0" data-group="tazo-concentrates-kit">
                    <a name="tazo-concentrates-kit-section"></a>

                        <h3 class="group-title">Tazo&reg; Iced Tea Concentrate Starter Kit</h3>

                        <article id="recipe-tazo-tea-program-tazo-concentrates-kit" class="recipe tazo-tea-program" data-group="tazo-concentrates-kit" data-name="tazo-tea-program-tazo-concentrates-kit">
                            <div class="recipe-inner">
                                <span id="joyride-remover0" class="remover year-round-program" data-group="tazo-concentrates-kit"><span class="remover-text">Remove</span> <img class="menu-closer-icon" src="/img/svg/fallback/recipe-remover.png"></span>
                                <div class="recipe-column img">
                                    <div class="recipe-image tazo-tea-program" data-name="tazo-tea-program">
                                        <img src="/img/programs/year-round/iced_and_concentrate_starter_kit.jpg"  class="img-large" alt="Tazo Iced Tea Concentrate Starter Kit" />
                                        <img src="/img/programs/year-round/iced_and_concentrate_starter_kit.jpg"  class="img-big" alt="Tazo Iced Tea Concentrate Starter Kit" />
                                        <img src="/img/programs/year-round/iced_and_concentrate_starter_kit.jpg"  class="img-small" alt="Tazo Iced Tea Concentrate Starter Kit" />
                                    </div>
                                </div>
                                <div class="recipe-column details">
                                    <div class="recipe-slider">
                                        <p class="how-many">How many 16 oz. drinks do you expect to serve weekly?</p>
                                        <div id="joyride-slider0" class="slider-wrapper">
                                            <span class="slider-nil">0</span>
                                            <span class="slider-max">1000</span>
                                            <label class="range-label" for="slider-tazo-tea-program-tazo-concentrates-kit"></label>
                                            <input class="recipe-qty" type="number" name="slider-tazo-tea-program-tazo-concentrates-kit" id="slider-tazo-tea-program-tazo-concentrates-kit" value="0" min="0" max="1000" step="50" />
                                        </div>
                                    </div>
                                    <ul class="recipe-ingredient-list">
                                        <li data-name="tazo-peachy-green-iced-tea-concentrate" class="recipe-ingredient">
                                            <span class="prod-name" data-name="tazo-peachy-green-iced-tea-concentrate" data-yield="32" data-ratio="33" data-recipe="tazo-peachy-green-iced-tea">Tazo&reg; Peachy Green Iced Tea Concentrate</span>
                                            <span class="prod-qty">
                                                <input id="joyride-slider-output0" class="qty-input" type="number" min="0" pattern="\d+" value="" name="sku-val" maxlength="2" data-role="none" readonly />    
                                                <input class="qty-input-val" id="SKU-11041594" name="SKU-11041594" type="hidden" value="0" />
                                                case(s)
                                            </span>
                                        </li>
                                        <li data-name="tazo-passion-iced-tea-concentrate" class="recipe-ingredient">
                                            <span class="prod-name" data-name="tazo-passion-iced-tea-concentrate" data-yield="32" data-ratio="33" data-recipe="tazo-passion-iced-tea">Tazo&reg; Passion Iced Tea Concentrate</span>
                                            <span class="prod-qty">
                                                <input id="joyride-slider-output1" class="qty-input" type="number" min="0" pattern="\d+" value="" name="sku-val" maxlength="2" data-role="none" readonly />    
                                                <input class="qty-input-val" id="SKU-11041593" name="SKU-11041593" type="hidden" value="0" />
                                                case(s)
                                            </span>
                                        </li>
                                        <li data-name="fontana-vanilla-syrup" class="recipe-ingredient">
                                            <span class="prod-name" data-name="fontana-vanilla-syrup" data-yield="270" data-ratio="33" data-recipe="tazo-passion-iced-tea">Fontana&reg; Vanilla Syrup</span>
                                            <span class="prod-qty">
                                                <input id="joyride-slider-output1" class="qty-input" type="number" min="0" pattern="\d+" value="" name="sku-val" maxlength="2" data-role="none" readonly />    
                                                <input class="qty-input-val" id="SKU-11048809" name="SKU-11048809" type="hidden" value="0" />
                                                case(s)
                                            </span>
                                        </li>
                                        <li data-name="premium-lemonade" class="recipe-ingredient">
                                            <span class="prod-name" data-name="premium-lemonade" data-yield="144" data-ratio="33" data-recipe="tazo-passion-iced-tea">Premium Lemonade</span>
                                            <span class="prod-qty">
                                                <input id="joyride-slider-output1" class="qty-input" type="number" min="0" pattern="\d+" value="" name="sku-val" maxlength="2" data-role="none" readonly />    
                                                <input class="qty-input-val" id="SKU-226008" name="SKU-226008" type="hidden" value="0" />
                                                case(s)
                                            </span>
                                        </li>
                                        <li data-name="tazo-sangria-black-iced-tea-concentrate" class="recipe-ingredient">
                                            <span class="prod-name" data-name="tazo-sangria-black-iced-tea-concentrate" data-yield="32" data-ratio="33" data-recipe="tazo-sangria-black-iced-tea">Tazo&reg; Sangria Black Iced Tea Concentrate</span>
                                            <span class="prod-qty">
                                                <input id="joyride-slider-output3" class="qty-input" type="number" min="0" pattern="\d+" value="" name="sku-val" maxlength="2" data-role="none" readonly />    
                                                <input class="qty-input-val" id="SKU-11041595" name="SKU-11041595" type="hidden" value="0" />
                                                case(s)
                                            </span>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </article>

                        <section class="module-expander tazo-brewed-iced-tea-kit">
                            <div class="expander">Beverage Breakdown</div>
                            <div class="collapser" data-role="none">
                                <ul class="additional-recipes">
                                    <li class="bundle-beverage-count" data-recipe="tazo-peachy-green-iced-tea">
                                        <span class="recipe-quantity" data-ratio="33"></span>
                                        <span class="recipe-title">Tazo&reg; Iced Peachy Green Teas</span>
                                    </li>
                                    <li class="bundle-beverage-count" data-recipe="tazo-passion-iced-tea" >
                                        <span class="recipe-quantity" data-ratio="33"></span>
                                        <span class="recipe-title">Tazo&reg; Iced Passion Tea Lemonades</span>
                                    </li>
                                    <li class="bundle-beverage-count" data-recipe="tazo-sangria-black-iced-tea" >
                                        <span class="recipe-quantity" data-ratio="33"></span>
                                        <span class="recipe-title">Tazo&reg; Iced Sangria Black Teas</span>
                                    </li>
                                </ul>
                            </div>
                        </section>

                        <article id="marketing-tazo-concentrates-kit" class="marketing tazo-concentrates-kit" data-group="tazo-concentrates-kit">
                            <div class="marketing-inner">
                                <div class="marketing-column img mkt-img-2">
                                    <div class="marketing-image tazo-concentrates-kit" data-name="tazo-concentrates-kit">
                                        <img src="/img/programs/year-round/tazo-iced-concentrates-cc.png"  class="img-large" alt="" />
                                        <img src="/img/programs/year-round/tazo-iced-concentrates-cc.png"  class="img-big" alt="" />
                                        <img src="/img/programs/year-round/tazo-iced-concentrates-cc.png"  class="img-small" alt="" />
                                    </div>
                                    <div class="title">
                                        <span>Iced Tea Marketing Materials</span>
                                    </div>
                                </div>
                                <div id="joyride-marketing1" class="marketing-column details mkt-dtl-2">
                                    <div class="title">
                                        <span>Iced Tea Marketing Materials</span>
                                    </div>
                                    <div>
                                        <ul class="marketing-list">
                                            <li>
                                                <label for="Counter Card 8.5&quot; x 11&quot;_Tazo_Iced_Tea_Concentrates">
                                                    <span class="title prod-name">Counter Card 8.5&quot; x 11&quot;</span>
                                                    <select id="MKT-SFS-007-TAZO-CC1-1269" name="MKT-SFS-007-TAZO-CC1-1269" data-role="none" class="mkt-select">
                                                            <option value="0">0</option>
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                            <option value="5">5</option>
                                                    </select>
                                                </label>
                                            </li>
                                            <li>
                                                <label for="Table Tent 5&quot; x 7&quot;_Tazo_Iced_Tea_Concentrates">
                                                    <span class="title prod-name">Table Tent 5&quot; x 7&quot;</span>
                                                    <select id="MKT-SFS-007-TAZO-TT1-1273" name="MKT-SFS-007-TAZO-TT1-1273" data-role="none" class="mkt-select">
                                                            <option value="0">0</option>
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                            <option value="5">5</option>
                                                    </select>
                                                </label>
                                            </li>
                                            <li>
                                                <label for="Poster 22&quot; x 28&quot;_Tazo_Iced_Tea_Concentrates">
                                                    <span class="title prod-name">Poster 22&quot; x 28&quot;</span>
                                                    <select id="MKT-SFS-007-TAZO-PST-1272" name="MKT-SFS-007-TAZO-PST-1272" data-role="none" class="mkt-select">
                                                            <option value="0">0</option>
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                    </select>
                                                </label>
                                                <p class="legal">Note: Poster foldable to 22" x 26"</p>
                                            </li>
                                        </ul>
                                    </div>      
                                </div>
                            </div>
                                        
                        </article>
                                
                    </section>

                    <section id="menu-tazo-hot-tea-kit" class="recipe-group recipe-group-0" data-group="tazo-hot-tea-kit">
                    <a name="tazo-hot-tea-kit-section"></a>

                        <h3 class="group-title">Tazo&reg; Tea Starter Kit</h3>

                        <article id="recipe-tazo-tea-program-tazo-hot-tea-kit" class="recipe tazo-tea-program" data-group="iced-coffee-starter-kit" data-name="tazo-tea-program-tazo-brewed-iced-tea-kit">
                            <div class="recipe-inner">
                                <span id="joyride-remover0" class="remover year-round-program" data-group="tazo-brewed-iced-tea-kit"><span class="remover-text">Remove</span> <img class="menu-closer-icon" src="/img/svg/fallback/recipe-remover.png"></span>
                                <div class="recipe-column img">
                                    <div class="recipe-image tazo-tea-program" data-name="tazo-tea-program">
                                        <img src="/img/programs/year-round/hot_tea_starter_kit.jpg"  class="img-large" alt="Tazo Hot Tea Starter Kit" />
                                        <img src="/img/programs/year-round/hot_tea_starter_kit.jpg"  class="img-big" alt="Tazo Hot Tea Starter Kit" />
                                        <img src="/img/programs/year-round/hot_tea_starter_kit.jpg"  class="img-small" alt="Tazo Hot Tea Starter Kit" />
                                    </div>
                                </div>
                                <div class="recipe-column details">
                                    <div class="recipe-slider">
                                        <p class="how-many">How many 16 oz. drinks do you expect to serve weekly?</p>
                                        <div id="joyride-slider0" class="slider-wrapper">
                                            <span class="slider-nil">0</span>
                                            <span class="slider-max">1152</span>
                                            <label class="range-label" for="slider-tazo-tea-program-tazo-tea-starter-kit"></label>
                                            <input class="recipe-qty" type="number" name="slider-tazo-tea-program-tazo-tea-starter-kit" id="slider-tazo-tea-program-tazo-tea-starter-kit" value="0" min="0" max="1152" step="288" />
                                        </div>
                                    </div>
                                    <ul class="recipe-ingredient-list">
                                        <li data-name="starbucks-iced-coffee-blend" class="recipe-ingredient">
                                            <span class="prod-name" data-name="starbucks-iced-coffee-blend" data-yield="288" data-ratio="100" data-recipe="hot-tea-starter-kit">Tazo® Hot Tea Starter Kit</span>
                                            <span class="prod-qty">
                                                <input id="joyride-slider-output0" class="qty-input" type="number" min="0" pattern="\d+" value="" name="sku-val" maxlength="2" data-role="none" readonly />    
                                                <input class="qty-input-val" id="SKU-11004217" name="SKU-11004217" type="hidden" value="0" />
                                                case(s)
                                            </span>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </article>

                        <section class="module-expander tazo-brewed-iced-tea-kit">
                            <div class="expander">Beverage Breakdown</div>
                            <div class="collapser" data-role="none">
                                <ul class="additional-recipes">
                                    <li class="bundle-beverage-count" data-recipe="hot-tea-starter-kit">
                                        <span class="recipe-quantity" data-ratio="8.4"></span>
                                        <span class="recipe-title">Tazo&reg; Awake English Breakfast Teas</span>
                                    </li>
                                    <li class="bundle-beverage-count" data-recipe="hot-tea-starter-kit">
                                        <span class="recipe-quantity" data-ratio="8.4"></span>
                                        <span class="recipe-title">Tazo&reg; Zen Teas</span>
                                    </li>
                                    <li class="bundle-beverage-count" data-recipe="hot-tea-starter-kit">
                                        <span class="recipe-quantity" data-ratio="8.4"></span>
                                        <span class="recipe-title">Tazo&reg; Earl Gray Teas</span>
                                    </li>
                                    <li class="bundle-beverage-count" data-recipe="hot-tea-starter-kit">
                                        <span class="recipe-quantity" data-ratio="8.4"></span>
                                        <span class="recipe-title">Tazo&reg; Calm Teas</span>
                                    </li>
                                    <li class="bundle-beverage-count" data-recipe="hot-tea-starter-kit">
                                        <span class="recipe-quantity" data-ratio="8.4"></span>
                                        <span class="recipe-title">Tazo&reg; China Green Tips Teas</span>
                                    </li>
                                    <li class="bundle-beverage-count" data-recipe="hot-tea-starter-kit">
                                        <span class="recipe-quantity" data-ratio="8.4"></span>
                                        <span class="recipe-title">Tazo&reg; Wild Orange Teas</span>
                                    </li>
                                    <li class="bundle-beverage-count" data-recipe="hot-tea-starter-kit">
                                        <span class="recipe-quantity" data-ratio="8.4"></span>
                                        <span class="recipe-title">Tazo&reg; Chai Teas</span>
                                    </li>
                                    <li class="bundle-beverage-count" data-recipe="hot-tea-starter-kit">
                                        <span class="recipe-quantity" data-ratio="8.4"></span>
                                        <span class="recipe-title">Tazo&reg; Refresh Mint Teas</span>
                                    </li>
                                    <li class="bundle-beverage-count" data-recipe="hot-tea-starter-kit">
                                        <span class="recipe-quantity" data-ratio="8.4"></span>
                                        <span class="recipe-title">Tazo&reg; Passion Teas</span>
                                    </li>
                                    <li class="bundle-beverage-count" data-recipe="hot-tea-starter-kit">
                                        <span class="recipe-quantity" data-ratio="8.4"></span>
                                        <span class="recipe-title">Tazo&reg; Green Ginger Teas</span>
                                    </li>
                                    <li class="bundle-beverage-count" data-recipe="hot-tea-starter-kit">
                                        <span class="recipe-quantity" data-ratio="8.4"></span>
                                        <span class="recipe-title">Tazo&reg; Lotus Blossom Teas</span>
                                    </li>
                                    <li class="bundle-beverage-count" data-recipe="hot-tea-starter-kit">
                                        <span class="recipe-quantity" data-ratio="8.4"></span>
                                        <span class="recipe-title">Tazo&reg; Decaf Chai Teas</span>
                                    </li>
                                </ul>
                            </div>
                        </section>

                        <article id="marketing-fontana-smoothies" class="marketing fontana-smoothies" data-group="fontana-smoothies">
                            <div class="marketing-inner">
                                <div class="marketing-column img mkt-img-2">
                                    <div class="marketing-image fontana-smoothies" data-name="fontana-smoothies">
                                        <img src="/img/programs/year-round/tazo-brewed-hot-cc.png"  class="img-large" alt="" />
                                        <img src="/img/programs/year-round/tazo-brewed-hot-cc.png"  class="img-big" alt="" />
                                        <img src="/img/programs/year-round/tazo-brewed-hot-cc.png"  class="img-small" alt="" />
                                    </div>
                                    <div class="title">
                                        <span>Tazo&reg; Tea Marketing Materials</span>
                                    </div>
                                </div>
                                <div id="joyride-marketing2" class="marketing-column details mkt-dtl-2">
                                    <div class="title">
                                        <span>Tazo&reg; Tea Marketing Materials</span>
                                    </div>
                                    <div>
                                        <ul class="marketing-list">
                                            <li>
                                                <label for="Counter Card 8.5&quot; x 11&quot;_Tazo_Tea">
                                                    <span class="title prod-name">Counter Card 8.5&quot; x 11&quot;</span>
                                                    <select id="MKT-SFS-007-TAZO-CC1-00806" name="MKT-SFS-007-TAZO-CC1-00806" data-role="none" class="mkt-select">
                                                            <option value="0">0</option>
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                            <option value="5">5</option>
                                                    </select>
                                                </label>
                                            </li>
                                            <li>
                                                <label for="Table Tent 5&quot; x 7&quot;_Tazo_Tea">
                                                    <span class="title prod-name">Table Tent 5&quot; x 7&quot;</span>
                                                    <select id="MKT-SFS-007-TAZO-TT1-00809" name="MKT-SFS-007-TAZO-TT1-00809" data-role="none" class="mkt-select">
                                                            <option value="0">0</option>
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                            <option value="5">5</option>
                                                    </select>
                                                </label>
                                            </li>
                                            <li>
                                                <label for="Poster 22&quot; x 28&quot;_Tazo_Tea">
                                                    <span class="title prod-name">Poster 22&quot; x 28&quot;</span>
                                                    <select id="MKT-SFS-007-TAZO-PST-00808-28" name="MKT-SFS-007-TAZO-PST-00808-28" data-role="none" class="mkt-select">
                                                            <option value="0">0</option>
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                    </select>
                                                </label>
                                                <p class="legal">Note: Poster foldable to 22" x 26"</p>
                                            </li>
                                        </ul>
                                    </div>      
                                </div>
                            </div>
                                        
                        </article>
                                
                    </section>

                    <section id="menu-tazo-chai-concentrate-kit" class="recipe-group recipe-group-3" data-group="tazo-chai-concentrate-kit">
                    <a name="tazo-chai-concentrate-kit-section"></a>

                        <h3 class="group-title">Tazo&reg; Chai Concentrate Starter Kit</h3>

                        <article id="recipe-tazo-tea-program-tazo-chai-concentrate-kit" class="recipe tazo-tea-program" data-group="tazo-chai-concentrate-kit" data-name="tazo-tea-program-tazo-chai-concentrate-kit">
                            <div class="recipe-inner">
                                <span id="joyride-remover0" class="remover year-round-program" data-group="tazo-chai-concentrate-kit"><span class="remover-text">Remove</span> <img class="menu-closer-icon" src="/img/svg/fallback/recipe-remover.png"></span>
                                <div class="recipe-column img">
                                    <div class="recipe-image tazo-tea-program" data-name="tazo-tea-program">
                                        <img src="/img/programs/year-round/chai_starter_kit.jpg"  class="img-large" alt="Tazo Chai Starter Kit" />
                                        <img src="/img/programs/year-round/chai_starter_kit.jpg"  class="img-big" alt="Tazo Chai Starter Kit" />
                                        <img src="/img/programs/year-round/chai_starter_kit.jpg"  class="img-small" alt="Tazo Chai Starter Kit" />
                                    </div>
                                </div>
                                <div class="recipe-column details">
                                    <div class="recipe-slider">
                                        <p class="how-many">How many 16 oz. drinks do you expect to serve weekly?</p>
                                        <div id="joyride-slider0" class="slider-wrapper">
                                            <span class="slider-nil">0</span>
                                            <span class="slider-max">1000</span>
                                            <label class="range-label" for="slider-tazo-tea-program-tazo-chai-concentrate-kit"></label>
                                            <input class="recipe-qty" type="number" name="slider-tazo-tea-program-tazo-chai-concentrate-kit" id="slider-tazo-tea-program-tazo-chai-concentrate-kit" value="0" min="0" max="1000" step="50" />
                                        </div>
                                    </div>
                                    <ul class="recipe-ingredient-list">
                                        <li data-name="tazo-classic-chai-concentrate" class="recipe-ingredient">
                                            <span class="prod-name" data-name="tazo-classic-chai-concentrate" data-yield="60" data-ratio="33" data-recipe="tazo-iced-chai-tea-latte">Tazo&reg; Classic Chai Concentrate</span>
                                            <span class="prod-qty">
                                                <input id="joyride-slider-output0" class="qty-input" type="number" min="0" pattern="\d+" value="" name="sku-val" maxlength="2" data-role="none" readonly />    
                                                <input class="qty-input-val" id="SKU-11017406" name="SKU-11017406" type="hidden" value="0" />
                                                case(s)
                                            </span>
                                        </li>
                                        <li data-name="fontana-classic-syrup" class="recipe-ingredient">
                                            <span class="prod-name" data-name="tazo-chocolate-chai-concentrate" data-yield="60" data-ratio="33" data-recipe="tazo-iced-chocolate-chai-tea-latte">Tazo&reg; Chocolate Chai Concentrate</span>
                                            <span class="prod-qty">
                                                <input id="joyride-slider-output1" class="qty-input" type="number" min="0" pattern="\d+" value="" name="sku-val" maxlength="2" data-role="none" readonly />    
                                                <input class="qty-input-val" id="SKU-11028620" name="SKU-11028620" type="hidden" value="0" />
                                                case(s)
                                            </span>
                                        </li>
                                        <li data-name="fontana-vanilla-syrup" class="recipe-ingredient">
                                            <span class="prod-name" data-name="tazo-vanilla-caramel-chai-concentrate" data-yield="60" data-ratio="33" data-recipe="tazo-iced-vanilla-caramel-chai-tea-latte">Tazo&reg; Vanilla Caramel Chai Concentrate</span>
                                            <span class="prod-qty">
                                                <input id="joyride-slider-output3" class="qty-input" type="number" min="0" pattern="\d+" value="" name="sku-val" maxlength="2" data-role="none" readonly />    
                                                <input class="qty-input-val" id="SKU-11039150" name="SKU-11039150" type="hidden" value="0" />
                                                case(s)
                                            </span>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </article>

                        <section class="module-expander tazo-chai-concentrate-kit ">
                            <div class="expander">Beverage Breakdown</div>
                            <div class="collapser" data-role="none">
                                <ul class="additional-recipes">
                                    <li class="bundle-beverage-count" data-recipe="tazo-iced-chai-tea-latte">
                                        <span class="recipe-quantity" data-ratio="33"></span>
                                        <span class="recipe-title">Tazo&reg; Hot Chai Tea Lattes</span>
                                    </li>
                                    <li class="bundle-beverage-count" data-recipe="tazo-iced-chocolate-chai-tea-latte" >
                                        <span class="recipe-quantity" data-ratio="33"></span>
                                        <span class="recipe-title">Tazo&reg; Chocolate Chai Tea Lattes</span>
                                    </li>
                                    <li class="bundle-beverage-count" data-recipe="tazo-iced-vanilla-caramel-chai-tea-latte">
                                        <span class="recipe-quantity" data-ratio="33"></span>
                                        <span class="recipe-title">Tazo&reg; Iced Vanilla Caramel Chai Tea Lattes</span>
                                    </li>
                                </ul>
                            </div>
                        </section>

                        <article id="marketing-tazo-chai-concentrate-kit" class="marketing tazo-chai-concentrate-kit" data-group="tazo-chai-concentrate-kit">
                            <div class="marketing-inner">
                                <div class="marketing-column img mkt-img-2">
                                    <div class="marketing-image tazo-chai-concentrate-kit" data-name="tazo-chai-concentrate-kit">
                                        <img src="/img/programs/year-round/tazo-chai-cc.png"  class="img-large" alt="" />
                                        <img src="/img/programs/year-round/tazo-chai-cc.png"  class="img-big" alt="" />
                                        <img src="/img/programs/year-round/tazo-chai-cc.png"  class="img-small" alt="" />
                                    </div>
                                    <div class="title">
                                        <span>Tazo&reg; Chai Concentrate Marketing Materials</span>
                                    </div>
                                </div>
                                <div id="joyride-marketing3" class="marketing-column details mkt-dtl-2">
                                    <div class="title">
                                        <span>Tazo&reg; Chai Concentrate Marketing Materials</span>
                                    </div>
                                    <div>
                                        <ul class="marketing-list">
                                            <li>
                                                <label for="Counter Card 8.5&quot; x 11&quot;_Tazo_Chai_Concentrates">
                                                    <span class="title prod-name">Counter Card 8.5&quot; x 11&quot;</span>
                                                    <select id="MKT-SFS-007-TAZO-CC1-1151" name="MKT-SFS-007-TAZO-CC1-1151" data-role="none" class="mkt-select">
                                                            <option value="0">0</option>
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                            <option value="5">5</option>
                                                    </select>
                                                </label>
                                            </li>
                                            <li>
                                                <label for="Table Tent 5&quot; x 7&quot;_Tazo_Chai_Concentrates">
                                                    <span class="title prod-name">Table Tent 5&quot; x 7&quot;</span>
                                                    <select id="MKT-SFS-007-TAZO-TT1-1153" name="MKT-SFS-007-TAZO-TT1-1153" data-role="none" class="mkt-select">
                                                            <option value="0">0</option>
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                            <option value="5">5</option>
                                                    </select>
                                                </label>
                                            </li>
                                            <li>
                                                <label for="Poster 22&quot; x 28&quot;_Tazo_Chai_Concentrates">
                                                    <span class="title prod-name">Poster 22&quot; x 28&quot;</span>
                                                    <select id="MKT-SFS-007-TAZO-PST-00812-28" name="MKT-SFS-007-TAZO-PST-00812-28" data-role="none" class="mkt-select">
                                                            <option value="0">0</option>
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                    </select>
                                                </label>
                                                <p class="legal">Note: Poster foldable to 22" x 26"</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </section>

                    <section id="menu-supporting-tazo-tea-products" class="content-band program-support-products recipe-group" data-group="supporting-tazo-tea-products">
                    <a name="supporting-tazo-tea-section"></a>

                        <div class="inner-wrapper">
                            <h3 class="mb-40 group-title">Supporting Products</h3>
                            <div class="products-inner">
                                <span id="joyride-remover0" class="remover tazo-tea-program" data-group="supporting-tazo-tea-products"><span class="remover-text">Remove</span> <img class="menu-closer-icon" src="/img/svg/fallback/recipe-remover.png"></span>
                                <div class="products-column img">
                                    <div class="recipe-image supporting-tazo-tea-products" data-name="supporting-tazo-tea-products">
                                        <img src="/img/programs/year-round/supporting-products.png" class="img-large" alt="classic-iced-coffee" />
                                    </div>
                                </div>
                                <div class="products-column details">
                                    @if (Request.Cookies["AccountAttributes"]["CustomerBrand"] != null)
                                    {
                                        if (ViewBag.IsSBC)
                                        {
                                            Html.RenderPartial("_yrTazoProductsSBC");
                                        }
                                        else if (ViewBag.IsDual)
                                        {
                                             Html.RenderPartial("_yrTazoProductsDual"); 
                                        }
                                        else
                                        {
                                             Html.RenderPartial("_yrTazoProductsSBX"); 
                                        }
                                    }
                                    else
                                    {
                                        <h2 class="account-msg">Please select a specific account from your <a href="/dashboard">dashboard</a> to display the correct products.</h2>
                                    }
                                </div>
                            </div>
                        </div>
                    </section>

                </div>
                
                <section class="program-continue">
                    <div class="inner-wrapper">
                        <input type="hidden" name="nextPage" value="/programs/tazo-tea/products" />
                        <a class="program-next" id="progSubmit" href="/programs/tazo-tea/products"><span>Next</span></a>
                    </div>
                </section>

                <div class="clear"></div>

            </div>

        </div>
    }
    </section>
</section>

@Html.Partial("~/Views/Partials/_YearRoundTour.cshtml")

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            SBS.ProgramFunctionality();
            $("#progSubmit, .progSubmit").bind('click touch', function() {
                $("#programForm").submit();
                return false;
                
            });
        });
    </script>
    <script>
        //ie8 checkbox

        $(document).ready(function () {
            $('.checkbox').unbind('click touch').bind('click touch', function () {

                var aunt = $(this).parent().prev('input');

                aunt.toggleClass('checked');

            });

            $(".mkt-select").select2({
                minimumResultsForSearch: -1
            });

            $(".product-type-select").select2({
                minimumResultsForSearch: -1,
                dropdownCssClass: 'product-type-dropdown'
            });

            $('#explore-all-sugar-free-flavors .tile-elements h2').replaceWith('<h2>Explore all<br />Sugar-Free flavors</h2>');

        });


   </script>

}
                
    </section>
</section>