@using System.Web.Mvc.Html
@using Umbraco.Web
@using solutions.starbucks.web.Controllers
@using solutions.starbucks.Model
@model AccountAccessViewModel
@{
    Html.EnableClientValidation(true);
    Html.EnableUnobtrusiveJavaScript(true);
}

@using (Html.BeginUmbracoForm<AccountSurfaceController>("ProcessAccountAccess")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    if (Model.isPartner) {
        if (Convert.ToBoolean(TempData["IncorrectAccountNumber"]) || string.IsNullOrWhiteSpace(Model.SelectedAccount)) {
            @Html.TextBoxFor(model => model.SelectedAccount, new { @class = "form-control", placeholder = "ENTER CUSTOMER ACCOUNT #" })
            <button class="dashboard-back" type="submit">VIEW AS ACCOUNT</button>
        }
        else {
            <button class="dashboard-back" type="submit">VIEW AS PARTNER</button>
        }
    }
    else {
        @Html.DropDownListFor(m => m.SelectedAccount, new SelectList(Model.AssociatedAccounts.OrderBy(a => a.Text), "Value", "Text", ""), "Select another account", new { required = "required", @class="dark-select dashboard-acct-select" })
    }
    
    <div class="clear"></div>
}