/* Coffee */
#coffeelanding {
    background: #F4F4F4;

    header {
        background-image: url(../img/coffee-header.jpg);

        @include media($tablet) {
            background-image: url(../img/coffee-header-1100.jpg);
        }

        @include media($big_mobile) {
            background-image: url(../img/coffee-header-767.jpg);
        }

        @include media($small-mobile) {
            background-image: url(../img/coffee-header-479.jpg);
        }
    }
}

#coffee-details {
    background-color: #D4D0C4;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}

.roast-slider {
    background: #000;
    height: 2px;
    margin: 10px 0;
    position: relative;
    width: 100%;

    .circle {
        background: #CCB;
        border: 2px solid #000;
        border-radius: 50%;
        display: block;
        height: 15px;
        position: absolute;
        top: -7px;
        width: 15px;

        &.blonde {
            left: 15%;
        }

        &.medium {
            left: 47%;
        }

        &.dark {
            left: 80%;
        }
    }

    .dot-mid-left, .dot-mid-right {
        background: #000;
        border-radius: 50%;
        height: 8px;
        position: absolute;
        top: -3px;
        width: 8px;
    }

    .dot-mid-left {
        left: 33%;
    }

    .dot-mid-right {
        left: 62%;
    }
}

.roast-value {
    @include fonts-med;
    display: inline-block;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    width: 32%;
}

.region-map {
    background: url(../img/bg-region-map.png) no-repeat 0 0;
    height: 97px;
    margin-top: 10px;
    position: relative;
    width: 200px;

    img {
        position: absolute;
        z-index: 1;

        &.latin-america {
            left: 49px;
            top: 49px;
        }

        &.africa-arabia {
            left: 107px;
            top: 35px;
        }

        &.asia-pacific {
            left: 152px;
            top: 51px;
        }
    }

    &.multi-region img {
        display: block !important;
    }
}

.product-details-roast p {
    font-size: 10px;
    margin-top: 5px;
    text-align: center;
}