#our-programs #site-wrapper #content {

	header {

		h1 { width: 652px;

			@include media($tablet) { width: 50%; }
			@include media($mobile) { width: 100%; }
		}
		p { width: 550px;

			@include media($tablet) { width: 360px; }
			@include media($big-mobile) { width: 75%; }
			@include media($small-mobile) {	width: 80%; }	
		}
	}
	.body-content { 

		article { background: $tan;

			section { background-image: url(../img/backgrounds/our-programs-body.png); background-repeat: no-repeat;

				&.ca-en { background-image: url(../img/backgrounds/our-programs-body-ca-en.png); }
				&.ca-fr { background-image: url(../img/backgrounds/our-programs-body-ca-fr.png); }
			}
		}
	}
	
	.support-content { background: #fff; }
}