#blended #site-wrapper #content, #sbc-blended #site-wrapper #content {

	header {

		h1, h3, p { color: $med-gray; }
		p {

			@include media($small-mobile) { width: 81%; }
		}
	}

	.body-content {

		article { background-color: rgb(255,255,255);

			&.brand-frappuccino { background: $tan;

				section { padding-right: 410px; background: url(../img/sbx-frap-body.png) no-repeat; background-position: right center;
					
					@include media($mobile) { padding-right: 20px; background: none; }

					img { margin-bottom: 30px; }
				}
			}
		}
	}
	.support-content { background: #fff;

		article {

			&.blended-fontana { background-color: #fff;

				section { padding-left: 160px; background: url(../img/blended-body.png) no-repeat; background-position: left center;
	
					@include media($tablet) { padding-left: 210px; background-position: 48px center; }
					@include media($mobile) { padding-left: 20px; background-image: none; }
				}
			}
		}

		.bottom-edger { height: 120px; background: #fff url(../img/blended-bottom-edger.png) no-repeat; background-size: 600px; background-position: center bottom;

			@include media($tablet) { height: 120px; background-size: 600px; }
			@include media($mobile) { padding-top: 20px; padding-bottom: 12%; height: 0; }
			@include media($big-mobile) { background-size: 70%; }
			@include media($small-mobile) { background-size: 90%; }
		}
	}
}