#sbc-brewed #site-wrapper #content {

    header {

        h3, h1, p { color: $med-gray; }
    }

    .body-content {

        article { background-color: rgb(201,242,250);

            section { background-image: url(../img/brewed-sbc-body.png);

                &.ca-en, &.ca-fr { background-image: url(../img/brewed-sbc-body-bil.png); }
            }
        }
    }

    .support-content {
        background: #fff;

        article {

            h3 {

                @include media($big-mobile) {
                    margin-top: 20px;
                }

                @include media($small-mobile) {
                    margin-top: 20px;
                }
            }
        }

        .signature {
            background-color: #fff; background-image: url(../img/backgrounds/sbc_our_brewed_programs_background.jpg); background-repeat: no-repeat; background-position: center center;

            @include media($tablet) { background-image: url(../img/backgrounds/sbc_our_brewed_programs_background_tablet.jpg); background-position: left center; }
            @include media($mobile) { background-position: center bottom; }
            @include media($big-mobile) { background-image: url(../img/backgrounds/sbc_our_brewed_programs_background_mobile_landscape.jpg); }
            @include media($small-mobile) { background-image: url(../img/backgrounds/sbc_our_brewed_programs_background_mobile_portrait.jpg); }

            &.ca-en, &.ca-fr, &.ca-sp { background-image: url(../img/backgrounds/sbc_our_brewed_programs_background-bil.jpg);

                @include media($tablet) { background-image: url(../img/backgrounds/sbc_our_brewed_programs_background_tablet-bil.jpg); }
                @include media($big-mobile) { background-image: url(../img/backgrounds/sbc_our_brewed_programs_background_mobile_landscape-bil.jpg); }
                @include media($small-mobile) { background-image: url(../img/backgrounds/sbc_our_brewed_programs_background_mobile_portrait-bil.jpg); }
            }

            section { padding: 20px 380px 20px 20px; color: $med-gray;

                @include media($tablet) { padding-bottom: 40px; width: 100%; }
                @include media($tablet-landscape) { padding-right: 420px; }
                @include media($tablet-portrait) { padding-right: 170px; }
                @include media($big-mobile) { padding-bottom: 20px; padding-top: 20px; padding-right: 100px; width: 100%; }
                @include media($small-mobile) { padding-top: 20px; padding-right: 20px; padding-bottom: 20px; width: 100%; }
                
                ul { width: 83%;

                    @include media($big-mobile) { width: 90%; }
                    @include media($small-mobile) { width: 250px; }
                }
            }
        }

        .core {
            background: rgb(255, 255, 255);

            section {
                padding: 40px 20px 20px 20px;
                color: #000;

                @include media($tablet) {
                    padding: 20px 20px 20px 20px;
                    width: 100%;
                    background-size: 270px;
                    background-position: left 20px;
                }

                @include media($big-mobile) {
                    padding: 20px !important;
                    width: 100%;
                    background: none;
                }

                @include media($small-mobile) {
                    padding: 20px !important;
                    width: 100%;
                    background: none;
                }
            }
        }

        .tazo {
            background: rgb(208,214,221);

            section {
                padding: 210px 39px 60px 220px;
                height: 370px;
                background: url(../img/tazo-support-two-column.png) no-repeat;
                background-position: left center;

                @include media($tablet) {
                    padding-top: 20px;
                    padding-left: 20px;
                    padding-bottom: 18%;
                    height: 340px;
                    background: url(../img/tazo-support-two-column-mobile.png) no-repeat;
                    background-position: center bottom;
                    background-size: 100%;
                }

                @include media($big-mobile) {
                    padding-top: 20px;
                    padding-left: 20px;
                    padding-bottom: 18%;
                    height: 340px;
                    background: url(../img/tazo-support-two-column-mobile.png) no-repeat;
                    background-position: center bottom;
                    background-size: 100%;
                }

                @include media($small-mobile) {
                    padding-top: 20px;
                    padding-left: 20px;
                    padding-bottom: 25%;
                    height: 310px;
                    background: url(../img/tazo-support-two-column-mobile.png) no-repeat;
                    background-position: center bottom;
                    background-size: 100%;
                }

                p {
                    margin: .75em 0 .5em 0;
                    line-height: 1.5em;

                    @include media ($tablet) {
                        width: 60%;
                    }

                    @include media ($big-mobile) {
                        width: 250px;
                    }
                }
            }
        }

        .fontana {
            background: #f7f7f7;

            section {
                padding-top: 0;
                height: 370px;
                background: url(../img/fontana-chevron.png) no-repeat;
                background-position: top center;
                background-size: 100%;

                > div {
                    @include float(left);

                    &.fontana-left {
                        padding-top: 100px;
                        width: 60%;

                        @include media($tablet) {
                            padding-top: 70px;
                        }

                        @include media($big-mobile) {
                            padding-top: 125px;
                            padding-bottom: 20px;
                        }

                        @include media($small-mobile) {
                            padding-top: 80px;
                            padding-bottom: 20px;
                            width: 60%;
                        }
                    }

                    &.fontana-right {
                        margin-top: 17px;
                        width: 40%;

                        @include media($tablet) {
                            margin-top: 0;
                        }
                    }
                }

                @include media($tablet) {
                    padding-top: 20px;
                    padding-bottom: 40% !important;
                    padding-right: 20px;
                    height: 340px;
                }

                @include media($big-mobile) {
                    padding-bottom: 40% !important;
                    padding-right: 20px;
                    height: 310px;
                }

                @include media($small-mobile) {
                    padding-bottom: 40% !important;
                    padding-right: 20px;
                    height: 390px;
                }

                &.column-right {

                    @include media($tablet) {
                        padding-left: 20px;
                    }

                    @include media($big-mobile) {
                        padding: 0 40px;
                    }

                    @include media($small-mobile) {
                        height: 350px;
                    }
                }

                h2 {
                    margin-top: 10px;
                    font-size: 18px;
                }

                p {
                    margin: 8px 0;
                    line-height: 1.5em;

                    @include media($tablet) {
                        width: 100%;
                    }

                    @include media($big-mobile) {
                        width: 100%;
                    }
                }

                .fontana-bottle {
                    @include float(right);

                    @include media($tablet) {
                        height: 320px;
                    }

                    @include media($big-mobile) {
                        display: none;
                    }

                    @include media($small-mobile) {
                        display: none;
                    }
                }

                a {
                    @include float(right);
                    margin-right: 40px;
                    margin-top: 4px;

                    @include media($tablet) {
                        @include float(left);
                    }

                    @include media($big-mobile) {
                        @include float(left);
                    }

                    @include media($small-mobile) {
                        @include float(left);
                    }
                }
            }
        }

        .bottom-edger {
            height: 133px;
            background-image: url(../img/coffee-bottom-edger.png);
            background-repeat: no-repeat;
            background-size: 600px;
            background-position: center bottom;

            @include media($tablet) {
                background-size: 480px;
            }

            @include media($big-mobile) {
                height: 95px;
                background-size: 300px;
            }

            @include media($small-mobile) {
                height: 62px;
                background-size: 300px;
            }
        }
    }
}
