#fontana #site-wrapper #content {

	.body-content {

		article { background: #f9ead2;

			section { padding-top: 20px; padding-bottom: 30px; padding-left: 480px; background: url(../img/backgrounds/fontana-body-new.png) no-repeat; background-position: left center;

				@include media($tablet) { padding-left: 360px; background: url(../img/backgrounds/fontana-body-new-tablet.png) no-repeat; background-position: 20px 30px; }
				@include media($mobile) { padding-left: 20px; }
				@include media($big-mobile) { padding-bottom: 9%; background-position: 245px 190px; background-size: 62%; }
				@include media($small-mobile) {	padding-bottom: 32%; background-position: center 470px;	}

				img {

					@include media($mobile) { display: block; margin: 0 auto; }
				}

				h2 { margin-top: 10px; }

				p { width: 400px;

					@include media($sub-desktop) { width: auto; }
				}

				.body-list-two-column {

					li { margin-left: 0;

						@include media($tablet) { width: 100%; }
					}
				}
			}
		}
	}

	.support-content { background: #fff;

		.bottom-edger { height: 120px; background: url(../img/fontana-bottom-edger.png) no-repeat; background-size: 600px; background-position: center bottom;

			@include media($tablet){ height: 120px; background-size: 600px;	}
			@include media($mobile) { height: 100px; }
			@include media($big-mobile){ background-size: 100%; }
			@include media($small-mobile){ background-size: 480px; }
		}
	}
}