#our-brands #site-wrapper #content {

	.body-content { background-color: #cfe0e1;

		article {

			section { padding: 100px 20px 100px 390px; background-image: url(../img/backgrounds/brands-bouquet.png); background-position: 30px center; background-repeat: no-repeat;

				@include media($mobile) { padding-top: 20px; padding-left: 20px; }
				@include media($big-mobile){ padding-bottom: 33%; background-position: center 200px; background-size: 42%; }
				@include media($small-mobile){ padding-bottom: 310px; background-position: center bottom; background-size: 90%; }

				&.lang-fr { background-image: url(../img/backgrounds/brands-bouquet-fr.png); }
			}
		}
	}

	.support-content { background-color: #fff; }
}