/* Products */
#productslanding {
    background: #FFF;

    header {
        background-image: url(../img/products-header.jpg);
        background-position: center bottom;
        color: #FFF;
        height: 550px;
        padding: 150px 0 0 120px;
        width: 100%;

        @include media($tablet) {
            background-image: url(../img/products-header-1100.jpg);
            padding-left: 20px;
        }

        @include media($big_mobile) {
            background-image: url(../img/products-header-767.jpg);
            padding: 100px 0 0;
            height: 320px;
        }

        @include media($small-mobile) {
            background-image: url(../img/products-header-479.jpg);
            padding: 110px 20px 0;
            height: 568px;
            text-align: center;
        }

        h1 {
            @include fonts-black;
            color: #fff;
            font-size: 4em;
            line-height: 0.9em;
            padding-top: 8px;
            text-transform: uppercase;

            @include media($mobile) {
                text-align: center;
            }

            @include media($big_mobile) {
                font-size: 3em;
            }

            @include media($small-mobile) {
                font-size: 2em;
            }
        }

        p {
            color: #FFF;
            @include fonts-light;
            font-size: 1.3em;
            line-height: 1.3em;
            margin-top: 10px;
            width: 48%;

            @include media($mobile) {
                font-size: 1.1em;
                margin: 0 auto;
                text-align: center;
                width: 75%;
            }

            @include media($small-mobile) {
                width: auto;
            }
        }
    }

    .body-content {
        background: #000 url(../img/product-support.jpg) no-repeat top center;
        color: #383635;
        height: 400px;
        overflow: hidden;

        @include media($small-mobile) {
            background-image: url(../img/product-support-479.jpg);
            height: 650px;
        }

        section {
            display: block;
            margin: 0 auto;
            max-width: 980px;
            position: relative;
        }

        article {
            padding: 90px 10px 90px 47.5%;

            @include media($small-mobile) {
                padding: 40px 25px;
            }
        }

        h2 {
            @include fonts-light;
            font-size: 48px;
            font-weight: normal;
            line-height: 1em;

            @include media($big_mobile) {
                font-size: 2.6em;
            }
        }

        a {
            background: #fff none repeat scroll 0 0;
            border: 1px solid #3f4042;
            border-radius: 5px;
            color: #3f4042;
            @include fonts-med;
            font-size: 14px;
            font-weight: normal;
            letter-spacing: 1px;
            margin: 1em auto 0;
            padding: 7px 10px 6px;
            text-align: center;
            text-transform: uppercase;
            -moz-transition: all 0.3875s linear 0s;
            -webkit-transition: all 0.3875s linear 0s;
            transition: all 0.3875s linear 0s;

            @include media($small-mobile) {
                display: block;
                float: none;
                width: 220px;
            }

            &:hover {
                background-color: #ededed;
            }
        }
    }
}

#fontanalanding {
    background: #F4F4F4;

    header {
        background-image: url(../img/products/fontana/header.jpg);

        @include media($tablet) {
            background-image: url(../img/products/fontana/header-1100.jpg);
        }

        @include media($big_mobile) {
            background-image: url(../img/products/fontana/header-767.jpg);
        }

        @include media($small-mobile) {
            background-image: url(../img/products/fontana/header-479.jpg);
        }
    }
}

#frappuccinolanding {
    background: #F4F4F4;

    header {
        background-image: url(../img/products/frappuccino/header.jpg);

        @include media($tablet) {
            background-image: url(../img/products/frappuccino/header-1100.jpg);
        }

        @include media($big_mobile) {
            background-image: url(../img/products/frappuccino/header-767.jpg);
        }

        @include media($small-mobile) {
            background-image: url(../img/products/frappuccino/header-479.jpg);
        }
    }
}

#miscellaneouslanding {
    background: #F4F4F4;

    header {
        background-image: url(../img/products/Miscellaneous/header.jpg);

        @include media($tablet) {
            background-image: url(../img/products/miscellaneous/header-1100.jpg);
        }

        @include media($big_mobile) {
            background-image: url(../img/products/Miscellaneous/header-767.jpg);
        }

        @include media($small-mobile) {
            background-image: url(../img/products/Miscellaneous/header-479.jpg);
        }
    }
}

#supplieslanding {
    background: #F4F4F4;

    header {
        background-image: url(../img/products/supplies/header.jpg);

        @include media($tablet) {
            background-image: url(../img/products/supplies/header-1100.jpg);
        }

        @include media($big_mobile) {
            background-image: url(../img/products/supplies/header-767.jpg);
        }

        @include media($small-mobile) {
            background-image: url(../img/products/supplies/header-479.jpg);
        }
    }
}

#tazolanding {
    background: #F4F4F4;

    header {
        background-image: url(../img/products/tazo/header.jpg);

        @include media($tablet) {
            background-image: url(../img/products/tazo/header-1100.jpg);
        }

        @include media($big_mobile) {
            background-image: url(../img/products/tazo/header-767.jpg);
        }

        @include media($small-mobile) {
            background-image: url(../img/products/tazo/header-479.jpg);
        }
    }
}



/* Product Catalog */
a.dotted-link {
    @include fonts-med;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    display: inline-block;
    font-weight: normal;
}

.catalog-back {
    text-align: right;
    height: 45px;
    margin: -45px auto 0;
    max-width: 1024px;
    position: relative;
    z-index: 50;

    @include media($tablet) {
        padding-right: 20px;
    }

    @include media($mobile) {
        text-align: center;
    }

    a {
        color: #383635;
        border-color: #383635;
        margin: 0;
        font-size: 14px;

        &.alt {
            border-color: #FFF;
            color: #FFF;
        }

        &:hover {
            border-color: #bcb7b0;
            color: #bcb7b0;
        }
    }
}

.inner-container {
    margin: 0 auto;
    max-width: 1024px;
    overflow: hidden;

    @include media($tablet) {
        padding-left: 15px;
        padding-right: 15px;
    }

    @include media($mobile) {
        padding-left: 15px;
        padding-right: 15px;
    }
}

#filter-toggle {
    @include fonts-heavy;
    background: url(../img/expander-caret.png) no-repeat 100% center;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    line-height: 1;
    padding-right: 30px;

    @include media($mobile) {
        background-position: right center;
        display: block;
        font-size: 16px;
        margin: 0 15px;
        padding: 15px 0;
    }

    &.active {
        background-image: url(../img/expander-caret-active.png);
    }
}

.filters {
    background: #E7E8E7;
    padding: 20px 0;

    @include media($mobile) {
        padding: 0;
    }

    .inner-container {
        @include media($mobile) {
            padding: 0;
        }
    }
}

#filters-holder {
    display: none;
    margin-top: 15px;

    @include media($mobile) {
        margin: 0;
    }
}

.filters-holder {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.filter {
    display: table-cell;
    padding-right: 20px;

    @include media($mobile) {
        border-top: 1px solid #BDB8B1;
        display: block;
        padding: 15px;
    }

    h6 {
        @include fonts-heavy;
        font-size: 16px;

        @include media($mobile) {
            background: url(../img/filter-status.png) no-repeat 100% 0;
            background-size: 17px 31px;
            cursor: pointer;
        }

        &.active {
            @include media($mobile) {
                background-position: 100% -16px;
            }
        }
    }

    div {
        background: url(../img/filter-unchecked.png) no-repeat 0 0;
        font-size: 13px;
        margin-top: 10px;
        min-height: 18px;
        padding-left: 25px;

        @include media($mobile) {
            display: none;
        }

        &.active {
            background-image: url(../img/filter-checked.png);
        }

        strong {
            display: block;
        }
    }

    input {
        display: inline-block;
        height: 20px;
        margin: -6px 5px 0 -26px;
        opacity: 0;
        vertical-align: middle;
        width: 20px;
    }
}

.filter-summary {
    background: #FFF;
    color: #000;
    padding: 25px 0 15px;
}

#filter-summary {
    @include fonts-heavy;
    display: inline-block;
    font-size: 28px;
    line-height: 1.1;
    margin: 0 15px 12px 0;

    @include media($mobile) {
        font-size: 16px;
    }
}

.filter-tag-list {
    display: inline-block;

    & > span {
        @include fonts-heavy;
        background-color: #FFF;
        border: 1px solid #CCC;
        border-radius: 4px;
        color: #3C3834;
        cursor: pointer;
        font-size: 14px;
        display: inline-block;
        margin: 0 12px 12px 0;
        padding: 4px 10px;
        vertical-align: middle;
    }

    & > span:after {
        background: url(../img/filter-tag-close.png) no-repeat 0 0;
        background-size: 10px 10px;
        content: "";
        display: inline-block;
        font-size: 1.1em;
        height: 10px;
        margin-left: 8px;
        width: 10px;
    }
}

#reset-filters {
    @include fonts-heavy;
    background-color: #3D3935;
    border-radius: 4px;
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 0 12px 12px 0;
    padding: 6px 20px;
    vertical-align: middle;
    text-transform: uppercase;
    transition: background-color 125ms ease-in-out 0s;
}

.product-list-v2 {
    padding-bottom: 15px;
    padding-top: 15px;

    .inner-container {
        padding: 0 0 20px;
    }

    section {
        display: block;
        position: relative;
        width: 100%;
    }
}

.product-v2 {
    float: left;
    padding: 10px;
    width: 25%;

    @include media($tablet) {
        width: 33%;
    }

    @include media($mobile) {
        float: none;
        margin: 0 auto;
        max-width: 479px;
        padding: 15px;
        width: 100%;
    }

    img {
        height: 165px;
    }

    & > div {
        background: #FFF;
        padding-top: 15px;
        text-align: center;

        & > img {
            max-height: 175px;
            height: 175px;
        }
    }

    .product-list-desc {
        padding: 15px 15px 20px;
    }

    h3, .h3 {
        @include fonts-heavy;
        color: #383635;
        display: block;
        font-size: 18px;
        height: 40px;
        line-height: 20px;

        @include media($mobile) {
            font-size: 22px;
            line-height: 24px;
        }

        @include media($small-mobile) {
            height: auto;
        }
    }

    p {
        font-size: 14px;
        height: 65px;
        line-height: 16px;

        @include media($small-mobile) {
            height: auto;
        }
    }

    .btn {
        background-color: transparent;
        display: block;
        padding: 10px 15px;
    }
}

.btn-white {
    background: #FFF;
}

.btn:hover {
    background: #CCC;
    color: #393736;
}

.btn-green {
    background: #245557;
    color: #FFF;

    &:hover {
        background: #A5B7B5;
    }
}

a.btn {
    text-decoration: none !important;
}

.add-to-favorite {
    @include fonts-heavy;
    color: #245557;
    display: block;
    font-size: 13px;
    line-height: 20px;
    ;
    margin: 15px 0;
    text-transform: uppercase;

    &:hover {
        color: #245557;
    }

    .fa {
        color: #000;
        font-size: 150%;
        margin-right: 5px;
    }
}

.quick-add {
    @include fonts-heavy;
    background: #245557 url(../img/expander-caret-white.png) no-repeat 90% center;
    color: #FFF;
    cursor: pointer;
    font-size: 15px;
    line-height: 36px;
    text-transform: uppercase;

    &.active {
        background-image: url(../img/expander-caret-white-active.png);
        position: relative;

        &:before, &:after {
            border-left: 25px solid transparent;
            border-right: 25px solid transparent;
            border-top: 25px solid #F4F4F4;
            bottom: -34px;
            content: "";
            left: 0;
            margin: auto;
            position: absolute;
            right: 0;
            width: 1px;
            z-index: 10;
        }

        &:before {
            border-top-color: #245557;
            bottom: -25px;
            z-index: 15;
        }
    }

    @include media($mobile) {
        line-height: 40px;
    }
}

.quick-add-dialog {
    background: #FFF;
    display: none;
    font-size: 16px;
    left: 0;
    line-height: 20px;
    margin-top: 10px;
    height: 390px;
    position: absolute;
    width: 100%;
    z-index: 5;

    @include media($mobile) {
        height: auto;
    }

    @include media($small-mobile) {
        margin: -5px 0 15px;
        position: relative;
        width: auto;
    }

    .inner-container {
        height: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    h2 {
        @include fonts-med;
        font-size: 24px;
        line-height: 28px;
        padding-top: 25px;
        margin-bottom: 20px;

        @include media($mobile) {
            padding-top: 0;
        }
    }

    .add-to-bag {
        max-width: 320px;
        width: 100%;
    }
}

.quick-add-image {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
    height: 100%;
    margin-left: 10px;
    overflow: hidden;
    width: 44%;

    @include media($mobile) {
        background-position: top center;
        margin-left: 0;
        float: none;
        height: 320px;
        width: 100%;
    }

    &.clip {
        background-position: top center;
    }
}

.quick-add-details {
    float: right;
    padding-right: 20px;
    width: 53%;

    @include media($mobile) {
        float: none;
        padding: 20px;
        width: 100%;
    }
}

.product-dropdown {
    @include fonts-med;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    font-size: 0.8em;
    letter-spacing: 1px;
    margin-bottom: 10px;
    max-width: 320px;
    padding: 10px 50px 6px 15px;
    position: relative;
    text-transform: uppercase;
    -moz-transition: all 0.25s linear 0s;
    -webkit-transition: all 0.25s linear 0s;
    transition: all 0.25s linear 0s;

    select {
        -webkit-appearance: menulist-button;
        cursor: pointer;
        height: 37px;
        left: 0;
        opacity: 0;
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 108%;
        z-index: 10;
    }

    option {
        font-size: 14px;
        padding: 2.5px 0;
    }
}

.quick-add-dialog .product-dropdown {
    background: #EDEDED url(../img/expander-caret.png) no-repeat 94% center;
    color: #3F4042;
}

.product-decaffeinated {
    @include fonts-heavy;
    color: #245557;
    margin: 18px 0;

    &:hover {
        color: #245557;
        text-decoration: underline;
    }
}

.add-to-bag {
    margin-bottom: 15px;

    input {
        @include fonts-med;
        background: #EDEDED;
        border-radius: 5px;
        border: 1px solid #EDEDED;
        color: #BDB8B1;
        display: inline-block;
        float: left;
        font-weight: normal;
        letter-spacing: 0.075em;
        padding: 8px 0;
        text-align: center;
        text-transform: none;
        width: 40%;

        &:focus {
            color: #000;
        }
    }

    .btn {
        background: #245557;
        color: #FFF;
        height: 38px;
        float: right;
        width: 57%;

        &:hover {
            background: #A5B7B5;
        }
    }

    &.na {
        border: 2px solid #245557;
        border-radius: 5px;
        padding: 7px 20px 5px;
    }
}



/* Product Details */
.product-details {
    background: #000 url(../img/coffee/pdp-header.jpg) no-repeat top center;
    padding-top: 150px;

    .inner-container {
        @include media($big-mobile) {
            max-width: 479px;
        }
    }

    .back-link {
        font-size: 13px;
        height: 30px;
        margin-top: -30px;
        text-align: right;

        @include media($mobile) {
            text-align: center;
        }

        a {
            color: #FFF;

            &:hover {
                color: #E4E4E4;
                text-decoration: none;
            }
        }
    }

    .product-details-bg {
        background: #D4D0C4 url(../img/coffee/sirenBkgrnd.jpg) no-repeat 0 0;
        background-size: cover;

        &.pdp-bg-fontana {
            background-image: url(../img/coffee/pdp_bg_fontana.jpg);
        }

        &.pdp-bg-sbc {
            background-image: url(../img/coffee/sbc_products.jpg);
        }

        &.pdp-bg-tazo {
            background-image: url(../img/coffee/pdp_bg_tazo.jpg);
        }
    }
}

.product-details-left a, .product-details-right a {
    color: #245557;
}

.product-details a:hover {
    color: #245557;
    text-decoration: underline;
}

.product-details-left {
    float: left;
    width: 58%;

    @include media($mobile) {
        float: none;
        width: 100%;
    }
}

.product-details-right {
    float: right;
    width: 39%;

    @include media($mobile) {
        float: none;
        width: 100%;
    }
}

.product-details-title {
    font-size: 44px;
    line-height: 1.1;
    margin: 20px 0 25px;

    @include media($tablet) {
        font-size: 2.25em;
    }

    @include media($mobile) {
        font-size: 1.8em;
    }
}

.product-details-strong {
    @include fonts-heavy;
    margin-bottom: 20px;
}

.product-details-top {
    background-color: rgba(242, 242, 242, 0.5);

    img {
        max-width: 100%;
    }

    .product-dropdown {
        background: #FFF url(../img/expander-caret.png) no-repeat 94% center;
        color: #3F4042;
        max-width: none;
    }

    .inner-container {
        @include media($small-mobile) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .product-details-right {
        @include media($small-mobile) {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

.product-details-mid {
    padding-top: 50px;
    padding-bottom: 50px;
}

.product-details-desc-title {
    @include fonts-heavy;
    font-size: 37px;
    line-height: 1.1;

    @include media($tablet) {
        font-size: 2em;
    }

    @include media($mobile) {
        font-size: 1.5em;
    }
}

.product-details-ads {
    &:after {
        clear: both;
        content: " ";
        display: table;
    }

    & > div {
        float: left;
        padding: 15px 15px 15px 0;
        width: 312px;

        @include media($mobile) {
            float: none;
            padding: 0;
            margin-top: 15px;
            width: 100%;
        }
    }

    img {
        max-width: 100%;
    }
}

#product-details-meta {
    @include media($mobile) {
        display: none;
    }
}

.related-info {
    @include fonts-heavy;
    padding-left: 25px;
    position: relative;

    .fa {
        left: 0;
        position: absolute;
        top: 3px;
    }

    a {
        display: block;
        margin: 0.5em 0;
    }
}

.product-sidebox {
    border-bottom: 1px solid #F4F4F4;
    font-size: 18px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.product-sidebox-label {
    @include fonts-heavy;
    font-size: 13px;
    text-transform: uppercase;
}

.product-logos img {
    margin-left: 10px;
}

.product-line {
    background: #E9EAE4;
    padding: 15px 0;
}

.product-line-title {
    @include fonts-heavy;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 10px;
}
