#welcome-video {

	#site-wrapper {

		#content { min-height: 100%; height:100%; background: #000 url(../img/backgrounds/home-bg-cover-dark.jpg) no-repeat; background-size: cover; -ms-behavior: url(/backgroundsize.min.htc);

			header { background: transparent; }
		}
	}
}