#your-business #site-wrapper #content {

	@include media($sub-desktop){ padding-top: 0; }

	.body-content { background: #d3d3ca;

		article {

			section { background-image: url(../img/yb-body.png); }
		}
	}

	.support-content { background: #fff; background-size: cover; }
	
	.bottom-edger { display: none; }
}