@using System.Web.Mvc.Html
@using Umbraco.Web
@using solutions.starbucks.web.Controllers
@using solutions.starbucks.Model
@model EmailViewModel

@{
    Html.EnableClientValidation(true);
    Html.EnableUnobtrusiveJavaScript(true);
    
    

}
@if (Convert.ToBoolean(TempData["Success"]))
{
    <h3>Your message was sent! You should hear back from a representative soon. </h3>
}
else
{
    <h3>Email Starbucks for Account Number Retrieval</h3>
    using (Html.BeginUmbracoForm<RegisterSurfaceController>("ProcessCustomerServiceEmail"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <fieldset>

                <div class="grouping">
                    <label>From Email</label>
                    @Html.TextBoxFor(model => model.FromEmail, new{ @class = "form-control", placeholder = "From Email" })
                    @Html.ValidationMessageFor(model => model.FromEmail, string.Empty, new { @class= "help-block" })
                </div>

                <div class="grouping">
                    <label>Message</label>
                    <textarea id="Message" name="Message" cols="50" rows="10">I would like to know my account number for access to solutions.starbucks.com. Please contact me at this email.</textarea>
                </div>
           
            <button type="submit" class="btn btn-default">Continue</button>

        </fieldset>
    

    }    
}