.solutions404 {
	
	#content { padding-top: 150px; height: 100%;

		@include media($mobile) { padding-top: 100px; }

		.error-content-wrapper { position: relative; padding-bottom: 40px; min-height: 100%; background: rgb(255, 255, 255);

			.error-content { position: relative; @include clearfix; @include blockcenter; padding: 40px 0px 120px 360px; width: 660px; min-height: 100%; background: url(../img/404-error-cup.png) left 40px no-repeat;

				@include media($mobile){ width: 320px; padding: 20px 20px 280px 20px; background-position: 50px bottom; background-size: 90%; }

				h1 { padding-top: 17px; color: #3d3935; @include fonts-black; font-size: 40px; line-height: 1em; }

				h2 { margin-top: 14px; margin-bottom: 40px; color: #3d3935; @include fonts-light; font-size: 30px; }

				p { color: #3d3935; line-height: 10px; }

				.search-wrapper {

					form { @include clearfix; float: none; margin-top: 20px;

						::-webkit-input-placeholder { color: #bcb7b0; }
						:-moz-placeholder { /* Firefox 18- */ color: #bcb7b0; }
						::-moz-placeholder { /* Firefox 19+ */ color: #bcb7b0; }
						:-ms-input-placeholder { color: #bcb7b0; }

						label { display: block; margin-bottom: 6px; color: #3d3935; @include fonts-heavy; font-size: 14px; text-transform: uppercase; }

						input[type="text"] { @include float(left); padding: 7px 7px 7px 12px; width: 238px; @include border-radius(5px); border: 1px solid #bcb7b0; background: #f6f7f7; color: #3d3935; @include fonts-med; font-size: 13px; text-align: left; letter-spacing: .075em; text-transform: none; }
						
						button[type="submit"] { display: inline; margin-left: 10px; padding: 0; border: 0; background: transparent;
					
							img { width: 32px; height: 32px; }
						}
					}
				}
			}
		}
	}
}