@using solutions.starbucks.Model
@using System.Web.Mvc.Html
@using solutions.starbucks.web.Controllers
@using solutions.starbucks.Model
@*@using solutions.starbucks.Model.Pocos*@
@using Umbraco.Web
@model SignUpSurfaceController.SignUpEmailModel
       
 @{
     using (Html.BeginUmbracoForm<SignUpSurfaceController>("ProcessSignUpEmail"))
     {
    <article id="signUpEmail">
        <section>
            <div class="form-wrapper">
                The Starter Kit opt-in timeframe has ended. Please contact your Starbucks representative for more information.
@*                <form>
                    <fieldset>
                        @Html.HiddenFor(signUpModel => signUpModel.SignUpFormName)
                        <div class="grouping-wrapper">
                            <div class="grouping email"><label for="EmailAddress"><span class="field-label">Email*</span><span class="field-validation-valid help-block" data-valmsg-for="EmailAddress" data-valmsg-replace="true"></span></label> <input class="form-control" data-val="true" data-val-email="Enter a valid email address" data-val-remote-additionalfields="*.EmailAddress" data-val-required="Enter your email address" id="EmailAddress" name="EmailAddress" placeholder="Email Address" type="text" /></div>
                            <div class="grouping name"><label for="Name"><span class="field-label">Name*</span><span class="field-validation-valid field-error" data-valmsg-for="Name" data-valmsg-replace="true"></span></label> <input class="form-control" data-val="true" data-val-required="Enter your name" id="Name" name="Name" placeholder="Your Name" type="text" value="" /></div>
                            <div class="grouping businessname"><label for="BusinessName"><span class="field-label">Business Name*</span><span class="field-validation-valid field-error" data-valmsg-for="BusinessName" data-valmsg-replace="true"></span></label> <input class="form-control" data-val="true" data-val-required="Enter Business Name" id="BusinessName" name="BusinessName" placeholder="Business Name" type="text" value="" /></div>
                            <div class="grouping phonenumber"><label for="PhoneNumber"><span class="field-label">Phone*</span><span class="field-validation-valid field-error" data-valmsg-for="PhoneNumber" data-valmsg-replace="true"></span></label> <input name="PhoneNumber" id="PhoneNumber" data-val="true" data-val-required="Enter Phone Number" type="tel" pattern="[0-9]*" placeholder="Phone Number" class="form-control" /></div>
                            <div class="grouping accountnumber"><label for="AccountNumber"><span class="field-label">Account Number*</span><span class="field-validation-valid field-error" data-valmsg-for="AccountNumber" data-valmsg-replace="true"></span></label> <input name="AccountNumber" id="AccountNumber" data-val="true" data-val-required="Enter Account Number" type="tel" pattern="[0-9]*" placeholder="Account Number" class="form-control" /></div>
                            <div class="grouping choose-segment">
                                <label for="Segment"><span class="field-label">Choose Your Segment</span></label><select id="ChooseSegment" name="ChooseSegment" class="ttc-select segment">
                                    <option value="Business-Industry">Business &amp; Industry</option>
                                    <option value="College-University">College &amp; University</option>
                                    <option value="Fine-Dining">Fine Dining</option>
                                    <option value="Government-Military">Government &amp; Military</option>
                                    <option value="Healthcare">Healthcare</option>
                                    <option value="Hotel-Lodging">Hotel &amp; Lodging</option>
                                    <option value="Office-Coffee">Office Coffee</option>
                                    <option value="Travel-Recreation">Travel &amp; Recreation</option>
                                </select>
                            </div>
                            <div class="grouping number-kits">
                                <label for="NumberKits"><span class="field-label">Number of Starter Kits**</span></label><select id="NumberKits" name="NumberKits" class="ttc-select quantity">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                        </div>
                        <div>
                            <div class="submit"><button type="submit" class="btn" >Submit</button></div>
                            <div class="legal">
                                <p><span class="notices">*</span> Indicates required field.</p>
                                <p><span class="notices">**</span> We recommend one kit per participating venue. Please contact your Starbucks Representative to order additional kits (maximum of 5).</p>
                            </div>
                        </div>
                    </fieldset>
                </form>*@
            </div>
            @*<p class="ttc-after-form">If you’d like to learn more about our wonderfully wide variety of Tazo® Tea solutions, contact your Starbucks Representative.</p>*@
        </section>
    </article>
     }
}