<div class="program-help-overlay"></div>
<ol id="program-tour" data-joyride>
    <li class="joyride-tip-guide" data-id="joyride-program-detail" data-button="Next Step">
        <p>Find detailed information about this program here.</p>
    </li>
    <li class="joyride-tip-guide" data-id="joyride-addbtn0" data-button="Next Step">
        <p>This button will add the corresponding beverages to your menu.</p>
    </li>
    <li class="joyride-tip-guide" data-id="joyride-support-products" data-button="Next Step">
        <p>This button will help you add necessary supporting products like cups and lids.</p>
    </li>
    <li class="joyride-tip-guide" data-id="joyride-all-products" data-button="Next Step">
        <p>This button will allow you to quickly view all products related to this program.</p>
    </li>
    <li class="joyride-tip-guide" data-id="joyride-download-recipes" data-button="Next Step">
        <p>Download and reference recipe cards here.</p>
    </li>
    <li class="joyride-tip-guide" data-id="joyride-slider0" data-button="Next Step">
        <p>Move the sliders to adjust ingredient quantities for each beverage.</p>
    </li>
    <li class="joyride-tip-guide" data-id="joyride-marketing0" data-button="Next Step">
        <p>Select desired marketing materials.</p>
    </li>
    <li class="joyride-tip-guide" data-id="joyride-support-products-selector" data-button="Next Step">
        <p>Choose the appropriate supporting products from this drop down menu and select your quantity.</p>
    </li>
    <li class="joyride-tip-guide" data-id="progSubmit" data-button="Finished" class="final-step">
        <p>This button will add current quantity fields to your order and bring you to the next step where you can view all program products.</p>
    </li>
</ol>
<ol id="program-tour-tablet" data-joyride>
    <li class="joyride-tip-guide" data-id="joyride-program-detail" data-button="Next Step">
        <p>Find detailed information about this program here.</p>
    </li>
    <li class="joyride-tip-guide" data-id="joyride-addbtn0" data-options="tipLocation:left;" data-button="Next Step">
        <p>This button will add the corresponding beverages to your menu.</p>
    </li>
    <li class="joyride-tip-guide" data-id="joyride-support-products" data-options="tipLocation:right;" data-button="Next Step">
        <p>This button will help you add necessary supporting products like cups and lids.</p>
    </li>
    <li class="joyride-tip-guide" data-id="joyride-all-products" data-options="tipLocation:left;" data-button="Next Step">
        <p>This button will allow you to quickly view all products related to this program.</p>
    </li>
    <li class="joyride-tip-guide" data-id="joyride-download-recipes" data-options="tipLocation:top;" data-button="Next Step">
        <p>Download and reference recipe cards here.</p>
    </li>
    <li class="joyride-tip-guide" data-id="joyride-slider0" data-options="tipLocation:left;" data-button="Next Step">
        <p>Move the sliders to adjust ingredient quantities for each beverage.</p>
    </li>
    <li class="joyride-tip-guide" data-id="joyride-marketing0" data-options="tipLocation:top;" data-button="Next Step">
        <p>Select desired marketing materials.</p>
    </li>
    <li class="joyride-tip-guide" data-id="joyride-support-products-selector" data-button="Next Step">
        <p>Choose the appropriate supporting products from this drop down menu and select your quantity.</p>
    </li>
    <li class="joyride-tip-guide" data-id="progSubmit" data-options="tipLocation:left;" data-button="Finished" class="final-step">
        <p>This button will add current quantity fields to your order and bring you to the next step where you can view all program products.</p>
    </li>
</ol>
<ol id="program-tour-mobile" data-joyride>
    <li class="joyride-tip-guide" data-id="joyride-program-detail" data-button="Next Step">
        <p>Find detailed information about this program here.</p>
    </li>
    <li class="joyride-tip-guide" data-id="joyride-addbtn0" data-button="Next Step">
        <p>This button will add the corresponding beverages to your menu.</p>
    </li>
    <li class="joyride-tip-guide" data-id="joyride-support-products" data-button="Next Step">
        <p>This button will help you add necessary supporting products like cups and lids.</p>
    </li>
    <li class="joyride-tip-guide" data-id="joyride-all-products" data-button="Next Step">
        <p>This button will allow you to quickly view all products related to this program.</p>
    </li>
    <li class="joyride-tip-guide" data-id="joyride-download-recipes" data-button="Next Step">
        <p>Download and reference recipe cards here.</p>
    </li>
    <li class="joyride-tip-guide" data-id="joyride-slider0" data-button="Next Step">
        <p>Move the sliders to adjust ingredient quantities for each beverage.</p>
    </li>
    <li class="joyride-tip-guide" data-id="joyride-marketing0" data-options="tipLocation:top;" data-button="Next Step">
        <p>Select desired marketing materials.</p>
    </li>
    <li class="joyride-tip-guide" data-id="joyride-support-products-selector" data-options="tipLocation:top;" data-button="Next Step">
        <p>Choose the appropriate supporting products from this drop down menu and select your quantity.</p>
    </li>
    <li class="joyride-tip-guide" data-id="progSubmit" data-options="tipLocation:top;" data-button="Finished" class="final-step">
        <p>This button will add current quantity fields to your order and bring you to the next step where you can view all program products.</p>
    </li>
</ol>