<h3 class="mt-20 support-products-title">Cups</h3>

<ul class="supporting-product-list">
    <li class="recipe-ingredient">
        <span class="prod-name">Hot cups - 16 oz - 11033868 - 1000/case</span>
        <span class="prod-qty">
            <input id="SKU-11033868" name="SKU-11033868" class="qty-input" type="number" min="0" pattern="\d+" value="0" maxlength="2" data-role="none" />
            <input id="SKU-11033868-SiteId" name="SKU-11033868-SiteId" type="hidden" value="SBC" />
        </span>
    </li>
    <li class="recipe-ingredient">
        <span class="prod-name">Cold cups - 16 oz. - 11008695 - 1000/case</span>
        <span class="prod-qty">
            <input id="SKU-11008695" name="SKU-11008695" class="qty-input" type="number" min="0" pattern="\d+" value="0" maxlength="2" data-role="none" />
            <input id="SKU-11008695-SiteId" name="SKU-11008695-SiteId" type="hidden" value="SBC" />
        </span>
    </li>
</ul>


<h3 class="mt-20 support-products-title">Lids</h3>
<ul class="supporting-product-list">
    <li class="recipe-ingredient">
        <span class="prod-name">Hot Cup Lids - 12/16/20 oz - 1117280 - 1000/case</span>
        <span class="prod-qty">
            <input id="SKU-1117280" name="SKU-1117280" class="qty-input" type="number" min="0" pattern="\d+" value="0" maxlength="2" data-role="none" />
        </span>
    </li>
    <li class="recipe-ingredient">
        <span class="prod-name">Cold Cup Lids (flat) - 16/24 oz. - 1237505 - 1000/case</span>
        <span class="prod-qty">
            <input id="SKU-1237505" name="SKU-1237505" class="qty-input" type="number" min="0" pattern="\d+" value="0" maxlength="2" data-role="none" />
        </span>
    </li>
</ul>

<h3 class="mt-20 support-products-title">Napkins</h3>
<ul class="supporting-product-list">
    <li class="recipe-ingredient">
        <span class="prod-name">Napkins - 6.5&#34; x 5&#34; folded - 11008712 - 6,000/case</span>
        <span class="prod-qty">
            <input id="SKU-11008712" name="SKU-11008712" class="qty-input" type="number" min="0" pattern="\d+" value="0" maxlength="2" data-role="none" />
            <input id="SKU-1117280-SiteId" name="SKU-1117280-SiteId" type="hidden" value="SBC" />
        </span>
    </li>
</ul>


<h3 class="mt-20 support-products-title">Cup Sleeves</h3>
<ul class="supporting-product-list">
    <li class="recipe-ingredient">
        <span class="prod-name">Cup sleeves - 11020705 - 1380/case</span>
        <span class="prod-qty">
            <input id="SKU-11020705" name="SKU-11020705" class="qty-input" type="number" min="0" pattern="\d+" value="0" maxlength="2" data-role="none" />
            <input id="SKU-11020705-SiteId" name="SKU-11020705-SiteId" type="hidden" value="SBC" />
        </span>
    </li>
</ul>

<h3 class="mt-20 support-products-title">Decals</h3>
<ul class="supporting-product-list">
    <li class="recipe-ingredient">
        <span class="prod-name">Hot Water Decal - 11042194</span>
        <span class="prod-qty">
            <input id="SKU-11042194" name="SKU-11042194" class="qty-input" type="number" min="0" pattern="\d+" value="0" maxlength="2" data-role="none" />
            <input id="SKU-11042194-SiteId" name="SKU-11042194-SiteId" type="hidden" value="SBC" />
        </span>
    </li>
</ul>


<h3 class="mt-20 support-products-title">Iced Tea Wraps</h3>
<ul class="supporting-product-list">
    <li class="recipe-ingredient">
        <span class="prod-name">3.5 Gallon Iced Tea Wrap, Tazo (Round) - 11046762</span>
        <span class="prod-qty">
            <input id="SKU-11046762" name="SKU-11046762" class="qty-input" type="number" min="0" pattern="\d+" value="0" maxlength="2" data-role="none" />
        </span>
    </li>
</ul>


<h3 class="mt-20 support-products-title">Tea Racks</h3>
<ul class="supporting-product-list">
    <li class="recipe-ingredient">
        <span class="prod-name">Tea racks (2 tier) - 11&#34;w x 12&#34; h x 3&#34; d - 11021875 - 1/each</span>
        <span class="prod-qty">
            <input id="SKU-11021875" name="SKU-11021875" class="qty-input" type="number" min="0" pattern="\d+" value="0" maxlength="2" data-role="none" />
        </span>
    </li>
    <li class="recipe-ingredient">
        <span class="prod-name">Tea racks (3 tier) - 11&#34;w x 17&#34;h x 3&#34;d - 11021876 - 1/each</span>
        <span class="prod-qty">
            <input id="SKU-11021876" name="SKU-11021876" class="qty-input" type="number" min="0" pattern="\d+" value="0" maxlength="2" data-role="none" />
        </span>
    </li>
</ul>


<h3 class="mt-20 support-products-title">Filterbags</h3>
<ul class="supporting-product-list">
    <li class="recipe-ingredient">
        <span class="prod-name">2-Tier Filterbag Refills For Starter Kit - 11004215 - 1/each</span>
        <span class="prod-qty">
            <input id="SKU-11004215" name="SKU-11004215" class="qty-input" type="number" min="0" pattern="\d+" value="0" maxlength="2" data-role="none" />
        </span>
    </li>
    <li class="recipe-ingredient">
        <span class="prod-name">Tazo&reg; Assorted Filterbag Tea - 153966 - 1/each</span>
        <span class="prod-qty">
            <input id="SKU-153966" name="SKU-153966" class="qty-input" type="number" min="0" pattern="\d+" value="0" maxlength="2" data-role="none" />
        </span>
    </li>
</ul>

<h3 class="mt-20 support-products-title">Iced Tea Decals</h3>
<ul class="supporting-product-list">
    <li class="recipe-ingredient">
        <span class="prod-name">Iced Passion Decal - 11047228</span>
        <span class="prod-qty">
            <input id="SKU-11047228" name="SKU-11047228" class="qty-input" type="number" min="0" pattern="\d+" value="0" maxlength="2" data-role="none" />
        </span>
    </li>
    <li class="recipe-ingredient">
        <span class="prod-name">Iced Black Tea Decal - 11047231</span>
        <span class="prod-qty">
            <input id="SKU-11047231" name="SKU-11047231" class="qty-input" type="number" min="0" pattern="\d+" value="0" maxlength="2" data-role="none" />
        </span>
    </li>
    <li class="recipe-ingredient">
        <span class="prod-name">Iced Tropic Tea Decal - 11047229</span>
        <span class="prod-qty">
            <input id="SKU-11047229" name="SKU-11047229" class="qty-input" type="number" min="0" pattern="\d+" value="0" maxlength="2" data-role="none" />
        </span>
    </li>
    <li class="recipe-ingredient">
        <span class="prod-name">Iced Green Tea Decal - 11047230</span>
        <span class="prod-qty">
            <input id="SKU-11047230" name="SKU-11047230" class="qty-input" type="number" min="0" pattern="\d+" value="0" maxlength="2" data-role="none" />
        </span>
    </li>
</ul>