#starbucks #site-wrapper #content {

    .body-content {

        &.brand-starbucks {
            background: #fff;

            section {
                padding-left: 220px;
                background: url(../img/backgrounds/sbx-coffee.png) no-repeat;
                background-position: left 70%;

                @include media($tablet) {
                    padding-left: 280px;
                    background-position: 30px 60px;
                    background-size: 230px;
                }

                @include media($mobile) {
                    padding-left: 20px;
                    background: url(../img/coffee-bottom-edger.png) no-repeat;
                    background-position: center bottom;
                    background-size: 300px;
                }

                @include media($big-mobile) {
                    padding-bottom: 9%;
                }

                @include media($small-mobile) {
                    padding-bottom: 16%;
                }
            }
        }
    }

    .support-content {
        background: #fff;

        article {
            background-color: rgb(255,255,255);

            &.brand-frappuccino {
                background: $tan;

                section {
                    padding: 155px 450px 155px 20px;
                    background-image: url(../img/sbx-frap-body.png);
                    background-repeat: no-repeat;
                    background-position: right center;

                    @include media($mobile) {
                        padding-top: 20px;
                        padding-right: 20px;
                        padding-bottom: 40%;
                        background: url(../img/frap-body-mobile.png) no-repeat;
                        background-size: auto;
                        background-position: center bottom;
                    }

                    &.ca-en, &.ca-fr {
                        padding-bottom: 340px;
                        background-image: url(../img/sbx-frap-body-fr.png);
                    }
                }
            }
        }
    }
}
